[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dashboard-form >div >label{
	display: block;
}


#report-date-picker {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;			    
    border: 1px solid #A4A4A4;
    min-height: 14px;
    border-radius: 2px;
}

#summary-1 {			
	/*background-color: rgba(0, 122, 255, 0.2);*/
    text-align: center;
    font-family: arial;
    color: #1d1d1d;
    font-size: 24px;
    font-weight: bold;
	margin: 15px 0px;
 			padding: 30px;
 			border-radius: 3px;
}

#summary-1 label {			
	font-family: arial;
    color: #5b5b5b;
    font-size: 12pt;
    font-weight: normal;
   }

#summary-2 {
	margin: 15px 0px;
 			padding: 30px;
 			border-radius: 3px;
}

#summary-2 .header td {
	color: #1d1d1d;
	padding-bottom: 16px;
	line-height: 26px;
 			/*font-size: 16pt;*/
}

#summary-2 .header .glyphicons {
	padding: 12px;
}			

#summary-2 .details {
	font-family: arial;
    color: #5b5b5b;
    font-size: 12pt;
    font-weight: normal;
}

#summary-2 .details label {
	font-size: 12px;
	padding-right: 8px;
	padding-top: 4px;
}

#summary-2 .details span {
	float: right;
	font-family: arial;
    font-weight: bold;
    color: #1d1d1d;
}

.SumoSelect {
	width: 100%;
}

.SumoSelect .select-all {
	height: 38px;
}

.selected-terminals-list {
	list-style: none;
    padding: 0px;
    font-style: italic;
    color: #5b5b5b;
}

.selected-terminals-list > li {
	display: inline-block;				
}

.selected-terminals-list > li:not(:last-child)::after {
    content: ",";
    margin: 0 .25em;
}

#parameter-info {
	margin: 15px 0px;
    padding: 30px;
    border-radius: 3px;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    z-index: 9999;
    font-size: 30px;
    text-align: center;
    padding-top: 40vh;
    color: rgb(255 255 255 / 90%);    
}

#groups-select {
	color: #000;
    padding: 4px;
    border-radius: 4px;
}


