/*backgrounds*/
/*.header{
  background-image: url('../images/background-sprite.png');
  background-position: -0px top;
	background-repeat: no-repeat;
}*/

#message-display-container {
  background-image: url('../images/background-sprite.png');
  background-position: -736px 5px;
	background-repeat: no-repeat;
}

/*#glider-column{
  background-image: url('../images/background-sprite.png');
  background-position: -1013px top;
    background-repeat: no-repeat;
}*/

/*#search-product-column {
  background-image: url('../images/background-sprite.png');
  background-position: -1169px top;
	background-repeat: no-repeat;
}*/

#search-product-bg1 {
	background-image: url(../img/search-product-bg1.png);
	background-repeat: no-repeat;
}

#search-product-bg2 {
	background-image: url(../img/search-product-bg2.png);
	background-repeat: repeat-y;
}

#search-product-bg3 {
	background-image: url(../img/search-product-bg3.png);
	background-repeat: no-repeat;
}

/*#shopping-cart-column {
  background-image: url('../images/background-sprite.png');
  background-position: -1454px top;
	background-repeat: no-repeat;
}*/

#shopping-cart-column-header {
	background-image: url(../img/cart-bg1.png);
	background-repeat: no-repeat;
}

#shopping-cart-line-details-container {
	background-image: url(../img/cart-bg2.png);
	background-repeat: repeat-y;
}

#shopping-cart-bg3 {
	background-image: url(../img/cart-bg3.png);
	background-repeat: no-repeat;
}

/*#footer_img {
  background-image: url('../images/background-sprite.png');
  background-position: -1769px 2px;
	background-repeat: no-repeat;
}*/

/*#right-side {
  background-image: url('../images/background-sprite.png');
  background-position: -2502px top;
	background-repeat: no-repeat;
}*/

#right-side {
  background-image: url('../img/right_bg1.png');
	background-repeat: repeat-y;
}

.dashboard-header{
  background-image: url('../images/background-sprite.png');
  background-position: -2811px top;
	background-repeat:no-repeat;
}

.report-container {
  background-image: url('../images/background-sprite.png');
  background-position: -3537px top;
	background-repeat:no-repeat;
}

#report {
  background-image: url('../images/background-sprite.png');
  background-position: -4265px top;
	background-repeat:no-repeat;
}

.grid-header{
  background-image: url('../images/background-sprite.png');
  background-position: -2811px top;
	background-repeat:no-repeat;
}

/*.inventory_pad {
  background-image: url('../images/background-sprite.png');
  background-position: -4993px top;
	background-repeat:no-repeat;
}*/

#view-closetill-top{
	background-image:url(../img/view-closetill-top.png);
	background-repeat:no-repeat;
}

#view-closetill-center-left{
	background-image:url(../img/view-closetill-center-left.png);
	background-repeat:no-repeat;
}

#view-closetill-center-right{
	background-image:url(../img/view-closetill-center-right.png);
	background-repeat:no-repeat;
}

#view-closetill-bottom{
	background-image:url(../img/view-closetill-bottom.png);
	background-repeat:no-repeat;
}

.startuppage {
  	background-image: url('../images/background-sprite.png');
 	background-position: -5415px top;
	background-repeat:no-repeat;
}

.page-create-details-wrapper{
  background-image: url('../images/background-sprite.png');
  background-position: -5720px top;
	background-repeat:no-repeat;
}

/*.closetill_bg {
  background-image: url('../images/background-sprite.png');
  background-position: -6448px top;
	background-repeat:no-repeat;
}*/

#close-till-contents {
	background-image:url(../img/closetill-bg2.png);
	background-repeat: repeat-x;
}

#closetill-bg1{
	background-image:url(../img/closetill-bg1.png);
	background-repeat: no-repeat;
}

#closetill-bg3{
	background-image:url(../img/closetill-bg3.png);
	background-repeat: no-repeat;
}

/*.ipod {
  background-image: url('../images/background-sprite.png');
  background-position: -7173px top;
	background-repeat:no-repeat;
}*/

#closetill-center-bg1{
	background-image:url(../img/closetill-center-bg1.png);
	background-repeat: no-repeat;
}

#closetill-center-left-bg2{
	background-image:url(../img/closetill-center-left-bg2.png);
	background-repeat: no-repeat;
}

#closetill-center-right-bg2{
	background-image:url(../img/closetill-center-right-bg2.png);
	background-repeat: no-repeat;
}

#closetill-center-bg3{
	background-image:url(../img/closetill-center-bg3.png);
	background-repeat: no-repeat;
}

#closetill-center-left-bg4{
	background-image:url(../img/closetill-center-left-bg4.png);
	background-repeat: repeat-y;
}

#closetill-center-right-bg4{
	background-image:url(../img/closetill-center-right-bg4.png);
	background-repeat: repeat-y;
}

/*#close-bottom-tab{
  background-image: url('../images/background-sprite.png');
  background-position: -7568px top;
	background-repeat: no-repeat;
}*/

#closetill-footer-bg1{
	background-image: url('../img/closetill-footer-bg1.png');/** sprite-ref: menu-sprite; sprite-margin-right: 10px*/
	background-repeat: no-repeat;
}

.closetill-footer-bg2{
	background-image: url('../img/closetill-footer-bg2.png');/** sprite-ref: menu-sprite; sprite-margin-right: 10px*/
	background-repeat: repeat-x;
}

#closetill-footer-bg3{
	background-image: url('../img/closetill-footer-bg3.png');/** sprite-ref: menu-sprite; sprite-margin-right: 10px*/
	background-repeat: no-repeat;
}

#closetill-footer-bg4{
	background-image: url('../img/closetill-footer-bg4.png');/** sprite-ref: menu-sprite; sprite-margin-right: 10px*/
	background-repeat: no-repeat;
}

#importer-container{
	background-image:url(../images/importer-background.png);
	background-repeat: no-repeat;
	width: 717px;
	height: 702px;
	margin-left: 4px;
	padding-top: 5px;
	padding-left: 5px;
}

#header-right-bg1{
	background-image:url(../img/blue-header-bg1.png); 
	background-repeat: no-repeat;
}

#header-right-bg3{
	background-image:url(../img/blue-header-bg3.png); 
	background-repeat: no-repeat;
}

#header-right-content{
	background-image:url(../img/blue-header-bg2.png); 
	background-repeat: repeat-x;
}

#header-left-details{
	background-image:url(../img/header-bg.png); 
	background-repeat: no-repeat;
}

#footer-bg1{
	background-image:url(../img/footer-bg1.png);
	background-repeat: no-repeat;
}

#footer-bg3{
	background-image:url(../img/footer-bg3.png);
	background-repeat: no-repeat;
}

#footer-contents{
	background-image:url(../img/footer-bg2.png); 
	background-repeat: repeat-x;
}

#filter-bg1{
	background-image:url(../img/filter-bg1.png); 
	background-repeat: no-repeat;
}

#filter-bg2{
	background-image:url(../img/filter-bg2.png); 
	background-repeat: repeat-y;
}

#filter-bg3{
	background-image:url(../img/filter-bg3.png); 
	background-repeat: no-repeat;
}