@CHARSET "UTF-8";

#bulk-columns-container{
	float:left;
	padding:5px 0px 5px 5px;
	width: 710px;
}

.bulk-main-bg{
	float:left;
	background:url(../images3/product-pairing-bg.png) center center no-repeat;
	width:701px;
	height:538px;
}

#bulk-search-column{
	background-image: url("../images3/pairing-search-bg.png");
	background-repeat: no-repeat;
	float:left;
	margin: 60px 0 0 20px;
}

#bulk-search-pane{
	height:350px;
	width:269px;
	overflow:hidden;
}

#content-column{
	background-image: url("../images3/pairing-items-bg.png");
	background-repeat: no-repeat;
	float:left;
	height:450px;
	width:298px;
	margin-top:60px;
}

#delete-column{
	float:left;
	height:450px;
	padding-top:435px;
	padding-left:5px;
}

#content-listing{
	height:350px;
	width:290px;
}

#content-title{
	margin-top:20px;
	height:50px;
	text-align:center;	
}

#content-listing table{
	width:290px;
	margin-left:4px;
}

#content-listing table td{
	height:55px;
	text-align:center;
}

#bulk-search-textfield-outer-container {
	float: left;
	height: 85px;
	width: 276px;
}

#bulk-search-textfield-inner-container {
	width:245px;
	height:51px;
	float:left;
	background-color:#fff;
	border: 2px solid #cccccc;
	/*padding-left: 5px;*/
	padding-top: 2px;
	margin-left: 13px;
	margin-top:2px;
}

#bulk-search-textfield {
	width:180px;
	height:48px;
	float:left;
	border:none;
	background-color:#fff;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	text-align: left;
}

#bulk-search-button{
	width:50px;
}

#bulk-searchResultTable td {
	border-width: 0;
	color: #333333;
	font-size: 14px;
	height:38px;
	padding: 8px 5px;
}

#bulk-searchResultTable tr.search-highlight{
	background-color: #9ACF30;
}

#bulk-searchResultTable .odd {
	background-color : #ECEFF7;
}

#bulk-searchResultTable .even {
	background-color : #F7F8FB;
}