/*buttons*/
.login #continue-button{
  background-image: url('../images/button-sprite.png');
  background-position: left -0px;
}

.sign-up-button{
  background-image: url('../images/button-sprite.png');
  background-position: left -89px;
}

.login #login-button{
	background-image: url("../images/login/login.png");
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.background-mainicon{
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	box-shadow: 0 0 0 2px #CCC;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 0 2px #CCC;
	-moz-border-radius: 6px 6px 6px 6px;
} 

.mainicon-load{
  background-image: url('../images/button-sprite.png');
  background-position: left -178px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectup{
  background-image: url('../images/button-sprite.png');
  background-position: left -228px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectdown{
  background-image: url('../images/button-sprite.png');
  background-position: left -278px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-clear{
  background-image: url('../images/button-sprite.png');
  background-position: left -328px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-decrease{
  background-image: url('../images/button-sprite.png');
  background-position: left -378px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-increase{
  background-image: url('../images/button-sprite.png');
  background-position: left -428px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-save{
  background-image: url('../images/button-sprite.png');
  background-position: left -478px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-productinfo{
  background-image: url('../images/button-sprite.png');
  background-position: left -528px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-importcsv{
  background-image: url('../images/button-sprite.png');
  background-position: left -578px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.terminal-continue-button{	
  background-image: url('../images/button-sprite.png');
  background-position: left -0px;
}

.change-button{			
  background-image: url('../images/button-sprite.png');
  background-position: left -628px;
}

.terminal-info-button{
  background-image: url('../images/button-sprite.png');
  background-position: left -717px;
}

.mainicon-payment{
  background-image: url('../images/button-sprite.png');
  background-position: left -806px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-ship{
  background-image: url('../images/button-sprite.png');
  background-position: left -856px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-back{
  background-image: url('../images/button-sprite.png');
  background-position: left -906px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.new-order-icon{
  background-image: url('../images/button-sprite.png');
  background-position: left -956px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.close-till-icon{
  background-image: url('../images/button-sprite.png');
  background-position: left -1006px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

/*****vieworder****/
.mainicon-print{
  background-image: url('../images/button-sprite.png');
  background-position: left -1056px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-void{
  background-image: url('../images/button-sprite.png');
  background-position: left -1106px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-exchange{
  background-image: url('../images/button-sprite.png');
  background-position: left -1156px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-refund{
  background-image: url('../images/button-sprite.png');
  background-position: left -1206px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-export-pdf{
  background-image: url('../images/button-sprite.png');
  background-position: left -1256px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-exportCsv{
  background-image: url('../images/button-sprite.png');
  background-position: left -1306px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;	
}

.mainicon-save{
  background-image: url('../images/button-sprite.png');
  background-position: left -478px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-complete{
  background-image: url('../images/button-sprite.png');
  background-position: left -1356px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-request-stock {
  background-image: url('../images/button-sprite.png');
  background-position: left -1406px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-send-stock {
  background-image: url('../images/button-sprite.png');
  background-position: left -1456px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-edit {
  background-image: url('../images/button-sprite.png');
  background-position: left -1506px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-new {
  background-image: url('../images/button-sprite.png');
  background-position: left -1556px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.new-inventory{
  background-image: url('../images/button-sprite.png');
  background-position: left -1606px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-remove{
  background-image: url('../images/button-sprite.png');
  background-position: left -1656px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-copy-order{
  background-image: url('../images/button-sprite.png');
  background-position: left -1706px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-split-order{
  background-image: url('../images/button-sprite.png');
  background-position: left -1756px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-comments{
  background-image: url('../images/button-sprite.png');
  background-position: left -1806px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-export-csv{
  background-image: url('../images/button-sprite.png');
  background-position: left -1856px;
}

.mainicon-page-up{
  background-image: url('../images/button-sprite.png');
  background-position: left -1952px;
}

.mainicon-page-down{
  background-image: url('../images/button-sprite.png');
  background-position: left -2048px;
}

/*stock*/
.mainicon-new-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2144px;
}

.mainicon-new-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2144px;
}
.mainicon-save-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2240px;
}

.mainicon-clear-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2336px;
}

.mainicon-decrease-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2432px;
}
.mainicon-add-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2528px;
}

.mainicon-add-stock{
  background-image: url('../images/button-sprite.png');
  background-position: left -2528px;
}

.mainicon-prod-info{
  background-image: url('../images/button-sprite.png');
  background-position: left -2624px;
}


/*dashboard*/
.mainicon-best-selling-item{
  background-image: url('../images/button-sprite.png');
  background-position: left -2720px;
	}
.mainicon-sales-per-location{
  background-image: url('../images/button-sprite.png');
  background-position: left -2816px;
	}
.mainicon-sales{
  background-image: url('../images/button-sprite.png');
  background-position: left -2912px;
	}
.mainicon-gross-total{
  background-image: url('../images/button-sprite.png');
  background-position: left -3008px;
	}
.mainicon-employee-sales{
  background-image: url('../images/button-sprite.png');
  background-position: left -3104px;
	}
.mainicon-clock-in-out-report{
  background-image: url('../images/button-sprite.png');
  background-position: left -3200px;
	}
.mainicon-average-sales{
  background-image: url('../images/button-sprite.png');
  background-position: left -3296px;
	}
.mainicon-refresh{
  background-image: url('../images/button-sprite.png');
  background-position: left -3392px;
	}

/*inventory*/
.mainicon-inventory-save{
  background-image: url('../images/button-sprite.png');
  background-position: left -2240px;
}
.mainicon-inventory-print{
  background-image: url('../images/button-sprite.png');
  background-position: left -3488px;
}
.mainicon-inventory-complete{
  background-image: url('../images/button-sprite.png');
  background-position: left -3584px;
}

.mainicon-inventory-new{
  background-image: url('../images/button-sprite.png');
  background-position: left -3680px;
}

.mainicon-inventory-clear{
  background-image: url('../images/button-sprite.png');
  background-position: left -2336px;
}

.mainicon-inventory-decrease{
  background-image: url('../images/button-sprite.png');
  background-position: left -2432px;
}

.mainicon-inventory-add{
  background-image: url('../images/button-sprite.png');
  background-position: left -2528px;
}

.mainicon-inventory-page-up{
  background-image: url('../images/button-sprite.png');
  background-position: left -1952px;
}

.mainicon-inventory-page-down{
  background-image: url('../images/button-sprite.png');
  background-position: left -2048px;
}

.mainicon-inventory-prod-info{
  background-image: url('../images/button-sprite.png');
  background-position: left -2624px;
}

.mainicon-inventory-remove{
  background-image: url('../images/button-sprite.png');
  background-position: left -3776px;
}

.mainicon-ok{
  background-image: url('../images/button-sprite.png');
  background-position: left -3584px;
}

.mainicon-cancel{
  background-image: url('../images/button-sprite.png');
  background-position: left -3872px;
}

.mainicon-default{
  background-image: url('../images/button-sprite.png');
  background-position: left -3968px;
}

/* report side buttons */
.right_contents a.new {
  background-image: url('../images/button-sprite.png');
  background-position: left -4064px;
	background-repeat:no-repeat;
}

.right_contents a.cancel {
  background-image: url('../images/button-sprite.png');
  background-position: left -4160px;
	background-repeat:no-repeat;	
}

.right_contents a.save {
  background-image: url('../images/button-sprite.png');
  background-position: left -2240px;
	background-repeat:no-repeat;	
}

.right_contents a.active {
  background-image: url('../images/button-sprite.png');
  background-position: left -4256px;
	background-repeat:no-repeat;		
}

.right_contents a.deactive {
  background-image: url('../images/button-sprite.png');
  background-position: left -4352px;
	background-repeat:no-repeat;		
}

.right_contents a.delete {
  background-image: url('../images/button-sprite.png');
  background-position: left -4448px;
	background-repeat:no-repeat;		
}
.right_contents a.change-org {
  background-image: url('../images/button-sprite.png');
  background-position: left -4544px;
	background-repeat:no-repeat;		
}
.right_contents a.help {
  background-image: url('../images/button-sprite.png');
  background-position: left -4640px;
	background-repeat:no-repeat;		
}

.right_contents a.image {
  background-image: url('../images/button-sprite.png');
  background-position: left -4736px;
	background-repeat:no-repeat;		
}

.right_contents a.edit-price {
  background-image: url('../images/button-sprite.png');
  background-position: left -4832px;
	background-repeat:no-repeat;		
}

.right_contents a.set-pricelist{
  background-image: url('../images/button-sprite.png');
  background-position: left -4928px;
	background-repeat:no-repeat;		
}

.right_contents .back-report{
  background-image: url('../images/button-sprite.png');
  background-position: left -5024px;
	background-repeat:no-repeat;		
}

.right_contents a.credit-management{
  background-image: url('../images/button-sprite.png');
  background-position: left -5120px;
	background-repeat:no-repeat;		
}

.right_contents a.set-tax-category {
  background-image: url('../images/button-sprite.png');
  background-position: left -5216px;
	background-repeat:no-repeat;		
}
.right_contents a.pro-info {
  background-image: url('../images/button-sprite.png');
  background-position: left -5312px;
	background-repeat:no-repeat;		
}

.right_contents a.update-stock {
  background-image: url('../images/button-sprite.png');
  background-position: left -5408px;
	background-repeat:no-repeat;		
}

.right_contents a.newItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -4064px;
	background-repeat:no-repeat;
}
.right_contents a.editItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -5504px;
	background-repeat:no-repeat;
}
.right_contents a.viewItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -5600px;
	background-repeat:no-repeat;
}

.right_contents a.sendStockItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -5696px;
	background-repeat:no-repeat;
}
.right_contents a.csvBtn{
  background-image: url('../images/button-sprite.png');
  background-position: left -1856px;
	background-repeat:no-repeat;
}
.right_contents a.pdfBtn{
  background-image: url('../images/button-sprite.png');
  background-position: left -5792px;
	background-repeat:no-repeat;
}
.right_contents a.deleteItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -4448px;
	background-repeat:no-repeat;
}
.right_contents a.orgAccessItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -4544px;
	background-repeat:no-repeat;
}
.right_contents a.refreshBtn{
  background-image: url('../images/button-sprite.png');
  background-position: left -5888px;
	background-repeat:no-repeat;
}
.right_contents a.importItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -5984px;
	background-repeat:no-repeat;
}

.right_contents a.allocatePayment{
  background-image: url('../images/button-sprite.png');
  background-position: left -6080px;
	background-repeat:no-repeat;
}

.right_contents a.importImages{
  background-image: url('../images/button-sprite.png');
  background-position: left -4736px;
	background-repeat:no-repeat;
}

.right_contents a.copyItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -6176px;
	background-repeat:no-repeat;
}

.right_contents a.configureItem{
  background-image: url('../images/button-sprite.png');
  background-position: left -6272px;
	background-repeat:no-repeat;
}
.right_contents a.deletePrices{
  background-image: url('../images/button-sprite.png');
  background-position: left -4448px;
	background-repeat:no-repeat;
}

.right_contents a.deleteCommissionRun{
  background-image: url('../images/button-sprite.png');
  background-position: left -4448px;
	background-repeat:no-repeat;
}
.right_contents a.generateCommission{
  background-image: url('../images/button-sprite.png');
  background-position: left -6368px;
	background-repeat:no-repeat;
}

.right_contents a.commissionPerEmployee{
  background-image: url('../images/button-sprite.png');
  background-position: left -6368px;
	background-repeat:no-repeat;
}
.right_contents a.barcodeMatching{
  background-image: url('../images/button-sprite.png');
  background-position: left -6464px;
	background-repeat:no-repeat;
}

.right_contents a.changePaymentType, .right_contents a.customProcess, .right_contents a.reset{
  background-image: url('../images/button-sprite.png');
  background-position: left -6560px;
	background-repeat:no-repeat;
}

.right_contents a.product-pairing {
	background:url('../images3/product-pairing-button.png') no-repeat;		
}
.right_contents a.product-settings {
	background:url('../images/report/configure-button.png') no-repeat;		
}

.right_contents a.tax-sub {
	background:url('../images/tax-sub.png') no-repeat;
}
.right_contents a.update-payment-details {
	background:url(../images/my-subscription/update-credit-card.png) no-repeat;
}

.right_contents a.buy-add-components{
	background:url(../images/my-subscription/buy-add-terminal.png) no-repeat;
}

.right_contents a.upgrade-account{
	background:url(../images/my-subscription/upgrade-acc.png) no-repeat;
}

.right_contents a.downgrade-account{
	background:url(../images/my-subscription/downgrade-acc.png) no-repeat;
}

.right_contents a.close-account{
	background:url(../images/my-subscription/close-acc.png) no-repeat;
}

.right_contents a.reactivate-account{
	background:url(../images/my-subscription/reactivate-account.png) no-repeat;
}
.right_contents a.transaction-details{
	background:url(../images/menu/reports/stocks/transaction-details.png) no-repeat;
}

/* .mainicon-payment{
	background-image: url('../img/payments.png'); * sprite-ref: menu-sprite; sprite-margin-bottom: 10px
} */

/* .mainicon-ship{
	background-image: url('../img/ship.png'); * sprite-ref: menu-sprite; sprite-margin-bottom: 10px
} */

.mainicon-keyboard{
  background-image: url('../images/button-sprite.png');
  background-position: left -6656px;
}

.mainicon-clock{
  background-image: url('../images/button-sprite.png');
  background-position: left -6742px;
}

.mainicon-cancel{
  background-image: url('../images/button-sprite.png');
  background-position: left -6828px;
}

.mainicon-settings{
  background-image: url('../images/button-sprite.png');
  background-position: left -6914px;
}

.mainicon-more{
  background-image: url('../images/button-sprite.png');
  background-position: left -7010px;
}

.mainicon-backdate{
  background-image: url('../images/button-sprite.png');
  background-position: left -7106px;
}

.right_contents a.reset-password-btn{
  background-image: url('../images/button-sprite.png');
  background-position: left -7202px;
	background-repeat:no-repeat;
}

.right_contents a.generate-qr-btn{
  background-image: url('../images/button-sprite.png');
  background-position: left -7298px;
	background-repeat:no-repeat;
}

.right_contents a.viewStatement{
  background-image: url('../images/button-sprite.png');
  background-position: left -7394px;
	background-repeat:no-repeat;
}

.right_contents a.exportStatement{
  background-image: url('../images/button-sprite.png');
  background-position: left -7490px;
	background-repeat:no-repeat;
}

.right_contents a.send-request-support-button{
  background-image: url('../images/button-sprite.png');
  background-position: left -7586px;
	background-repeat:no-repeat;
}

/**tab**/
.delete-small{
  background-image: url('../images/button-sprite.png');
  background-position: left -7682px;
	background-repeat: no-repeat;
	display: block;
	height:21px;
}

.tax-sub-main{
	margin-top:60px;
	margin-left:40px;
}

.tax-sub-name-label, .tax-sub-rate-label{
	float:left;
	height:32px;
	padding-top:10px;
}

.tax-sub-name-component{
	float:left;
	width:102px;
	margin-left:15px;
}

.tax-sub-main input{
	height:32px;
	border:2px solid #CCCCCC;
	padding-left:15px;
}

.tax-sub-container{
	clear:both;
	height:42px;
}

.tax-sub-rate-container{
	clear:left;
	float:left;
	width:300px;
	padding-top:5px;
	height:42px;
}

.tax-sub-rate-component{
	float:left;
	width:60px;
	margin-left:24px;
}

.tax-sub-name, .tax-sub-rate, .tax-sub-delete{
	float:left;
	padding-bottom:5px;
}

.tax-sub-name{
	margin-left: 75px;
	width:60px;
}

.tax-sub-rate{
	width:60px;
}

.tax-sub-delete{
	width: 24px;
	padding-left:10px;
}

.tax-sub-add{
  background-image: url('../images/button-sprite.png');
  background-position: left -7713px;
	background-repeat: no-repeat;
	width:76px;
	float:left;
	height:32px;
	text-align:center;
	padding-top:7px;
	margin-top:7px;
	margin-bottom:15px;
	cursor : pointer;
}

.tax-sub-content{
	margin-top:50px;
	height:100px;
	width:275px;
	clear:both;
	overflow-y:auto;
}

.tax-sub-save{
	margin-left:300px;
}

.app-barcode-printing {
  background-image: url('../images/button-sprite.png');
  background-position: left -7755px;
background-repeat: no-repeat;
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
}

#keyboard-icon-log{
  background-image: url('../images/button-sprite.png');
  background-position: left -7805px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
