/** sprite: menu-sprite; sprite-image: url('../images/button-sprite.png'); sprite-layout: vertical */
/*buttons*/
.login #continue-button{
	background-image: url("../images2/continue.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.sign-up-button{
	background-image: url("../images2/sign-up.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.login #login-button{
	background-image: url("../images/login/login.png");
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.background-mainicon{
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	box-shadow: 0 0 0 2px #CCC;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 0 2px #CCC;
	-moz-border-radius: 6px 6px 6px 6px;
} 

.mainicon-load{
	background-image: url("../images/cash-sales/load.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectup{
	background-image: url("../images/cash-sales/scroll-up.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectdown{
	background-image: url("../images/cash-sales/scroll-down.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-clear{
	background-image: url("../images/cash-sales/clear.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-decrease{
	background-image: url("../images/cash-sales/decrease.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-increase{
	background-image: url("../images/cash-sales/increase.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-save{
	background-image: url("../images/cash-sales/save.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-productinfo{
	background-image: url("../images/cash-sales/prod-info.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-importcsv{
	background-image: url("../images/cash-sales/import-csv.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-bp-info{
	background-image: url("../images/cash-sales/customer-info.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;	
}

.terminal-continue-button{	
	background-image: url("../images2/continue.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.change-button{			
	background-image: url("../images2/change.png"); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.terminal-info-button{
	background-image: url("../images2/terminal-info.png"); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-payment{
	background-image: url("../images/view-order/pay.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-ship{
	background-image: url("../images/view-order/deliver.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-back{
  	background-image: url("../images/cash-sales/back.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.new-order-icon{
	background-image: url("../images/view-order/new-order.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.close-till-icon{
	background-image: url("../images/close-till/close-till.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

/*****vieworder****/
.mainicon-print{
	background-image: url("../images/view-order/print.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-void{
	background-image: url("../images/view-order/void-order.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-exchange{
	background-image: url("../images/view-order/exchange.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-refund{
	background-image: url("../images/view-order/refund.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-export-pdf{
	background-image: url("../images/view-order/export-pdf.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-exportCsv{
	background-image: url("../images/close-till/export-csv.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;	
}

.mainicon-save{
	background-image: url("../images/cash-sales/save.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-complete{
	background-image: url("../images/inventory/complete.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-request-stock {
	background-image: url(../images/stock/request-stock.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-send-stock {
	background-image: url(../images/stock/send-stock.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-edit {
	background-image: url(../images/edit-order.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-new {
	background-image: url(../images/new.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.new-inventory{
	background-image: url(../images/inventory/complete-inventory.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-remove{
	background-image: url(../images/inventory/remove.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-copy-order{
	background-image: url("../images/view-order/copy-order.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-split-order{
	background-image: url("../images/view-order/split-order.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-comments{
	background-image: url("../images/view-order/comments.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-export-csv{
background-image: url('../images/report/Export-CSV-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-page-up{
background-image: url('../images/viewOrder/page-up.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-page-down{
background-image: url('../images/viewOrder/page-down.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

/*stock*/
.mainicon-new-stock{
background-image: url('../images/stock/new-request-stock.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-new-stock{
background-image: url('../images/stock/new-request-stock.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}
.mainicon-save-stock{
background-image: url('../images/stock/save.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-clear-stock{
background-image: url('../images/stock/clear.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-decrease-stock{
background-image: url('../images/stock/decrease.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}
.mainicon-add-stock{
background-image: url('../images/stock/add.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-add-stock{
background-image: url('../images/stock/add.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-prod-info{
background-image: url('../images/stock/product-info.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}


/*dashboard*/
.mainicon-best-selling-item{
	background-image: url('../images/dashboard/dashboard-best-seller.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-sales-per-location{
	background-image: url('../images/dashboard/dashboard-sales-per-loc.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-sales{
	background-image: url('../images/dashboard/dashboard-sales.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-gross-total{
	background-image: url('../images/dashboard/dashboard-gross-total.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-employee-sales{
	background-image: url('../images/dashboard/dashboard-employee-sales.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-clock-in-out-report{
	background-image: url('../images/dashboard/dashboard-clock-in-report.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-average-sales{
	background-image: url('../images/dashboard/dashboard-average-sales.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
.mainicon-refresh{
	background-image: url('../images/dashboard/dashboard-refresh-btn.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}

/*inventory*/
.mainicon-inventory-save{
background-image: url('../images/inventory/savebtn.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}
.mainicon-inventory-print{
background-image: url('../images/inventory/print.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}
.mainicon-inventory-complete{
background-image: url('../images/inventory/completebtn.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-new{
background-image: url('../images/inventory/new-inventory.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-clear{
background-image: url('../images/inventory/clear.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-decrease{
background-image: url('../images/inventory/decrease.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-add{
background-image: url('../images/inventory/add.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-page-up{
background-image: url('../images/inventory/page-up.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-page-down{
background-image: url('../images/inventory/page-down.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-prod-info{
background-image: url('../images/inventory/product-info.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-inventory-remove{
background-image: url('../images/inventory/remove-butn.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-ok{
background-image: url('../images3/ok-button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-cancel{
background-image: url('../images3/cancel-button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-default{
background-image: url('../images3/defaults-button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

/* report side buttons */
.right_contents a.new {
	background-image:url('../images/report/New-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.cancel {
	background-image:url('../images/report/Cancel-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;	
}

.right_contents a.save {
	background-image:url('../images/report/Save-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;	
}

.right_contents a.active {
	background-image:url('../images/report/Activate-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.deactive {
	background-image:url('../images/report/Deactivate-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.delete {
	background-image:url('../images/report/Delete-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}
.right_contents a.change-org {
	background-image:url('../images/report/Change-Org.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}
.right_contents a.help {
	background-image:url('../images/report/Help-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.image {
	background-image:url('../images/report/Image-Upload.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.edit-price {
	background-image:url('../images/report/Edit-Prices.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.set-pricelist{
	background-image:url('../images/set-pricelist.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents .back-report{
	background-image:url('../images/report/Back-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.credit-management{
	background-image:url('../images/credit-management.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.set-tax-category {
	background-image:url('../images/report/Tax-Category.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}
.right_contents a.pro-info {
	background-image:url('../images/report/Product-Info.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.update-stock {
	background-image:url('../images/report/Update-Stock.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;		
}

.right_contents a.newItem{
	background-image:url('../images/report/New-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.editItem{
	background-image:url('../images/report/Edit-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.viewItem{
	background-image:url('../images/report/View-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.sendStockItem{
	background-image:url('../images/report/sendstock.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.csvBtn{
	background-image:url('../images/report/Export-CSV-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.pdfBtn{
	background-image:url('../images/report/Export-PDF-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.deleteItem{
	background-image:url('../images/report/Delete-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.orgAccessItem{
	background-image:url('../images/report/Limit-Org-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.refreshBtn{
	background-image:url('../images/report/Refresh-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.importItem{
	background-image:url('../images/report/Import-CSV.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.allocatePayment{
	background-image:url('../images/report/allocate-payment.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.importImages{
	background-image:url('../images/report/Image-Upload.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.copyItem{
	background-image:url('../images/report/copy-order.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.configureItem{
	background-image:url('../images/report/configure-button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.deletePrices{
	background-image:url('../images/report/Delete-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.deleteCommissionRun{
	background-image:url('../images/report/Delete-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.generateCommission{
	background-image:url('../images/report/generate-commission.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.commissionPerEmployee{
	background-image:url('../images/report/generate-commission.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}
.right_contents a.barcodeMatching{
	background-image:url('../images/report/create-barcode.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.changePaymentType, .right_contents a.customProcess, .right_contents a.reset{
	background-image:url('../images/report/Blank-Button.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.product-pairing {
	background:url('../images3/product-pairing-button.png') no-repeat;		
}
.right_contents a.product-settings {
	background:url('../images/report/configure-button.png') no-repeat;		
}

.right_contents a.tax-sub {
	background:url('../images/tax-sub.png') no-repeat;
}
.right_contents a.update-payment-details {
	background:url(../images/my-subscription/update-credit-card.png) no-repeat;
}

.right_contents a.buy-add-components{
	background:url(../images/my-subscription/buy-add-terminal.png) no-repeat;
}

.right_contents a.upgrade-account{
	background:url(../images/my-subscription/upgrade-acc.png) no-repeat;
}

.right_contents a.downgrade-account{
	background:url(../images/my-subscription/downgrade-acc.png) no-repeat;
}

.right_contents a.close-account{
	background:url(../images/my-subscription/close-acc.png) no-repeat;
}

.right_contents a.reactivate-account{
	background:url(../images/my-subscription/reactivate-account.png) no-repeat;
}
.right_contents a.transaction-details{
	background:url(../images/menu/reports/stocks/transaction-details.png) no-repeat;
}

/* .mainicon-payment{
	background-image: url('../img/payments.png'); * sprite-ref: menu-sprite; sprite-margin-bottom: 10px
} */

/* .mainicon-ship{
	background-image: url('../img/ship.png'); * sprite-ref: menu-sprite; sprite-margin-bottom: 10px
} */

.mainicon-keyboard{
	background-image: url('../images/clockinout/keyboard.jpg'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-clock{
	background-image: url('../images/clockinout/clock_icon1.jpg'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-cancel{
	background-image: url('../images/clockinout/cancel.jpg'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-settings{
	background-image:url('../images3/setup-guide.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-more{
  background-image: url('../images/button-more.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.mainicon-backdate{
  background-image: url('../images/button-backdate.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.right_contents a.reset-password-btn{
	background-image:url('../images/reset.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.generate-qr-btn{
	background-image:url('../images/generate-qr.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.viewStatement{
	background-image:url('../images/view-statement-acc.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.exportStatement{
	background-image:url('../images/export-statement-acc.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.send-request-support-button{
	background-image:url('../images/request-support/send.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

/**tab**/
.delete-small{
	background-image: url('../images/delete-small.png');/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	display: block;
	height:21px;
}

.tax-sub-main{
	margin-top:60px;
	margin-left:40px;
}

.tax-sub-name-label, .tax-sub-rate-label{
	float:left;
	height:32px;
	padding-top:10px;
}

.tax-sub-name-component{
	float:left;
	width:102px;
	margin-left:15px;
}

.tax-sub-main input{
	height:32px;
	border:2px solid #CCCCCC;
	padding-left:15px;
}

.tax-sub-container{
	clear:both;
	height:42px;
}

.tax-sub-rate-container{
	clear:left;
	float:left;
	width:300px;
	padding-top:5px;
	height:42px;
}

.tax-sub-rate-component{
	float:left;
	width:60px;
	margin-left:24px;
}

.tax-sub-name, .tax-sub-rate, .tax-sub-delete{
	float:left;
	padding-bottom:5px;
}

.tax-sub-name{
	margin-left: 75px;
	width:60px;
}

.tax-sub-rate{
	width:60px;
}

.tax-sub-delete{
	width: 24px;
	padding-left:10px;
}

.tax-sub-add{
	background-image: url('../images/tax-sub-add.png');/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width:76px;
	float:left;
	height:32px;
	text-align:center;
	padding-top:7px;
	margin-top:7px;
	margin-bottom:15px;
	cursor : pointer;
}

.tax-sub-content{
	margin-top:50px;
	height:100px;
	width:275px;
	clear:both;
	overflow-y:auto;
}

.tax-sub-save{
	margin-left:300px;
}

.app-barcode-printing {
background-image: url(../images/barcode-printing/print-barcode.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
background-repeat: no-repeat;
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
}

#keyboard-icon-log{
	background-image: url("../images/login/keyboard.png");/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

