@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
#main_div {
	height: 397px;
	width: 845px;
	margin-right: auto;
	margin-left: auto;
	border: 15px solid #191818;
}
/* #header {
	float: left;
	height: 44px;
	width: 845px;
	background-color:#336666;
	background-image: url(../images/clockinout/header_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
} */
#body {
	float: left;
	height: 356px;
	width: 845px;
	background-color: #FFFFFF;
}
#right_box {
	float: left;
	height: 356px;
	width: 433px;
	background-image: url(../images/clockinout/app-clockinout1.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#gap {
	float: left;
	height: 49px;
	width: 409px;
	font-family: Verdana;
	font-size: 17px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
}
#usre_field {
	float: left;
	height: 56px;
	width: 419px;
}
#password_field {
	float: left;
	height: 55px;
	width: 419px;
	margin-top: 10px;
}
#gap_2 {
	float: left;
	height: 21px;
	width: 419px;
}
#icons {
	float: left;
	height: 76px;
	width: 419px;
}
#icons3 {
	float: right;
	height: 76px;
	width: 279px;
	margin-right: 25px;
}
#keyboard-icon {
	float: left;
	height: 21px;
	width: 82px;
	background-image: url(../images/clockinout/keyboard.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-top: 55px;
	padding-left: 9px;
	margin-left: -5px;
}
#cancel-clock-icon {
	background-image: url("../images/clockinout/cancel.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	color: #333333;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	height: 21px;
	padding-left: 22px;
	padding-top: 55px;
	text-decoration: none;
	width: 70px;
	margin-left: -5px;
}
#clock-icon {
	float: left;
	height: 21px;
	width: 68px;
	background-image: url(../images/clockinout/clock_icon1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-top: 55px;
	padding-left: 20px;
	margin-left: -5px;
}
#last_icon {
	float: left;
	height: 70px;
	width: 419px;
	background-image: url(../images/clockinout/last_icon2.jpg);
	background-repeat: no-repeat;
	background-position: center 30px;
}
#user_name_txt {
	float: left;
	height: 36px;
	width: 114px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-left: 8px;
}
.form_pro {
	float: left;
	height: 52px;
	width: 267px;
	border: 2px solid #CCCCCC;
	font-family:Tahoma;
	font-weight:16px;
	color:#333333;
	font-weight:bold;
	font-size:15px;
	padding-top:10px;
}
#password_name_txt {
	float: left;
	height: 35px;
	width: 112px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
}
#user_name_form {
	float: right;
	height: 56px;
	width: 297px;
}
#password_name_form {
	float: right;
	height: 56px;
	width: 297px;
}
#clock_box {
	float: left;
	height: 28px;
	width: 164px;
	background-image: url(../images/clockinout/clock.jpg);
	background-repeat: no-repeat;
	background-position: 26px center;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 16px;
	padding-left: 58px;
	/*text-transform: uppercase;*/
}
#close {
	float: right;
	height: 38px;
	width: 163px;
	background-image: url(../images/clockinout/header_close.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-left: 13px;
}
#close a{color:#FFFFFF; text-decoration:none;cursor:pointer;}
#left_box {
	width:412px;
	height:356px;
	float:left;
	background-image: url(../images/clockinout/left_box_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#time_card {
	background-color: #CCCCCC;
	clip: rect(auto, auto, auto, auto);
	float: left;
	height: 320px;
	margin-left: 12px;
	margin-top: 10px;
	width: 365px;
}
#time_card_txt {
	background-image: url("../images/clockinout/time_bg.jpg");
	background-position: left bottom;
	background-repeat: repeat-x;
	border-bottom: 2px solid #8D8B8E;
	color: #000000;
	float: left;
	font-family: Verdana;
	font-size: 24px;
	font-weight: bold;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	width: 383px;
}
#user_list {
	border: 1px solid #8D8B8E;
	float: left;
	height: 240px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 383px;
}
#user_pro_one {
	background-color: #F0F0E0;
	float: left;
	height: 61px;
	width: 383px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8d8b8e;
}
#joy {
	float: left;
	height: 41px;
	width: 105px;
	background-image: url(img/user_one.jpg);
	background-repeat: no-repeat;
	background-position: 2px center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	padding-top: 21px;
	padding-left: 81px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #8d8b8e;
}
#joy_time {
	float: left;
	height: 41px;
	width: 156px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
}
#user_pro_two {
	float: left;
	height: 60px;
	width: 383px;
	background-color: #f7f5d9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8d8b8e;
}
#james {
	float: left;
	height: 41px;
	width: 106px;
	background-image: url(img/user_two.jpg);
	background-repeat: no-repeat;
	background-position: 2px center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	padding-top: 20px;
	padding-left: 80px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #8d8b8e;
}
#james_time {
	float: left;
	height: 41px;
	width: 156px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
}
#user_pro_three {
	float: left;
	height: 60px;
	width: 383px;
	background-color: #f0f0e0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8d8b8e;
}
#kenneth {
	float: left;
	height: 40px;
	width: 106px;
	background-image: url(img/user_two.jpg);
	background-repeat: no-repeat;
	background-position: 2px center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	padding-left: 80px;
	padding-top: 21px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #8d8b8e;
}
#kenneth_time {
	float: left;
	height: 41px;
	width: 156px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
}
#user_pro_four {
	float: left;
	height: 59px;
	width: 383px;
	background-color: #f7f5d9;
	
	
	
	background-image: url(img/four_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#shane {
	float: left;
	height: 26px;
	width: 106px;
	background-image: url(img/user_two.jpg);
	background-repeat: no-repeat;
	background-position: 2px center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	padding-top: 21px;
	padding-left: 80px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #8d8b8e;
}
#shane_time {
	float: left;
	height: 41px;
	width: 156px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
}
#user_box {
	background-image: url("../images/clockinout/user_bg.jpg");
	background-position: left bottom;
	background-repeat: repeat-x;
	border-bottom: 1px solid #8D8B8E;
	float: left;
	height: 28px;
	width: 383px;
}
#user_one {
	float: left;
	height: 21px;
	width: 171.50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-left:10px;
	padding-top: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #8d8b8e;
	margin-left:6px;
}
#user_two {
	float: left;
	height: 21px;
	width: 175px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding-top: 7px;
	padding-left: 7px;
}
.form_user_name {
}
.user_box_row {	
	float: left;
	width: 383px;
	border-top: 1px solid #8d8b8e;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	line-height:56px;
}

.user_box_row td {
width:170px;	
}

.user_box_row_a{background-color: #F0F0E0;}
.user_box_row img{float:left; height:56px; width:56px;}
.user_box_row_name {
	float: left;
	width: 122px;
	padding-left: 10px;
	border-right: 1px solid #8d8b8e;
	text-transform:uppercase;
}
.user_box_row_time  {
	float: left;
	width: 156px;
	text-align: center;
}
.user_box_bottom{
width: 383px;
	background: #f7f5d9 url(img/four_bg.png) no-repeat center bottom; height:15px; float:left;
	}
	.holder{background-color: #f7f5d9;}

.text-title{
font-family: arial;
font-size: 12px;
position: relative;
top: -20px;
}

.scroll-pane-clock-inout
{
	width: 100%;
	height: 241px;
	overflow: auto;
	float:left;
	background: url(../images/clockinout/four_bg.png) no-repeat scroll center bottom #F7F5D9;
}

.popup button.clockinoutbutton {
	
	width: 86px;
	height: 84px;
	font-size: 18px;
	border:none;
}
.clockinoutbutton{
	background-image:url(../images3/tendertab.png);
	background-repeat: no-repeat;
	float: left;
	height: 86px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 86px;
}

.clockinout-text{
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 34px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 85px;
}

.clock-inout-img
{
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}