/*breadcrumb style */
.breadcrumb {
	background-color: #fff;
	font-size: 18px;
	margin-bottom: 0px !important;
}

.breadcrumb .glyphicons {
	padding-left: 0px;
}

.breadcrumb .glyphicons:before {
	position: relative;
	vertical-align: text-top;
	color: #8e8e93;
	font: 18px/1em 'Glyphicons Regular';
}

/* Ribbon height adjustment */
#ribbon{
	min-height: 39px !important;
	background-color: #ffffff !important;
}


/****************************************************************************/
/*header button formats */
.dashboard-button-container button{
	border: 1px solid #8E8E93;
    border-radius: 6px 6px 6px 6px;
    padding: 2px;
}

.dashboard-button-container{
	padding-top: 6px;
	padding-bottom: 10px;
}

/****************************************************************************/
/* Header Style */
.header-title-style {
	font-family: roboto;
	font-size: 24pt;
	color: #1d1d1d;
	text-align: center;
}

.header-title-subtitle {
	font-size: 18pt;
	margin-left: 135px;
}

.header-text {
	font-family: roboto;
	font-size: 11pt;
	color: #5b5b5b;
}

.header-unimportant {
	color: #5B5B5B !important;
	font-size:17pt;
}

#refine {
	margin-left: 50px;
}

#refine span {
	font-size: 9pt; padding-left: 4px;
}

/*
.btn-default{
	height: 30px !important;
}

#refresh {
	font-size: 9pt !important; 
	height: 25px !important;
	line-height: 1;
}
*/

/*Header Dropdown Formats */
.select2-container .select2-choice .select2-arrow b {
	line-height: -1 !important;
}

.select2-container .select2-choice > .select2-chosen {
	font-size: 10pt !important;	
}

.select2-container {
	vertical-align: bottom !important;	
}

.select2-container .select2-choice {
	height: 25px !important;
	line-height: 25px !important;
}

#s2id_manage .select2-choice {
	height: 30px !important;
	line-height: 26px !important;
	font-size: 12pt !important;
}



/*********************************************************************************/
/* Statistic Style */
.statistic-style{
	background-color: rgba(0, 122, 255, 0.2);
	text-align: center !important;
	font-family: arial;
	color: #1d1d1d;
	font-size: 24px;
	font-weight: bold;
}

.dashboard-text {
	font-family: arial;
	color: #5b5b5b;
	font-size: 12pt;
	font-weight: normal;
}

.statistic-style div {
	padding: 0px 12px;
}



/***********************************************************************************/
/* Summary Style */
.summary-style{
	background-color: rgba(142, 142, 147, 0.2);
	font-family: arial;
}

.dashboard-title {
	font-family: Roboto;
	color: #1d1d1d;
	font-size: 16pt;
}

.dashboard-text-2 {
	font-family: arial;
	font-weight: bold;
	color: #1d1d1d;
	font-size: 12pt;
	text-align: right;
}

/*glyphicons formats */
.icons::before {
	color: #1d1d1d !important;
	font-size: 30px !important;
	top: -20px;
}


/******************************************************************************************/
/* Body */
.panel-default{
	border-color: #E9E9E9;
}

.panel{
	background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0px !important;
}

.panel-heading{
	background-color: #F6F6F6;
    border-color: #E9E9E9;
    font-size: 12pt;
    font-family: arial;
}

/*glyphicons formats */
.theader-icons::before{
	color: #333333 !important;
    font-size: 18px !important;
    left: 0px;
    top: 0px;
    /* padding-left: 24px !important; */
    margin-left: -30px
}

a.dashboard-help {
	padding-left: 0px !important;
}
/*svg format */
svg{
	margin-left: -12px;
}

#chart > svg {
	width: 100% !important;
}


.no-data-available {
	font-family: verdana;
 	font-size: 25px;
    font-weight: normal !important;
	color: #1D1D1D !important;
	text-align: center !important;
}

#chart-header, #chart-header2, #chart-header3 {
	padding: 8px 0px 0px 15px;
}

#no-data-div, #no-data-div2, #no-data-div3 {
	font-family: verdana;
 	font-size: 25px;
    font-weight: normal !important;
    width: 100%;
    color: #1D1D1D !important;
	text-align: center; 
}

#chart-footer, #chart-footer2, #chart-footer3 {
	text-align: center;
	padding-bottom: 8px;
}

.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*FINANCIAL DASHBOARD*/
#panelProfitLoss table tbody tr td:nth-child(4) {
	font-style: italic;
}

/*INVENTORY DASHBOARD */
.moving-title {
	font-weight: 600; 
	text-decoration: none;
	color: #5B5B5B !important;
	font-family: Roboto !important;
	font-size: 12pt !important;
	text-align: left !important;
}

/*PURCHASE DASHBOARD*/
#panelTopRecentPO table {
	margin-bottom: 0px;
}
/*********************************************************************************************/
/* Tooltip Formatting */
a.tooltips, div.tooltips {
  position: relative;
  /* display: inline; */
  text-decoration: none;
}

a.tooltips span, div.tooltips span.msg  {
	width: 200px;
}

a.tooltips span, div.tooltips span.msg {
  	position: absolute;
 	color: #FFFFFF;
  	background: #000000;
  	border: 2px solid #000000;
  	line-height: 20px;
  	text-align: center;
  	visibility: hidden;
  	border-radius: 6px;
	font-family: arial;
	font-size: 10pt;
	font-weight: normal !important;
	padding: 4px;
}

a.tooltips span:before, div.tooltips span.msg:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #000000;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

a.tooltips span:after, div.tooltips span.msg:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips span {
	visibility: visible;
	opacity: 1;
	left: 50%;
	z-index: 999;
	margin-left: -116px;
	top: 24px;
	width: 200px;
}

div:hover.tooltips span.msg {
	visibility: visible;
	opacity: 1;
	left: 50%;
	z-index: 999;
	top: 70px;
	margin-left: -50%;
	width: auto !important;
}

a:hover#helpTurnoverRate span, a:hover#helpGrowthTitle span {
	margin-left: -160px;
}

a:hover#helpCOGS span, a:hover#helpInventoryTurnoverRate span, a:hover#helpCashDiscrepancy span, a:hover#helpInventoryDiscrepancy span, a:hover#helpShrinkage span {
	white-space: normal;
}

a.tooltips {
	display: inline-table;
}
/**********************************************************************************************/
/* padding */
.padding-row{
	padding: 16px 32px;	
}

.padding-right-36 {
	padding-right: 36px;
}

.padding-left-36 {
	padding-left: 36px;
}

.padding-midrow{
	padding: 20px;	
}

.tables-item-dptGroup div{
	padding-right: 56px;
}

.tables-item-dptGroup div:last-child{
	padding-right: 0px !important;
}

/************************************************************************************************/
/* text style order  */
.centralise-text{
	text-align: center !important;
}

.left-align-text{
	text-align: left !important;
}

.right-align-text{
	text-align: right !important;
}

/************************************************************************************************/
/* unavailable text */
.unavailable div, .unavailable span{
	color: #ff1300 !important;
}

/*********************************************************************************************************/
/* image resize*/
img.img40_40 {
    height: 40px;
    width: 40px;
}

/*date picker style */
#date-from-selector{
	margin: 10px;
}

#date-to-selector{
	margin: 10px 10px 10px 25px;
}

/* TABLES FORMATS */
/*Condensed Table */
.table-condensed tbody {
	font-family: Roboto;
	font-size: 12pt;
	color: #5b5b5b;
}

.table-condensed tbody tr td {
	border-top: 1px solid #8e8e93;
	padding: 11px;
}

.table-condensed tbody tr:first-child td {
	border-top: none;
}

.table-condensed tbody tr td:first-child {
	font-weight: bold;
}

.table-condensed tbody tr td:nth-child(2) span:first-child {
	color: #007aff;
	cursor: pointer
}

.table-condensed tbody tr td:last-child span:last-child {
	color: #007aff;
	cursor: pointer
}

.table-condensed tbody tr td:last-child {
	color: #1d1d1d;
	text-align: right;
}

/* Hover Table */
.table-hover thead th,.table-hover tbody tr td {
	font-family: Roboto;
	font-size: 12pt;
	text-align: right;
	color: #5b5b5b;
	border-top: none;
}

.table-hover thead tr th {
	border-bottom: 1px solid #8e8e93;
}

.table-hover tbody tr td:first-child {
	text-align: left;
	color: #5b5b5b;
}

.table-hover tbody tr td {
	color: #1d1d1d;
}

/************************/
.table-normal-style{
	width: 100%;
	margin: 0px;
}

.text-name-link td:nth-child(2) {
	color: #007aff !important;
	text-decoration: underline;
	text-align: left !important;
	cursor:pointer;
}

#employee-table .worst-title {
	font-weight: 600; 
	text-decoration: none;
	color: #5B5B5B !important;
	font-family: Roboto !important;
	font-size: 12pt !important;
}
            
#employee-table tbody tr td, #employee-table thead tr th {
	border-right: 1px solid #8E8E93;
}

#employee-table tbody tr td:nth-child(3), #employee-table thead tr th:nth-child(3) {
	border-right: 4px solid #8E8E93;
}

#employee-table tbody tr td:first-child, #employee-table tbody tr td:last-child, #employee-table thead tr th:last-child, #employee-table thead tr th:first-child{
	border-right: none;
}

#employee-table thead tr:first-child th:nth-child(4), #employee-table thead tr:first-child th:nth-child(5) {
 	border-right: none;
 } 
    
.section-title{
	color: #1d1d1d !important;
	font-family: Roboto-Bold !important;
	border-right: none !important;
	border-bottom: 1px solid #8E8E93
}   
       
/*****************************************************************************/
/*benchmark style*/
#employee-table .benchmark {
	border-top: 1px solid #8E8E93;
	border-bottom: 1px solid #8E8E93;
	background-color: #E8E8E9;
}
     
#employee-table .benchmark td{
	color: #1D1D1D !important;
}
     
.table-hover > tbody > tr.benchmark:hover > td {
	background-color: #E8E8E9 !important;
}







.form-control{
	display: inline !important;
	height: 32px !important;
	font-size: 12pt;
    width: 50%;
    background-color: #f2f2f3;
    border-radius: 4px 4px 4px 4px !important;
    color: #5b5b5b !important;
}

.frame-image{
	border:none;
	height:auto;
	width:auto;
	max-width:120px;
	max-height:120px;
	margin-top:10px;
	z-index: 1;
}

#parent-menu{
	color: #007AFF !important;
}

#sub-menu{
	color: #999999 !important;
}









/* .header-date-display{
	font-family: roboto;
	font-size: 14pt;
	color: #8e8e93;
	text-align: center;
}
 */

/* .report-text {
	font-family: arial;
	font-size: 14pt;
	color: #5b5b5b;
} */

/* 
.report-style{
	background-color: rgba(142, 142, 147, 0.6);
}
 */


/* .box-icon{
	border-radius: 50% 50% 50% 50%;
    display: block;
    float: left;
    font-size: 35px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    vertical-align: middle;
    width: 65px;
}

.mini-box {
    min-height: 105px;
    padding: 20px;
}
 */

/* .mini-icons::before {
	color: #FFFFFF !important;
    font-size: 30px !important;
    left: 8px;
    top: 17px;
} */

/* color circle */
/* .bg-blue{
	background-color: #007aff;
    color: #FFFFFF;
}

.bg-green {
    background-color: #39bf00;
    color: #FFFFFF;
}

.bg-gris {
    background-color: #323232;
    color: #FFFFFF;
}

.bg-orange {
    background-color: #ffa101;
    color: #FFFFFF;
}

.bg-pink {
    background-color: #ff2d55;
    color: #FFFFFF;
}

.bg-red {
    background-color: #ff3a2d;
    color: #FFFFFF;
}

.bg-yellow {
    background-color: #ffcc00;
    color: #FFFFFF;
}
 */

 /*Table width d'apres box pu ena dan statistics block*/
/* .table-width-3 tbody tr td{
	width: 33.33% !important;
}

.table-width-4 tbody tr td{
	width: 25% !important;
}

.table-width-5 tbody tr td{
	width: 20% !important;
}

.table-width-6 tbody tr td{
	width: 16.67% !important;
}

.section-title{
	color: #1d1d1d !important;
	font-family: Roboto-Bold !important;
} 

/*Statistics Table */
/*.table-statistics{
	margin: 0px;
}

.table-statistics tbody tr td{
	border-top: none;
	padding: 0px 16px 0px 0px;
}

.table-statistics tbody tr td:last-child{
	padding: 0px;
}

.table-statistics tbody tr td div div span:first-child{
	font-family: Roboto-bold;
	color: #1d1d1d;
	font-size: 20pt;
}
*/

.backoffice-alert{
    font-size: 14px;
    padding:15px 15px 15px 50px;
}


.backoffice-alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}