/*gift*/
.gift-card-popup .row label, .deposit-popup .row label {
	display: block;
	float: left;
	width: 180px;
}

.deposit-popup .row label {
	width: 80px;
}

.gift-card-popup .row, .deposit-card-popup .row {
	clear: both;
	height: 30px;
	line-height: 30px;
	padding: 5px;
}

.gift-card-popup, .deposit-popup{
	/* height: 150px !important; */
	height: auto;
}


.gift-card-details .row span, .deposit-details .row span {
	font-weight: bold;
	float: left;
}

.gift-card-details .row span.card-balance {
	font-size: 24px;
}

.gift-card-popup-transactions .row, .deposit-popup-transactions .row {
	clear: both;
	height: 50px;
	line-height: 30px;
	padding: 5px;
}

.gift-card-popup-transactions input, .deposit-popup-transactions input {
	width: 100%;
	height: 35px;
}

.gift-card-popup-transactions, .deposit-popup-transactions {
	/* text-align: center;
	font-size: 15px; */
	 margin: 0;
 	 line-height: 1.42857143;
  	font-family:arial !important;
  	font-size:12pt;
}

.mainicon-giftcard {
	background-image: url(../images3/giftcard.png);
	background-repeat: no-repeat;
	width: 46px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
}

.ui-dialog .ui-dialog-titlebar-close {
	  background: url("images/ui-icons_222222_256x240.png") repeat scroll -96px -128px rgba(0, 0, 0, 0);
	  border: medium none;
	  box-shadow: none;
	  font-size: 20px;
	  font-weight: bold;
	  height: 18px;
	  line-height: 13.5px;
	  margin: -20px 0 0;
	  opacity: 0.25;
	  padding: 1px;
	  position: absolute;
	  right: 0.3em;
	  text-shadow: 0 1px 0 #fff;
	  top: 50%;
	  width: 17px;
	  display: block;
	}
	
	
	
	
.open-drawer-popup div.row input[type=text], .open-drawer-popup div.row input[type=password], .open-drawer-popup div.row textarea{
    width:100%;
    padding:4px;
}

.open-drawer-popup div.row textarea{
    height : 50px;
}

.open-drawer-popup div.row {
    padding : 6px 10px;
}

.open-drawer-popup {
    width: 400px;
}


#redeem-promotion-popup td, #redeem-promotion-popup th {
	font-size: 14px;
}