
.popup .create-customer-icon {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -0px;
width: 38px;
height: 34px;
}

.smenu_help_request_support {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -44px;
}

.smenu_apply_payment_processor {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -119px;
}

.smenu_set_up_request_hardware {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -194px;
}

.demo-button{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -269px;
}

.popup .gift-card {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -358px;
	width: 46px;
	height: 42px;
	margin-left: 12px;
}

.popup .cardswap {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -410px;
width: 22px;
height: 32px;
}

.popup .apply-payment-processor-icon {
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -452px;
width: 37px;
height: 36px;
margin-left: 19px;
}

#translation-button{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -498px;
	width: 44px;
	height: 44px;
	margin-left: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#translation-button-small{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -552px;
	width: 34px;
	height: 34px;
	margin-left: 11px;
	margin-top: -6px;
	margin-bottom: 3px;
}

#send-mail-button{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -596px;
	width: 40px;
	height: 36px;
	margin-top: -16px;
	margin-left: 18px;
}

#ok-button{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -642px;
	width: 34px;
	height: 34px;
	margin-left: 21px;
}

#statement-of-account-icon{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -686px;
	width: 20px;
	height: 32px;
}

#footer-bg3{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -1080px;
	background-repeat: no-repeat;
}
 
.discount_border{
  background-image: url('../images/icon-image-sprite.png');
  background-position: left -1517px;
	background-repeat: no-repeat;
	width: 275px;
	height: 5px;	
	float: left;
}
