/** sprite: icon-image-sprite; sprite-image: url('../images/icon-image-sprite.png'); sprite-layout: vertical */

.popup .create-customer-icon {
	background-image: url(../images3/new-customer.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 38px;
	height: 34px;
}

.smenu_help_request_support {
	background-image:url(../images/buy-support.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
}

.smenu_apply_payment_processor {
	background-image:url(../images/apply-for-payment-processor.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
}

.smenu_set_up_request_hardware {
	background-image:url(../images/buy-comp-hardware.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
}

.popup .gift-card {
	background-image: url(../images3/giftcard.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 46px;
	height: 42px;
	margin-left: 12px;
}

.popup .cardswap {
	background-image: url(../images3/cardswap.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 22px;
	height: 32px;
}

.popup .apply-payment-processor-icon {
	background-image: url(../images3/apply-payment-processor.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 37px;
	height: 36px;
	margin-left: 19px;
}

#translation-button{
	background-image: url(../img/translation.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 44px;
	height: 44px;
	margin-left: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#translation-button-small{
	background-image: url(../img/translation-34x34.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 34px;
	height: 34px;
	margin-left: 11px;
	margin-top: -6px;
	margin-bottom: 3px;
}

#translate-icon-header{
	background-image: url(../images/translation-34x34.png);
	background-repeat: none;
	height:28px;
	width:28px;
	margin-left: 23px;
	margin-top: -12px;
}

#send-mail-button{
	background-image: url(../img/send_mail.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 40px;
	height: 36px;
	margin-top: -16px;
	margin-left: 18px;
}

#ok-button{
	background-image: url(../img/ok.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 34px;
	height: 34px;
	margin-left: 21px;
}

#statement-of-account-icon{
	background-image: url(../img/statement-of-account-icon.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 20px;
	height: 32px;
}

#export-statement-of-account-icon {
    background-image: url("../img/export-stament.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 49px;
    margin-left: 20px;
    width: 42px;
}

.discount_border{
	background-image: url(../img/border_discount.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 275px;
	height: 5px;	
	float: left;
}
