/*order-screen*/
.payment-popup-panel .checkout {
width: 32px;
height: 27px;
background-image: url(../images3/checkout.png);
}

.payment-popup-panel .dollar {
width: 58px;
height: 34px;
background-image: url(../images3/dollar.png);
margin-left: 5px;
}



.payment-popup-panel .credit {
width: 58px;
height: 42px;
background-image: url(../images3/credit.png);
margin-left: 4px;
margin-top: -4px;
}

.payment-popup-panel .check {
width: 60px;
height: 44px;
background-image: url(../images3/check.png);
margin-left: 6px;
}

.payment-popup-panel .credit-one {
width: 58px;
height: 44px;
background-image: url(../images3/credit1.png);
margin-left: 4px;
}

.payment-popup-panel .cardmachine {
width: 30px;
height: 44px;
background-image: url(../images3/cardmachine.png);
margin-left: 16px;
}

.payment-popup-panel .voucher {
width: 61px;
height: 53px;
background-image: url(../images3/voucher.png);
margin-left: 4px;
}

.payment-popup-panel .mix {
width: 50px;
height: 49px;
background-image: url(../images3/mix.png);
margin-left: 8px;
}

.payment-popup-panel .credit-two {
width: 58px;
height: 42px;
background-image: url(../images3/credit.png);
}

.popup .paycash {
width: 44px;
height: 28px;
background-image: url(../images3/paycash.png);
}

.popup .send {
background-image: url(../images3/send.png);
width:34px;
height:34px;
margin-left:20px; 
}

.popup .paycheck {
background-image: url(../images3/paycheck.png);
width:48px;
height:35px;
}

.popup .payvoucher {
background-image: url(../images3/payvoucher.png);
width:44px;
height:38px;
}

.popup .pencheck {
background-image: url(../images3/pencheque.png);
width:39px;
height:29px;
}

.popup .webcam {
background-image: url(../images/bp/webcam.png);
width:39px;
height:36px;
margin-left:20px; 
}

.popup .sales {
background-image: url(../images/bp/sales.png);
width:41px;
height:29px;
margin-left:20px; 
}

.popup .next {
background-image: url(../images/bp/next.png);
width:41px;
height:40px;
margin-left:20px; 
}

.popup .notes-btn {
background-image: url(../images/bp/comments.png);
width:50px;
height:40px;
margin-left:auto;
margin-right: auto;
}

.popup .carriage {
background-image: url(../images3/carriage.png);
width:32px;
height:31px; 
}

.popup .big-carriage {
background-image: url(../images3/big-carriage.png);
width:60px;
height:59px; 
}

.popup .cross {
background-image: url(../images3/cross.png);
margin-left: 25px;
height: 23px;
width: 23px;
}

.popup .right {
background-image: url(../images3/right.png);
margin-left: 25px;
width: 32px;
height: 26px;
}

.popup .create-product-icon {
background-image: url(../images3/create-product-icon.png);
width: 41px;
height: 35px;
}

/*header*/
.popup .iota {
background-image: url(../images3/iota.png);
width: 30px;
height: 30px;
}

.popup .change-terminal {
background-image: url(../images3/changeterminal.png);
width: 35px;
height: 35px;
margin-left: 20px;
}

/* .popup .terminal-info {
background-image: url(../images3/terminalinfo.png);
width: 36px;
height: 31px;
}
 */

/*product*/

/*to change 84*84 */
.popup .organisation {
background-image: url(../images3/organisation.png);
width: 58px;
height: 62px;
margin-top: -20px;
margin-left: -13px;
}

.popup .save {
background-image: url(../images3/save.png);
width: 37px;
height: 36px;
margin-left: 19px;
}

.popup .cam {
background-image: url(../images3/cam.png);
width: 40px;
height: 34px;
margin-left: 20px;
}

.popup .help {
background-image: url(../images3/help.png);
width: 42px;
height: 42px;
}

.info {
background-image: url(../images/popups/info.png);
width: 36px;
height: 35px;
}

.info-left {
background-image: url(../images/popups/role_left.png);
width: 33px;
height: 32px;
margin-left:20px; 
}

/* .popup .create-terminal{
background-image: url(../images3/create-terminal.png);
width: 107px;
height: 90px;
} */

.terminal-icon-pic {
background-image: url(../images2/terminal-icon.png);
width: 31px;
height: 26px;
}

.logout-pic {
background-image: url(../images2/logout.png);
width: 30px;
height: 33px;
}

.delete {
background-image: url(../images/delete.png);
width: 30px;
height: 19px;
margin-left:18px; 
}

.down {
background-image: url(../images/down.png);
width: 28px;
height: 26px;
margin-left: 57px;
}

.bottom {
background-image: url(../images/bottom.png);
width: 28px;
height: 26px;
margin-left: 57px;
}

.printer-configuration {
background-image: url(../images/printer-configuration.png);
width: 115px;
height: 109px;
margin-left:40px;
}

.post1 {
background-image: url(../images/post1.png);
width: 31px;
height: 36px;
}

.post2 {
background-image: url(../images/post2.png);
width: 31px;
height: 36px;
}

.post3 {
background-image: url(../images/post3.png);
width: 46px;
height: 28px;
}

.post4 {
background-image: url(../images/post4.png);
width: 46px;
height: 34px;
}

.post5 {
background-image: url(../images/post5.png);
width: 48px;
height: 36px;
}

.post6 {
background-image: url(../images/post6.png);
width: 30px;
height: 44px;
}

.post7 {
background-image: url(../images/post7.png);
width: 44px;
height: 38px;
}

.employee-pic {
background-image: url(../images/employee.gif);
width: 30px;
height: 32px;
}

/* .cashier {
background-image: url(../images3/cashier.png);
width: 158px;
height: 203px;
margin-top: -5px;
} */

.close-till {
background-image: url(../images3/closetill.png);
width: 277px;
height: 59px;
}

.popup .edit-prices{
background-image: url(../images3/editprices.png);
width: 32px;
height: 37px;
}

. popup .configure-button {
background-image: url(../images/report/configure-button.png);
width: 32px;
height: 37px;
}


. popup .configure-button {
background-image: url(../images/report/configure-button.png);
width: 32px;
height: 37px;
}

. popup .product-pairing-icon {
background-image: url(../images3/product-pairing-icon.png);
width: 49px;
height: 33px;
}

/* .app-barcode-printing {
background-image: url(../images/barcode-printing/print-barcode.png);
background-repeat: no-repeat;
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
} */

.barcode {
background-image: url(../images3/barcode.jpeg);
width: 290px;
height: 40px;
margin-left:7px; 
}

.app-send-stock {
background-image: url(../images/stock/send-stock.png);
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
}

.app-request-stock {
background-image: url(../images/stock/request-stock.png);
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
}

.app-new-inventory {
background-image: url(../images/inventory/complete-inventory.png);
width: 50px;
height: 40px;
margin-left: auto;
margin-right: auto;
}

.move-right {
background-image: url(../images3/move-right.png);
width: 34px;
height: 34px;
margin-left: 20px;
}

.move-left {
background-image: url(../images3/move-left.png);
width: 34px;
height: 34px;
margin-left: 20px;
}

.move-up {
background-image: url(../images3/move-up.png);
width: 35px;
height: 36px;
margin-top:114px;
padding-bottom:12px;
cursor: pointer;
display: block;
}

.move-down {
background-image: url(../images3/move-down.png);
width: 35px;
height: 35px;
cursor: pointer;
display: block;
margin-top: 12px;
}

.role-left {
background-image: url(../images/popups/role_left.png);
width: 33px;
height: 33px;
}

.role-right {
background-image: url(../images/popups/role_right.png);
width: 33px;
height: 33px;
}

.save {
background-image: url(../images3/save.png);
width: 37px;
height: 36px;
margin-left: 19px;
}

.cross-discount {
background-image: url(../images3/cross.png);
margin-left:19px;
height: 23px;
width: 23px;
}

.tickmark {
background-image: url(../img/tickmark.png);
margin-left:14px;
height: 20px;
width: 26px;
}

.popup .edit-product-onfly{
background-image: url(../images3/edit-product-onfly.png);
height: 33px;
width: 45px;
}

.popup .right-fly {
background-image: url(../images3/right.png);
margin-left: 19px;
width: 32px;
height: 26px;
}

.dummy {
background-image: url(../images/dummy.gif);
width: 136px;
height: 136px;
}

.checkout-order {
width: 268px;
height: 67px;
background-image: url(../img/checkout-button.jpg);
}

.buy-btn {
width: 276px;
height: 57px;
background-image: url(../images/buy.png);
}

/* .new-order-button {
width: 277px;
height: 58px;
background-image: url(../images/new-order-button.gif);
} */

/* .paid {
background-image: url(../images/paid.png);
width: 70px;
height: 40px;
float: left;
margin-left: 127px;
margin-top: 12px;
}

.outstanding {
background-image: url(../images/outstanding.png);
width: 178px;
height: 41px;
float: left;
margin-left: 20px;
margin-top: 12px;
}
.delivered {
background-image: url(../images/delivered.png);
width: 145px;
height: 46px;
float: right;
margin-right: 55px;
margin-top: 12px;
}

.received-stamp {
background-image: url(../images/received-stamp.png);
width: 142px;
height: 43px;
float: left;
} */

.employee-view-order {
background-image: url(../images/employee.gif);
width: 30px;
height: 32px;
margin-left: 24px;
}

/* .employee-comment {
background-image: url(../images/employee.gif);
width: 30px;
height: 32px;
} */

.pdf-version-pic {
background-image: url(../images/pdf-version.gif);
width: 87px;
height: 22px;
}

.home-button {
background-image: url(../images/home_button.png);
width: 274px;
height: 57px;
}

.popup .help-small {
background-image: url(../images3/Help-small.png);
width:26px;
height:27px;
}

.popup .help-big-pic {
background-image: url(../images3/Help-big.png);
width:66px;
height:61px;
}

/*------------------------------------------------------------------------------*/
#create-bg-left2 .image div{
	background-position: center center;
	background-repeat: no-repeat;
	height: 154px;
	width: 198px;
}

.create-bank-account{
	background-image: url('../images3/create-bank-account.png');	
}

.create-bank{
	background-image: url('../images3/create-bank.png');}

.create-cashbook{
	background-image: url('../images3/create-cashbook.png');
}

.create-email-notifier{
	background-image: url('../images3/create-email-notifier.png');
}

.create-store{
	background-image: url('../images3/create-store.png');
}

.create-payment-processor{
	background-image: url('../images3/create-payment-processor.png');
}

.create-payment-term{
	background-image: url('../images3/create-payments.png');
}

.create-tax-category{
	background-image: url('../images3/create-tax-category.png');
}

.create-tax-rate{
	background-image: url('../images3/create-tax-rate.png');
}

.create-terminal{
	background-image: url('../images3/create-terminal.png');
}

.create-warehouse{
	background-image: url('../images3/create-warehouse.png');
}

.create-commission-setting{
	background-image: url('../images3/create-commission-setting.png');
}

.create-users{
	background-image: url('../images3/create-users.png');
}

.create-payments{
	background-image: url('../images3/create-payments.png');
}

.create-customers{
	background-image: url('../images3/create-customers.png');
}

.create-vendors{
	background-image: url('../images3/create-vendors.png');
}

.support-image{
	background-image: url('../images/request-support/support-image.png');
}

.dummy{
	background-image: url('../images/dummy.gif');
}

#indicator{
	width:400px;
	height:48px
}

/* #indicator {
 	top: 40%;
    left: 50%;
    position: absolute;
    z-index: 9;
 }
 
 #indicator-container{
 	margin-top: -50px;
 	margin-left: -50px;
 }
 
.indicator{
	width:100px;
	height:100px;
	border:none;
	background-position:top left;
	background-repeat:no-repeat;
	float:left;
	background-image: url('../images/ajax-loader.gif');
} */