 #indicator {
 	top: 40%;
    left: 50%;
    position: absolute;
 }
 
 #indicator-container{
 	margin-top: -50px;
 	margin-left: -50px;
 }
 
.indicator{
	width:100px;
	height:100px;
	border:none;
	background-position:top left;
	background-repeat:no-repeat;
	float:left;
	background-image: url('../images/ajax-loader.gif');
} 

.logo{
width:180px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -20px;
} 

.topicon-sales{
width:56px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -80px;
} 

.topicon-home{
width:56px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -140px;
} 

.topicon-clockinout{
width:56px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -200px;
} 

.topicon-keyboard{
width:56px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -260px;
} 

.topicon-info{
width:56px;
height:60px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -320px;
} 

.butn-change{
width:30px;
height:30px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -380px;
} 

/*OrderScreen*/

.butn-filterclear{
width:71px;
height:70px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -410px;
} 

.butn-filterpin{
width:71px;
height:70px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -480px;
} 


.butn-searchproduts{
width:46px;
height:46px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -550px;
}

.butn-customerinfo{
width:46px;
height:46px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -596px;
} 





.butn-checkout{
width:300px;
height:78px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -1891px;
}

.butn-user01{
width:82px;
height:40px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -1977px;
}

.butn-user02-off{
width:81px;
height:40px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2055px;
}

.system-password{
width:48px;
height:48px;
border:none;
background-position:top left;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2127px;
}

.calculator{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2171px;
}

.butn-cash{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2219px;
}

.butn-card{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2267px;
}

.butn-cheque{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2315px;
}

.butn-mix{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2363px;
}

.butn-credit{
width:90px;
height:48px;
border:none;
background-position:center center;
background-repeat:no-repeat; 
  background-image: url('../images/sprites/image_sprite.png');
  background-position: left -2411px;
}

.request-stock {
	background:url(../images/stock/app-requeststock.png) no-repeat left top;	
	margin:0px auto;
	padding: 0px;
	border: none;
	width: 276px;
	height: 56px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	color:#ffffff;
	cursor:pointer;
	margin-top: -1px;
	margin-left: -3px;
}

.send-stock {
	background:url(../images/stock/app-sendstock.png) no-repeat left top;	
	margin:0px auto;
	padding: 0px;
	border: none;
	width: 276px;
	height: 56px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	color:#ffffff;
	cursor:pointer;
	margin-top: -1px;
	margin-left: -3px;
}

#translation-button{
	background-image: url(../img/translation.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 44px;
	height: 44px;
	margin-left: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#translation-button-small{
	background-image: url(../img/translation-34x34.png);/** sprite-ref: icon-image-sprite; sprite-margin-bottom: 10px*/
	width: 34px;
	height: 34px;
	margin-left: 11px;
	margin-top: -6px;
	margin-bottom: 3px;
}

.buy-btn {
width: 276px;
height: 57px;
background-image: url(../images/buy.png);
}