@CHARSET "UTF-8";
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#333333; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover, .dropdown dt a:focus { color:white;}

.dropdown dd ul { background:#ffffff none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0;display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;z-index:1000000;}
.dropdown dd ul li a { padding:10px; display:block; width:200px; font-size:14px;}
.dropdown dd ul li a:hover { background-color:#acd562;}
.dropdown a.odd { background-color:#e7ecf5;}
.dropdown a.even { background-color:#f4f6fa;}
