#jGlide_001
{
  color:#333333;
  display:none;
  font-family:arial, sans-serif;
  font-size:11pt;
  /* margin:0 0 0 4px; */
  /* width: 166px; */
  /* height: 638px; */
  /* height: 545px; */
  /* height: 555px; */ /*commented by yovenita */
 /*  height: 550px; */
  /* margin-left: 3px; */
  width: 100%;
  /* border-top: 1px solid #bbbbbe; */
}

.jGM_box
{
  background:#fff;
  /* border:0 solid #bbbbbe; */
  overflow:hidden;
  padding:0;
  position:absolute;
  width:135px;
}

.jGM_wrapper
{
  border:0;
  /* height:638px; */
  /* height: 544px; */
  height: 420px;
  left:0;
  margin:0;
  padding:0;
  position:absolute;
  top:0;
 /*  width:1500px; */
 width: 100%;
}

.jGM_pager
{
  /* background:#f6f6f6 url(../images/glider-pager-background.png) repeat-x; */
  /* width:135px; */
  background-color: #FFFFFF;
  /* border-bottom: 1px solid #bbbbbe; */
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
  /* border-width: 1px; */
  color:#fff;
  height:45px;
  line-height:50px;
  margin:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  /* width: 166px; */
}

.jGM_tile{
	background-color: #FFFFFF;
	/* width: 166px !important; */
	/* height: 543px !important; */
	/* height: 555px !important; */ /*commented by yovenita*/
	/* height: 550px !important; */
	width: 100% !important;
}

.jGM_pager a
{
  color:#fff;
  display:block;
  font-weight:700;
  height:50px;
  text-decoration:none;
}

.jGM_pager img
{
  border:0;
  margin:18px 0;
}

.jGM_pager_down
{
  border:0;
  color:#fff;
  height:50px;
  line-height:50px;
  margin:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  /* width:166px; */
  width: 100%;
  /* border-top: solid 1px #bbbbbe; */
  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px; */
  background-color: #FFFFFF;
}

.jGM_pager_down a
{
  color:#fff;
  display:block;
  font-weight:700;
  height:50px;
  text-decoration:none;
}

.jGM_pager_down img
{
  border:0;
  margin:18px 0;
}

.jGM_content
{
  /* background-image:url(../images/glider-content-background.png); */
  border:0;
 /*  height:527px; */
 /* height: 446px; */
 /* height: 450px; */ /*commented by yovenita */
 height:440px;
  margin:0;
  overflow:hidden;
  padding:0;
 /*  width:166px; */
  /* background-color: #e5e5e7; */
}

/* .jGM_content a
{
  color:#333;
  display:block;
  height:50px;
  line-height:50px;
  margin:0;
  padding:0 0 0 5px;
  text-decoration:none;
  width:100%;
  border-bottom: 1px solid #bbbbbe;
}
 */
 
 .jGM_content a
{
  /* background-color: #8e8e93; */ 
  /* border-color: #BBBBBE; */
  color:#1d1d1d;
  height: 35px;
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 10px;
  padding-top: 7px;
  display: block;
 /*  font-weight: bold; */
 border:1px solid #8e8e93;
}
 
.jGM_content a:HOVER
{
  background-color: #007aff !important;
  color:#FFFFFF !important;
}

.jGM_content a:focus
{
  background-color: #007aff !important;
  color:#FFFFFF !important;
}

.jGM_content a:visited
{
  background-color: #007aff !important;
  color:#FFFFFF !important;
}

.jGM_more
{
  /* background-image:url(../images/glider-arrow.gif);
  background-position:-10px 50%;
  background-position: 90% 50%;
  background-repeat:no-repeat; */
}

.jGM_back,.jGM_reset
{
  background:#ffffff;
/*   border:0; */
  border-radius:8px 8px 8px 8px;
  color:#1d1d1d;
 /*  height:61px;
  left:0;
  line-height:50px; */
  height:35px;
  margin:0 0 10px 0;
/*   padding:0; */
  position:absolute;
  text-align:center;
/*   top:-10px; */
/*   font-weight:bold; */
  top:0px;
  /* vertical-align:middle;
  width:50px;
  z-index:99; */
  width:100%
}

.jGM_back a,.jGM_reset a
{
  background:#ffffff;
  color:#1d1d1d;
  border:1px solid #8e8e93;
  display:block;
  height:100%;
/*   text-decoration:none; */
  width:100%;
  text-align:center;
  border-radius:8px 8px 8px 8px;
  padding-top:7px;
}

.jGM_back a:HOVER,.jGM_reset a:HOVER
{
  background:#9ACF30;
  color:#fff;
}