
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #999999;
}
.jScrollPaneDrag {
	/*
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
	background: #FFF url(../images/scroll.png) no-repeat 50% 50%; border:2px solid #CFD7E9;
	*/
	
	position:absolute;
	width:36px;
	height:185px !important;
	text-align:center;
	margin-left:1px;
	margin-top:1px;
	margin-bottom:1px;
	line-height:60px;
	color:#666;
	overflow:hidden;
	border:1px solid #999999;
	cursor:pointer;
	background:url(../images/scroll.png) center center no-repeat #FFF;
	
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
