/*** keyboard CSS ***/
div.keyboardHandler{
	background-color:#777777;
	height:20px;
	cursor:move;
}

table.keyboard{
	background-color: #FFFFFF;		
}

table.keyboard td{
	vertical-align:middle;
	text-align:center;
	width:50px;
	height:50px;
	border:solid 1px #444444;
	background-color: #FFFFFF;
	cursor:pointer;
	background-color:#F4F4F4;
	font-family: arial,sans-serif;	
	font-size: 13pt;	
	letter-spacing: 1px;	
	font-weight: bolder;
	color: #000000;
}

table.keyboard td:hover{
	background-color:#FFFFFF;
}