/***Layout CSS***/
.float-left{
	float:left;
}

.float-right{
	float:right;
}

/* Popups */
#indicator,#terminal-popup-panel,#keypad-popup-panel{
	display:none;
}

.wood-background{
	background-image: url("../images/woodbg.png");
}

/*Page Header*/
table.header td{
	background-image: url("../images/middlebluepad.png");
}

table.header td.left{
	background-image: url("../images/leftbluepad.png");
	width: 19px;
	height: 60px;
}

table.header td.right{
	background-image: url("../images/rightbluepad.png");
	width: 19px;
	height: 60px;
}

#title-container{
	color: #FFF;
	text-transform: uppercase;
}


/*Action Panel*/
.action-container{
	background-color: #B8B8B8;
}

#info-panel{
	background-image: url("../images/info-bg.png");
	height: 60px;
	text-align: center;
	overflow: visible;
}

#info-panel #info-panel-header{
	font-size: 10px;
}

#info-panel #info-panel-subheader{
	font-weight: bold;
}

button{
	cursor: pointer;
}

/*
.action-button, .action-dropdown{
	height:86px;
	width:86px;	
	float:left;
	display:block;
	margin:0 8px 9px 0;
}

.action-button, .action-dropdown{
	width: 98px;
	height: 100px;
	border:none;
	float:left;
	margin-left:2px;
	margin-top:2px;
	background-image: url(../images/button-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color:#B8B8B8;
}
*/

.action-dropdown{
	background-image:none;
}

.action-dropdown .title{
	font-family:arial;
	font-size:12px;
	margin-top:55px;
}

/*
.action-button .title{
	font-family:arial;
	font-size:12px;
	position: relative;
	top: -20px;
}
*/


/*Search Product Panel*/
/*
#search-product-textfield{
	border:medium none;
	float:left;
	font-size:20px;
	height:46px;
	width:100%;
}

#search-product-textfield-container, #search-bp-textfield-container{
	background: #FFF;
	border: solid 2px gray;
}

#search-product-button{
	background-color: #FFF;
}
*/

/*Search BP Panel*/
/*
#search-bp-textfield{
	border:medium none;
	float:left;
	font-size:20px;
	height:46px;
	width:100%;
}
*/

.button-icon {background:transparent;border:none;font-size:10px;text-transform:capitalize;cursor:pointer;}

/*Shopping cart*/
/*
div#shopping-cart-container{
	height: 500px;
	background-color: #FFFFFF;
}

div#shopping-cart-container th,div#shopping-cart-container td{
	padding: 4px;
}

div#shopping-cart-container div#header{
	background-image:url(../images/receipt-top-right-corner.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	height: 40px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	border-bottom: dotted 2px #B8B8B8;
}
*/

div#shopping-cart-container div#shopping-cart-lines-container th{
	font-weight: bold;
	border-bottom: dotted 2px #B8B8B8;
}

div#shopping-cart-container div#shopping-cart-lines-container td, div#shopping-cart-container div#shopping-cart-lines-container th{
	font-size: 12px;	
	height: 40px;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.even, .receipt-layout tr.even{
	background-color: #FFFFFF;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.odd, .receipt-layout tr.odd{
	background-color: #F7F7F7;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.light-green{
	background-color: #9ACF30;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.light-orange{
	background-color: #DA7628;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.shopping-cart-highlight{
	background-color: #9ACF30;
}

div#shopping-cart-container tr#sub-total{
	font-size: 12px;
	border-top: solid 1px;
	font-weight: bold;
}

div#shopping-cart-container tr#tax-total{
	font-size: 12px;
	border-bottom: solid 1px;
	
	font-weight: bold;
}

div#shopping-cart-container tr#grand-total{
	font-size: 14px;
	background-color: #E2E2E2;
	font-weight:bold;
	height: 40px;
}

/*
#pane3{
	background-color: #F7F7F7;
}
*/

#action-button-container{
	height: 100px;
	padding-top: 20px;
}

/********************************************************************************/
#searchResultTable{
   		border: solid 0px;
   		border-collapse: collapse;
   }
   
   #searchResultTable td{
   		border-width: 0px;
   		/* height: 38px; */
   		font-size: 10pt;   		
   		color:#333333;		
		font-weight:normal;
		/* padding: 8px 5px; */
		font-family:Arial;
		padding-top: 5px;
		padding-bottom: 5px;
   }
      
   #searchResultTable tr.odd{
   		background-color: #ECEFF7;
   }
   
   #searchResultTable tr.even{
   		background-color: #F7F8FB;
   }
   
    #searchResultTable tr.light-green{
		background-color: #9ACF30;
	}
	
	#searchResultTable tr.light-orange{
		background-color: #E8C58C;
	}	
	
	#searchResultTable tr.search-product-highlight td, #searchResultTable tr.search-highlight td{
		background-color: #007aff;
		color: #FFFFFF !important;
		/* border-top: 1px solid #0063CC !important;
		border-bottom: 1px solid #0063CC !important;
		color: #0063CC !important; */
	}
   
   #quantity-texfield-container{
   		float:left;
		width: 88px;
		height: 90px;
		text-align: center;
		margin: 0px 0px 8px 8px;
   }
   
  /*  #quantity-texfield{
   		font-size:24px;
		margin-bottom:4px;
		margin-top:30px;
		width:60px;
   } */
   
   #quantity-texfield-container div.title{
		text-align: center;
		margin-top: 0px;
   }
   
   .tax-dropdown-container{
   		float:left;
   		/* width:184px;
   		height:90px; */
   		width: 24%;
   		height: 60px;
		text-align: center;
		/* margin:0px 0px 8px 8px; */
		margin-top: 25px;
		margin-right: 1%;
   }
   
   #tax-dropdown{
   		width: 100%;
   		height: 100%;
   }
      
   div.autocomplete {
		position:absolute;
		width:250px;
		background-color:white;
		border:1px solid #888;
		margin:0;
		padding:0;
		z-index: 1000000;
		height:200px;
		overflow:auto;
	}
	
	div.autocomplete ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	
	div.autocomplete ul li.selected { 
		background-color: #ffb;
		font-weight: bold;
	}
	
	div.autocomplete ul li {
		list-style-type:none;
		display:block;
		margin:0;
		padding:2px 4px;
		height:32px;
		cursor:pointer;
		background-image:none;
	}
	
	div.autocomplete ul li:nth-child(odd) {
		background-color: #FCFCFC;
	}
	
	div.autocomplete ul li:nth-child(even) {
		background-color: #FFFFFF;
	}   
   
   div.popup{
		position:absolute;
		display:none;
		/* background-color:#FFF;
		border: solid 6px #4475B2;
		padding:6px; */
	}
	
/********************************************************************************/
/*
	div.row{
	 	overflow:auto;
		padding-bottom:8px;
		width:100%;
 	}
  		
  	div.row input{
   		border:2px solid #CCCCCC;
		font-size:14px;
		padding:6px;
		width:216px;
	}
	
	div.row label{
		float:left;
		padding:7px 8px 0 0;
		text-align:right;
		width:150px;
		font-size: 11px;
	}
	
	div.row select {
		border:2px solid #CCCCCC;
		font-size:14px;
		padding:6px;
		width:216px;
	}
*/
/*************************************************************************************/
