@font-face {
	font-family: Arial;
	src: url('../css/arial.ttf');
}

@font-face {
	font-family: Verdana;
	src: url('../css/verdana.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('../css/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-light;
	src: url('../css/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-bold;
	src: url('../css/Roboto-Bold.ttf');
}

body {
color:#333;
font-family:Verdana,Geneva,sans-serif;
font-size:11px;
overflow:hidden;
margin:0;
padding:0;
}

.simple-header {
background-image:url(../images2/middlebluepad.png);
height:64px;
}

.simple-footer {
background-color:#9a9a9a;
}

.login p {
line-height:2.0;
text-align:justify;
font-size:12px;
}

.login label {
font-size:14px;
font-weight:700;
color:#666;
}

.login input[type="text"], .login input[type="password"] {
/* height:50px;
width:350px; COMMENTED */
/*border-width:0;*/
height:35px;
padding:0;
}

.login #continue-button {
float:right;
cursor:pointer;
border:none;
height:79px;
width:79px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -0px;
background-repeat: no-repeat;
}

/* .login #login-button {
cursor:pointer;
border:none;
height:79px;
width:79px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -89px;
background-repeat: no-repeat;
} */

.change-button {
cursor:pointer;
border:none;
height:79px;
width:80px;
margin-right:10px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -178px;
background-repeat: no-repeat;
}

.sign-up-button {
cursor:pointer;
border:none;
height:79px;
width:80px;
margin-right:10px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -267px;
background-repeat: no-repeat;
}

.demo-button {
cursor:pointer;
border:none;
height:79px;
width:80px;
margin-right:10px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -356px;
background-repeat: no-repeat;
}

.button-text {
padding-top:45px;
font-weight:700;
font-size:11px;
color:#333;
}

.sensitive-text {
font-family:verdana;
font-size:11px;
color:#333;
}

.support-browser-text {
font-family:verdana;
font-size:12px;
color:#666;
}

.link-browser {
text-decoration:none;
color:#346aa7;
font-size: 12px;
}

.link-here {
color:#3e70ae;
}

.login-account-text {
color:#333;
font-size:12px;
}

.login #domain-textfield {
width:400px;
height:50px;
}

.forgot-password-text {
font-size:11px;
color:#346aa7;
text-decoration:none;
}

.change-business-name-text {
font-size:11px;
color:#346aa7;
text-decoration:none;
}

.terminal-selection-text {
color:#333;
font-size:12px;
line-height:28px;
}

.terminal-select {
width:400px;
height:40px;
padding-top:5px;
}

.input-sm-select {
	width: 100%;
	padding: 7px 5px;
}

.terminal-info-button {
cursor:pointer;
border:none;
height:79px;
width:79px;
margin-right:10px;
float:right;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -445px;
background-repeat: no-repeat;
}

.terminal-continue-button {
cursor:pointer;
border:none;
height:79px;
width:79px;
float:right;
margin-right:10px;
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -0px;
background-repeat: no-repeat;
}

th,td,p,div,label,span,h1,h2,h3,a {
font-family:Verdana, Geneva, sans-serif;
color:#333;
}

.login h1,.terminal h1 {
font-size:20px;
font-weight:700;
color:#346aa7;
}

.login .domain-textfield-container,.login .username-textfield-container,.login .password-textfield-container {
/*border:solid 2px #CCC;*/
/* height:50px;
width:350px; COMMENTED */
font-size: 14px;
}

.name-text {
font-family:verdana;
font-size:14px;
color:#666;
font-weight: 700;
padding: 6px 6px 6px 0;
}

.popup .create-terminal{
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -534px;
width: 107px;
height: 90px;
}

.popup .terminal-info {
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -634px;
width: 36px;
height: 31px;
}

.logout-icon {
  background-image: url('../images/sprites/login-sprite.png');
  background-position: left -675px;
width: 30px;
height: 33px;
margin-top: 5px;
margin-right: 10px;
}
