/** sprite: menu-sprite; sprite-image: url('../images/menu-sprite.png'); sprite-layout: vertical */
/** sprite: pmenu-sprite; sprite-image: url('../images/pmenu-sprite.png'); sprite-layout: vertical */
#menu-tabs-container {
	width:680px;
	margin-left: auto;
	margin-right: auto;
}

.menuImage .butnDesc {
	font-size:12px;
	position:relative;
	text-align:center;
	text-decoration:none;
	top:75px;
}

.butnDesc {
	font-size:12px;
	position:relative;
	text-align:center;
	text-decoration:none;
	height: 55px;
	line-height: 55px;
	font-weight: bold;
	padding-top: 8px;
}

div.menuImage{
	height: 70px;
	width: 90px;
	margin-left: 10px;
	float:left;
	background-repeat: no-repeat;
	/*background-position:center top;*/
}

/*div.menuImage:hover{
	background-color: #9ACF30;
}*/

div.highlight:hover{
	background-color: #9ACF30;
}

#subMenumenu-tabs-container div.menuImage{
	width: 95px;
	height: 70px;
	line-height: 70px;
}
#menu-buttons-container{
	margin-top: 24px;
}

#menu-buttons-container .title{
	color:#333333;
	display:table-cell;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:10px;
	font-weight:bold;
	margin-top:57px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
	vertical-align:bottom;
	width:88px;
}

.container2 {
	background-color: white;
	background-image: url("../images/pages.png"); 
	background-repeat: no-repeat;
	height: 703px;
	margin: 0 auto;
	width: 704px;
}


.inner_container {
	background-image: url("../images/page_bottom.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 700px;
	margin: 0 auto;
	width: 100%;
}

.menu-main{
	background:#2A2B28 none repeat scroll 0 0;
	height:703px;
	margin:0px auto;
	padding-top:1px;
	width:714px;
}


#subMenuTabpanel{
	background:transparent url(../images/lines.png) repeat-x scroll 0 0;
	border-left:6px solid #5D8FCA;
	border-right:5px solid #5D8FCA;
	border-top:6px solid #5D8FCA;
	display:block;
	height:475px;
	margin-left:1px;
	width:689px;
}

#menu-tabs-container div.tab-button{
	width: 130px;
	height: 95px;
	float: left;
	margin-top: 12px;
}

#menu-tabs-container div.tab-button div.label{
	text-align: center;
	float: left;
	text-transform: uppercase;
	margin: 30px 5px 0px 5px;
	width: 120px;
}

#menu-tabs-container div.tab-image{
	height:100%;
	width: 130px;
	cursor: pointer;
}

#menu-tabs-container div.tab-button{
	background-image:url(../images/tab-background.png);  
	background-repeat:no-repeat;
	margin-right: 2px;
}

#menu-tabs-container div.active{
	color: #FFF;	
	font-weight: bold;
	background-image:url(../images/active-tab-background.png); 
	background-repeat:no-repeat;
}

#subMenumenu-tabs-container a{
	text-decoration: none;
	color: #000000;
}
/***********************************************************************************************/
/*CSS for sub menu*/
.smenu_product_sales_report{
	background-image:url(../images/menu/reports/sales-report/product-sales-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_purchase_report{
	background-image:url(../images/menu/reports/purchases-report/product-purchase-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_discount_report{
	background-image:url(../images/menu/reports/sales-report/discount-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_clock_inout_report{
	background-image:url(../images/menu/reports/employees/clock-inout-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_inventory_report_by_product{
	background-image:url(../images/menu/reports/stocks/inventory-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_cash_journal{
	background-image:url('../images/menu/reports/till-management/cash-journal-report.png'); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_terminal_sales_report{
	background-image:url(../images/menu/reports/sales-report/terminal-sales-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_fast_moving_items{
	background-image:url(../images/menu/reports/sales-report/fast-moving-items.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_close_till_report{
	background-image:url(../images/menu/reports/till-management/closetill-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_view_delivery{
	background-image:url(../images/menu/reports/sales-report/delivery-report.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

/*parent menus*/
.pmenu_operations {
	background-image:url('../img/menu/operations.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_credit_sales {
	background-image:url("../img/menu/credit sales.png"); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_items {
	background-image:url(../img/menu/products.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_till_mgt {
	background-image:url("../img/menu/till mgt.png"); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_dashboard {
	background-image:url(../img/menu/dashboard.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_customer{
	background-image:url(../img/menu/customers.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_vendors{
	background-image:url(../img/menu/vendors.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_reports{
	background-image:url(../img/menu/reports.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_inventory{
	background-image:url(../img/menu/inventory.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_settings{
	background-image:url(../img/menu/settings.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_hardware{
	background-image:url(../img/menu/hardware.png); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_purchasing {
	background-image:url('../img/menu/purchases.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_employees {
	background-image:url('../img/menu/employees.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_help {
	background-image:url('../img/menu/help.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_logout{
	background-image: url('../img/menu/logout.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_alerts {
  background-image: url('../images/menu/alerts.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_my_subscription {
  background-image: url('../images/my-subscription/my-account-main.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}

.pmenu_request_support {
  background-image: url('../images/request-support/request-support-pmenu.png'); /** sprite-ref: pmenu-sprite; sprite-margin-bottom: 10px*/
}


/***********************************************************************************************/
/*CSS for new navigation sub menu*/
.smenu_make_a_sale {
	background-image:url(../images/menu/pos-operations/manage-sales/make-sale.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_find_a_sales_receipt {
	background-image:url(../images/menu/pos-operations/manage-sales/find-sales-receipt.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_enter_receipt_id_and_display_transaction {
	background-image:url(../images/menu/pos-operations/manage-sales/enter-receipt-id-and-display-transaction.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_sales_return_history {
	background-image:url(../images/menu/pos-operations/manage-sales/view-sales-return-history.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_make_a_return {
	background-image:url(../images/menu/pos-operations/manage-sales/make-return-refund.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_current_sales_by_employees {
	background-image:url(../images/menu/pos-operations/daily-sales-report/view-current-sales-by-employee.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_clock_in_clock_out, .smenu_employee_clock_in_clock_out {
	background-image:url(../images/menu/pos-operations/store-monitoring/clockin-clockout.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_enter_spot_check {
	background-image:url(../images/menu/pos-operations/store-monitoring/enter-spot-check.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_run_end_of_day {
	background-image:url(../images/menu/pos-operations/manage-cash-drawer/run-end-of-day.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_adjust_cash_in_drawer {
	background-image:url(../images/menu/pos-operations/manage-cash-drawer/adjust-cash-in-drawer.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_current_money_in_cash_drawer {
	background-image:url(../images/menu/pos-operations/manage-cash-drawer/view-current-money-in-cash-drawer.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_add_items {
	background-image:url(../images/menu/items/items/add-item.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_add_items_template {
	background-image:url(../images/menu/items/items/create-template.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}
.smenu_view_items_template_list {
	background-image:url(../images/menu/items/items/view-template-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_items_list {
	background-image:url(../images/menu/items/items/view-item-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_import_update_items {
	background-image:url(../images/menu/items/items/import-update-items.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_product_lookup {
	background-image:url(../images/menu/items/items/item-lookup.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_items_print_barcode {
	background-image:url(../images/menu/items/sku/print-barcode.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_price_list {
	background-image:url(../images/menu/items/pricelist/create-new-pricelist.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_price_list {
	background-image:url(../images/menu/items/pricelist/view-price-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_make_a_new_po {
	background-image:url(../images/menu/purchasing/po/make-new-po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_find_po{
	background-image:url(../images/menu/purchasing/po/find-po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_receiving_history {
	background-image:url(../images/menu/purchasing/receive-items/view-receiving-history.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_receive_items_vs_po {
	background-image:url(../images/menu/purchasing/receive-items/receive-items-vs-po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_list_of_undelivered_po {
	background-image:url(../images/menu/purchasing/receive-items/view-list-of-undelivered-po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_add_a_vendor {
	background-image:url(../images/menu/purchasing/vendor/add-vendor.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_list_of_vendors {
	background-image:url(../images/menu/purchasing/vendor/view-vendor-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_track_unpaid_invoices_list {
	background-image:url(../images/menu/purchasing/accounts-payables/track-unpaid-po-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_vendors_invoices_list {
	background-image:url(../images/menu/purchasing/accounts-payables/view-vendor-invoices-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_creditors_list {
	background-image:url(../images/menu/purchasing/accounts-payables/view-creditors-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_return_items_purchased_to_vendor {
	background-image:url(../images/menu/purchasing/return-items/return-items-purchased-to-vendor.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_return_items_vs_po {
	background-image:url(../images/menu/purchasing/return-items/return-items-vs-po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_purchase_return_history {
	background-image:url(../images/menu/purchasing/return-items/view-purchase-return-history.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}
.smenu_add_a_customer {
	background-image:url(../images/menu/customer/manage-customer/add-customer.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_a_customer {
	background-image:url(../images/menu/customer/manage-customer/view-customer-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_invoices_list {
	background-image:url(../images/menu/customer/accounts-receivables/track-unpaid-invoices.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_receive_payment {
	background-image:url(../images/menu/customer/accounts-receivables/receive-payment.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_allocate_payment_to_invoice {
	background-image:url(../images/menu/customer/accounts-receivables/allocate-payment-to-invoices.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_payment_list {
	background-image:url(../images/menu/customer/accounts-receivables/view-payments-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_debtors_list {
	background-image:url(../images/menu/customer/accounts-receivables/view-debtors-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_aging_report {
	background-image:url(../images/menu/customer/accounts-receivables/aging.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}
.smenu_create_role {
	background-image:url(../images/menu/employee/permission/create-role.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_roles_list {
	background-image:url(../images/menu/employee/permission/view-roles-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_user {
	background-image:url(../images/menu/employee/system-users/create-user.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_user_list {
	background-image:url(../images/menu/employee/system-users/view-user-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_attendance_history {
	background-image:url(../images/menu/employee/attendance/view-attendance-history.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_commission_rule {
	background-image:url(../images/menu/employee/commissions-due/create-new-comm-rule.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_commission_rules {
	background-image:url(../images/menu/employee/commissions-due/view-comm-rules.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_generated_pay_slips {
	background-image:url(../images/menu/employee/commissions-due/view-generated-payslips.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_get_notified {
	background-image:url(../images/menu/alerts/alerts/get-notified.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_store {
	background-image:url(../images/menu/settings/stores-and-warehouses/create-new-store.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_store_list {
	background-image:url(../images/menu/settings/stores-and-warehouses/view-store-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_warehouse {
	background-image:url(../images/menu/settings/stores-and-warehouses/create-new-warehouse.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_warehouse_list {
	background-image:url(../images/menu/settings/stores-and-warehouses/view-warehouse-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_tax_category {
	background-image:url(../images/menu/settings/tax-rules/create-new-taxcat.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_tax_category {
	background-image:url(../images/menu/settings/tax-rules/view-taxcat-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_tax_rate {
	background-image:url(../images/menu/settings/tax-rules/create-new-tax.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_tax_rate_list {
	background-image:url(../images/menu/settings/tax-rules/view-tax-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_new_cash_drawer {
	background-image:url(../images/menu/settings/cash-drawer/create-new-cashdrawer.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_cash_drawer_list {
	background-image:url(../images/menu/settings/cash-drawer/view-cashdrawer-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_bank {
	background-image:url(../images/menu/settings/bank/create-new-bank.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_bank_list {
	background-image:url(../images/menu/settings/bank/view-bank-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_bank_account {
	background-image:url(../images/menu/settings/bank/create-new-bankacc.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_bank_account_list {
	background-image:url(../images/menu/settings/bank/view-bankacc-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_payment_processor {
	background-image:url(../images/menu/settings/bank/create-new-payment-processor.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_view_payment_processor {
	background-image:url(../images/menu/settings/bank/view-payment-processor-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_create_a_new_terminal {
	background-image:url(../images/menu/settings/terminals/create-new-terminal.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_terminals_list {
	background-image:url(../images/menu/settings/terminals/view-terminal-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	
}

.smenu_set_up_slip_printer {
	background-image:url(../images/menu/hardware-and-peripherals/slip-printer/setup-printer.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

/*Reports*/
.smenu_inventory_aging_report {
	background-image:url(../images/menu/reports/stocks/inventory-aging-report.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_gross_profit {
	background-image:url(../images/menu/reports/sales-report/gross-profit-report.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

	/*New Navigation Buttons- Inventory*/
div.smenu_inventory_receive_items_receive_items_from_po{
	background-image: url(../images/menu/inventory/receive_items/receive_item_from_po.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_receive_items_request_items_from_other_locations{
	background-image: url(../images/menu/inventory/receive_items/request_item_from_other_loc.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}

div.smenu_inventory_receive_items_view_requested_items_list_from_other_locations{
	background-image: url(../images/menu/inventory/receive_items/view_requested_item_list_from_other_loc.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_receive_items_from_other_locations{
	background-image: url(../images/menu/inventory/receive_items/receive_item_from_other_loc.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_receive_items_view_received_items_list{
	background-image: url(../images/menu/inventory/receive_items/view_receive_item_list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_receive_items_view_cancelled_received_items{
	background-image: url(../images/menu/inventory/receive_items/view_cancelled_received_items.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}

div.smenu_inventory_send_items_return_items_to_vendor{
	background-image: url(../images/menu/inventory/send_items/return_items_to_vendor.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_send_items_send_items_to_other_stores{
	background-image: url(../images/menu/inventory/send_items/sent_items_to_other_store.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_send_items_view_pending_requests_from_other_locations{
	background-image: url(../images/menu/inventory/send_items/view_pending_request_from_other_loc.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_send_items_view_pending_sent_items{
	background-image: url(../images/menu/inventory/send_items/view_pending_sent_item.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_send_items_view_sent_items_list{
	background-image: url(../images/menu/inventory/send_items/view_sent_item_list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_view_cancelled_sent_items{
	background-image: url(../images/menu/inventory/send_items/view_cancelled_sent_item.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_inventory_adjustment_view_and_approve_daily_physical_count{
	background-image: url(../images/menu/inventory/inventory_adjustment/view_and_approve_daily_count.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}

div.smenu_inventory_inventory_adjustment_view_count_store_actual_on_hand_quantity{
	background-image: url(../images/menu/inventory/inventory_adjustment/count_store_actual_on_hand_quantity.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_inventory_adjustment_view_inventory_adjustment_reports{
	background-image: url(../images/menu/inventory/inventory_adjustment/view_inventory_adj_report.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_inventory_adjustment_view_inventory_discrepancy_reports{
	background-image: url(../images/menu/inventory/inventory_adjustment/view_inventory_discrepency_report.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
div.smenu_inventory_inventory_item_on_hand_quantity_view_store_actual_on_hand_quantity{
	background-image: url(../images/menu/inventory/item_on_hand/store_actual_on_hand_qty.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	 
div.smenu_inventory_item_on_hand_quantity_view_all_stores_actual_on_hand_quantity{
	background-image: url(../images/menu/inventory/item_on_hand/all_store_actual_on_hand_qty.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
	}
	
.smenu_dashboard {
	background-image:url(../images/menu/dashboard/dashboard.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_help_check_a_status {
	background-image:url(../images/menu/help/check-status.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_help_log_a_bug {
	background-image:url(../images/menu/help/log-a-bug.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_help_download_the_manual {
	background-image:url(../images/menu/help/manual.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_help_propose_a_new_feature {
	background-image:url(../images/menu/help/propose-feature.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_vendor_payments {
	background-image:url(../images/menu/purchasing/accounts-payables/view-payments-list.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_stock_sales {
	background-image:url(../images/menu/reports/stocks/stock-sales-report.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_my_subscription {
	background-image:url(../images/my-subscription/my-account.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.menu_mask{
	background-image:url(../images/maskBG.png);
	background-repeat: repeat;
	height: 69px;
	width: 689px;
	cursor: pointer;
	z-index: 1000;
	margin-bottom: 1px;
}

.smenu_transaction_details{
	background-image:url(../images/menu/reports/stocks/inventory-movement.png); /** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}

.smenu_request_support {
	background-image:url(../images/request-support/request-support-smenu.png);/** sprite-ref: menu-sprite; sprite-margin-bottom: 10px*/
}