#menu-tabs-container {
	width:680px;
	margin-left: auto;
	margin-right: auto;
}

.menuImage .butnDesc {
	font-size:12px;
	position:relative;
	text-align:center;
	text-decoration:none;
	top:75px;
}

.butnDesc {
	font-size:12px;
	position:relative;
	text-align:center;
	text-decoration:none;
	height: 55px;
	line-height: 55px;
	font-weight: bold;
	padding-top: 8px;
}

div.menuImage{
	height: 70px;
	width: 90px;
	margin-left: 10px;
	float:left;
	background-repeat: no-repeat;
	/*background-position:center top;*/
}

div.menuImage:hover{
	background-color: #9ACF30;
}

div.highlight:hover{
	background-color: #9ACF30;
}

#subMenumenu-tabs-container div.menuImage{
	width: 95px;
	height: 70px;
	line-height: 70px;
}
#menu-buttons-container{
	margin-top: 24px;
}

#menu-buttons-container .title{
	color:#333333;
	display:table-cell;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:10px;
	font-weight:bold;
	margin-top:57px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
	vertical-align:bottom;
	width:88px;
}

.container2 {
	background-color: white;
	background-image: url("../images/pages.png"); 
	background-repeat: no-repeat;
	height: 703px;
	margin: 0 auto;
	width: 704px;
}


.inner_container {
	background-image: url("../images/page_bottom.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 700px;
	margin: 0 auto;
	width: 100%;
}

.menu-main{
	background:#2A2B28 none repeat scroll 0 0;
	height:703px;
	margin:0px auto;
	padding-top:1px;
	width:714px;
}


#subMenuTabpanel{
	background:transparent url(../images/lines.png) repeat-x scroll 0 0;
	border-left:6px solid #5D8FCA;
	border-right:5px solid #5D8FCA;
	border-top:6px solid #5D8FCA;
	display:block;
	height:475px;
	margin-left:1px;
	width:689px;
}

#menu-tabs-container div.tab-button{
	width: 130px;
	height: 95px;
	float: left;
	margin-top: 12px;
}

#menu-tabs-container div.tab-button div.label{
	text-align: center;
	float: left;
	text-transform: uppercase;
	margin: 30px 5px 0px 5px;
	width: 120px;
}

#menu-tabs-container div.tab-image{
	height:100%;
	width: 130px;
}

#menu-tabs-container div.tab-button{
	background-image:url(../images/tab-background.png);  
	background-repeat:no-repeat;
	margin-right: 2px;
}

#menu-tabs-container div.active{
	color: #FFF;	
	font-weight: bold;
	background-image:url(../images/active-tab-background.png); 
	background-repeat:no-repeat;
}

#subMenumenu-tabs-container a{
	text-decoration: none;
	color: #000000;
}
/***********************************************************************************************/
/*CSS for sub menu*/
.smenu_product_sales_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -0px;
}

.smenu_purchase_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -75px;
}

.smenu_discount_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -150px;
}

.smenu_clock_inout_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -225px;
}

.smenu_inventory_report_by_product{
  background-image: url('../images/menu-sprite.png');
  background-position: left -300px;
}

.smenu_cash_journal{
  background-image: url('../images/menu-sprite.png');
  background-position: left -375px;
}

.smenu_terminal_sales_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -450px;
}

.smenu_fast_moving_items{
  background-image: url('../images/menu-sprite.png');
  background-position: left -525px;
}

.smenu_close_till_report{
  background-image: url('../images/menu-sprite.png');
  background-position: left -600px;
}

.smenu_view_delivery{
  background-image: url('../images/menu-sprite.png');
  background-position: left -675px;
}

/*parent menus*/
.pmenu_operations {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -0px;
}

.pmenu_credit_sales {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -96px;
}

.pmenu_items {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -192px;
}

.pmenu_till_mgt {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -288px;
}

.pmenu_dashboard {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -384px;
}

.pmenu_customer{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -480px;
}

.pmenu_vendors{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -576px;
}

.pmenu_reports{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -672px;
}

.pmenu_inventory{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -768px;
}

.pmenu_settings{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -864px;
}

.pmenu_hardware{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -960px;
}

.pmenu_purchasing {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -1056px;
}

.pmenu_employees {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -1152px;
}

.pmenu_help {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -1248px;
}

.smenu_logout{
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -1344px;
}

.pmenu_alerts {
  background-image: url('../images/pmenu-sprite.png');
  background-position: left -1440px;
}

/***********************************************************************************************/
/*CSS for new navigation sub menu*/
.smenu_make_a_sale {
  background-image: url('../images/menu-sprite.png');
  background-position: left -750px;
}

.smenu_find_a_sales_receipt {
  background-image: url('../images/menu-sprite.png');
  background-position: left -825px;
	
}

.smenu_enter_receipt_id_and_display_transaction {
  background-image: url('../images/menu-sprite.png');
  background-position: left -900px;
	
}

.smenu_view_sales_return_history {
  background-image: url('../images/menu-sprite.png');
  background-position: left -975px;
	
}

.smenu_make_a_return {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1050px;
	
}

.smenu_view_current_sales_by_employees {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1125px;
	
}

.smenu_clock_in_clock_out, .smenu_employee_clock_in_clock_out {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1200px;
	
}

.smenu_enter_spot_check {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1275px;
	
}

.smenu_run_end_of_day {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1350px;
	
}

.smenu_adjust_cash_in_drawer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1425px;
	
}

.smenu_view_current_money_in_cash_drawer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1500px;
	
}

.smenu_add_items {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1575px;
	
}

.smenu_add_items_template {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1650px;
	
}
.smenu_view_items_template_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1725px;
	
}

.smenu_view_items_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1800px;
	
}

.smenu_import_update_items {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1875px;
	
}

.smenu_items_print_barcode {
  background-image: url('../images/menu-sprite.png');
  background-position: left -1950px;
	
}

.smenu_create_a_new_price_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2025px;
	
}

.smenu_view_price_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2100px;
	
}

.smenu_make_a_new_po {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2175px;
	
}

.smenu_find_po{
  background-image: url('../images/menu-sprite.png');
  background-position: left -2250px;
	
}

.smenu_view_receiving_history {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2325px;
	
}

.smenu_receive_items_vs_po {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2400px;
	
}

.smenu_view_list_of_undelivered_po {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2475px;
	
}

.smenu_add_a_vendor {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2550px;
	
}

.smenu_view_list_of_vendors {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2625px;
	
}

.smenu_track_unpaid_invoices_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2700px;
	
}

.smenu_view_vendors_invoices_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2775px;
	
}

.smenu_view_creditors_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2850px;
	
}

.smenu_return_items_purchased_to_vendor {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2925px;
	
}

.smenu_return_items_vs_po {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3000px;
	
}

.smenu_view_purchase_return_history {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3075px;
	
}
.smenu_add_a_customer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3150px;
	
}

.smenu_view_a_customer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3225px;
	
}

.smenu_invoices_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3300px;
	
}

.smenu_receive_payment {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3375px;
	
}

.smenu_allocate_payment_to_invoice {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3450px;
	
}

.smenu_view_payment_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3525px;
	
}

.smenu_view_debtors_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -2850px;
	
}

.smenu_create_role {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3600px;
	
}

.smenu_view_roles_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3675px;
	
}

.smenu_create_a_user {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3750px;
	
}

.smenu_view_user_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3825px;
	
}

.smenu_view_attendance_history {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3900px;
	
}

.smenu_create_a_new_commission_rule {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3975px;
	
}

.smenu_view_commission_rules {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4050px;
	
}

.smenu_view_generated_pay_slips {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4125px;
	
}

.smenu_get_notified {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4200px;
	
}

.smenu_create_a_new_store {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4275px;
	
}

.smenu_view_store_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4350px;
	
}

.smenu_create_a_new_warehouse {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4425px;
	
}

.smenu_view_warehouse_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4500px;
	
}

.smenu_create_tax_category {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4575px;
	
}

.smenu_view_tax_category {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4650px;
	
}

.smenu_create_tax_rate {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4725px;
	
}

.smenu_view_tax_rate_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4800px;
	
}

.smenu_create_new_cash_drawer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4875px;
	
}

.smenu_view_cash_drawer_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -4950px;
	
}

.smenu_create_a_new_bank {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5025px;
	
}

.smenu_view_bank_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5100px;
	
}

.smenu_create_a_new_bank_account {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5175px;
	
}

.smenu_view_bank_account_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5250px;
	
}

.smenu_create_payment_processor {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5325px;
	
}

.smenu_view_payment_processor {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5400px;
	
}

.smenu_create_a_new_terminal {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5475px;
	
}

.smenu_terminals_list {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5550px;
	
}

.smenu_set_up_slip_printer {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5625px;
	
}

/*Reports*/
.smenu_inventory_aging_report {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5700px;
}

.smenu_gross_profit {
  background-image: url('../images/menu-sprite.png');
  background-position: left -5775px;
}

	/*New Navigation Buttons- Inventory*/
div.smenu_inventory_receive_items_receive_items_from_po{
  background-image: url('../images/menu-sprite.png');
  background-position: left -5850px;
	}
	
div.smenu_inventory_receive_items_request_items_from_other_locations{
  background-image: url('../images/menu-sprite.png');
  background-position: left -5925px;
	}

div.smenu_inventory_receive_items_view_requested_items_list_from_other_locations{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6000px;
	}
	
div.smenu_inventory_receive_items_from_other_locations{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6075px;
	}
	
div.smenu_inventory_receive_items_view_received_items_list{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6150px;
	}
	
div.smenu_inventory_receive_items_view_cancelled_received_items{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6225px;
	}

div.smenu_inventory_send_items_return_items_to_vendor{
  background-image: url('../images/menu-sprite.png');
  background-position: left -3000px;
	}
	
div.smenu_inventory_send_items_send_items_to_other_stores{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6300px;
	}
	
div.smenu_inventory_send_items_view_pending_requests_from_other_locations{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6375px;
	}
	
div.smenu_inventory_send_items_view_pending_sent_items{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6450px;
	}
	
div.smenu_inventory_send_items_view_sent_items_list{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6525px;
	}
	
div.smenu_inventory_view_cancelled_sent_items{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6600px;
	}
	
div.smenu_inventory_inventory_adjustment_view_and_approve_daily_physical_count{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6675px;
	}

div.smenu_inventory_inventory_adjustment_view_count_store_actual_on_hand_quantity{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6750px;
	}
	
div.smenu_inventory_inventory_adjustment_view_inventory_adjustment_reports{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6825px;
	}
	
div.smenu_inventory_inventory_adjustment_view_inventory_discrepancy_reports{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6900px;
	}
	
div.smenu_inventory_inventory_item_on_hand_quantity_view_store_actual_on_hand_quantity{
  background-image: url('../images/menu-sprite.png');
  background-position: left -6975px;
	}
	 
div.smenu_inventory_item_on_hand_quantity_view_all_stores_actual_on_hand_quantity{
  background-image: url('../images/menu-sprite.png');
  background-position: left -7050px;
	}
	
.smenu_dashboard {
  background-image: url('../images/menu-sprite.png');
  background-position: left -7125px;
}

.smenu_help_download_the_manual {
  background-image: url('../images/menu-sprite.png');
  background-position: left -7200px;
}

.smenu_help_log_a_bug {
  background-image: url('../images/menu-sprite.png');
  background-position: left -7275px;
}

.smenu_help_check_a_status {
  background-image: url('../images/menu-sprite.png');
  background-position: left -7350px;
}

.smenu_help_propose_a_new_feature {
  background-image: url('../images/menu-sprite.png');
  background-position: left -7425px;
}

.smenu_vendor_payments {
  background-image: url('../images/menu-sprite.png');
  background-position: left -3525px;
}
