/** sprite: order-screen-sprite; sprite-image: url('../images4/order-screen-sprite.png'); sprite-layout: vertical */
#search-product-button, #bp-info-button{
	width: 50px;
}

#search-product-button-icon, #bp-info-button-icon{
	background-repeat: no-repeat;
	width: 46px;
	height: 46px;
}

#search-product-button-icon{
	background-image: url('../images/order-screen/search-product-button-icon.png');	/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}

#bp-info-button-icon{
	background-image: url('../images/order-screen/customer-info.png'); /** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}


.background-mainicon{
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	box-shadow: 0 0 0 2px #CCC;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 0 2px #CCC;
	-moz-border-radius: 6px 6px 6px 6px;
}

.mainicon-selectup{
	background-image: url("../images/cash-sales/scroll-up.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectdown{
	background-image: url("../images/cash-sales/scroll-down.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-clear{
	background-image: url("../images/cash-sales/clear.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-decrease{
	background-image: url("../images/cash-sales/decrease.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-increase{
	background-image: url("../images/cash-sales/increase.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-discount{
	background-image: url("../images/cash-sales/discount.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-changepiin{
	background-image: url("../images/cash-sales/change-user.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-opendrawer{
	background-image: url("../images/cash-sales/open-drawer.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-save{
	background-image: url("../images/cash-sales/save.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-load{
	background-image: url("../images/cash-sales/load.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-customernew{
	background-image: url("../images/cash-sales/customer.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-productinfo{
	background-image: url("../images/cash-sales/prod-info.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-split-lines{
	background-image: url("../images/cash-sales/split-lines.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-importcsv{
	background-image: url("../images/cash-sales/import-csv.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-back{
  	background-image: url("../images/cash-sales/back.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-more{
  	background-image: url("../images/cash-sales/more.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-backdate{
  	background-image: url("../images/cash-sales/backdate.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-splitorder{
  	background-image: url("../images/cash-sales/split-order.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-createitem{
 	background-image: url("../images/cash-sales/new-item.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-hardware{
	background-image: url("../images/cash-sales/hardware-setup.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.check-out-icon{
	background-image: url("../images/cash-sales/checkout-icon.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width:47px;
	height:39px;
	margin-left: auto;
	margin-right: auto;
}

.buy-icon{
	background-image: url("../images/cash-sales/checkout-icon.png");/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	width:47px;
	height:39px;
	margin-left: auto;
	margin-right: auto;
}

.butn-user01{
	width:82px;
	height:40px;
	border:none;	
	background-repeat:no-repeat; 
	background-image: url('../images/butn-user01.png'); /** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}

.butn-user02-off{
	width:81px;
	height:40px;
	border:none;
	background-repeat:no-repeat; 
	background-image: url('../images/butn-user02-off.png'); /** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}

.cash-out-panel button {
	width:95%;
	height:56px;
	border:1px solid #8e8e93;
	margin: 2px;
	background-color:#d2d2d2;
	border-radius:6px;
	font-size:15pt;
	
	
}

.border_pop14{
	width: 690px;
	height: 407px;
}

.cash-out-panel-bg {
    background: url("../images3/paymentbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 363px;
    width: 690px;
    background-size: 690px 363px;
}

.cash-out-panel-bg .buttonright {
	margin-top: 10px;
}