#search-product-button, #bp-info-button{
	width: 50px;
}

#search-product-button-icon, #bp-info-button-icon{
	background-repeat: no-repeat;
	width: 46px;
	height: 46px;
}

#search-product-button-icon{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -0px;
}

#bp-info-button-icon{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -56px;
}


.background-mainicon{
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	box-shadow: 0 0 0 2px #CCC;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 0 2px #CCC;
	-moz-border-radius: 6px 6px 6px 6px;
}

.mainicon-selectup{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -112px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-selectdown{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -162px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-clear{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -212px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-decrease{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -262px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-increase{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -312px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-discount{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -362px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-changepiin{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -412px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-opendrawer{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -462px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-save{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -512px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-load{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -562px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-customernew{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -612px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-productinfo{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -662px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-split-lines{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -712px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-importcsv{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -762px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-back{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -812px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-more{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -862px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-backdate{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -912px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-splitorder{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -962px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-createitem{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1012px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mainicon-hardware{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1062px;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.check-out-icon{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1112px;
	background-repeat: no-repeat;
	width:47px;
	height:39px;
	margin-left: auto;
	margin-right: auto;
}

.buy-icon{
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1112px;
	background-repeat: no-repeat;
	width:47px;
	height:39px;
	margin-left: auto;
	margin-right: auto;
}

.butn-user01{
	width:82px;
	height:40px;
	border:none;	
	background-repeat:no-repeat; 
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1161px;
}

.butn-user02-off{
	width:81px;
	height:40px;
	border:none;
	background-repeat:no-repeat; 
  background-image: url('../images4/order-screen-sprite.png');
  background-position: left -1250px;
}

.cash-out-panel button {
	
}

#lineItemDiscountPanel .pin-pad-panel button{
	width:95%;
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

#discountOnTotalContainer .pin-pad-panel button{
	width:95%;
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

.border_pop14{
	width: 690px;
	height: 407px;
}

.cash-out-panel-bg {
    background: url("../images3/paymentbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 363px;
    width: 690px;
    background-size: 690px 363px;
}

.cash-out-panel-bg .buttonright {
	margin-top: 10px;
}
