div.popup
{
	position:absolute;
	display:none;
	/* background-color:#FFF;
	border: solid 6px #4475B2;
	padding:6px; */
}

.modal-header .modal-title .glyphicons-pro:before{
	top:-3px !important;
	font-size:17px !important;
}

div.confirmation-box
{
	position:absolute;
	display:none;
	background-color:#FFF;
}

.popup
{
	font-size: 14px;
}

.popup-label{
	font-family:arial;
	font-size:10pt;
	color:#1d1d1d;
}

/*
.popup button
{
	width: 120px;
	height: 60px;
	font-size: 18px;
}
*/

.popup button.tenderbutton {
	
	width: 86px;
	height: 84px;
	font-size: 18px;
	border:none;
}

.errorimg{
	background:transparent url(../images/nok.png) no-repeat scroll 0 0;) no-repeat scroll 0 0;
	width: 48px;
	height: 44px;
	margin-top: 5px;
	}
	
.error{
	float:left;
	line-height: 30px;
	}

.tax-icon{
	background-image: url(../images2/tax-icon.png);
	background-repeat:no-repeat;
	height:	31px;
	width: 22px;
}	
.error-icon{
	background-image: url(../images/small-cross.png);
	background-repeat:no-repeat;
	height:29px;
	width:29px;	
}

.error-inner{
	float:left;
	margin:12px 0 0;
	width:460px;
}

.error-bigcross{
	float:left;
	margin:13px 18px 0 16px;
	width:51px;
	height:51px;
	background-image: url("../images/big-cross.png");
}

.error-bg{
	background-image : url("../images/Errorbg.png");
	background-repeat : no-repeat;
	float:left;
	height:227px;
	width:364px;
	overflow: auto;
}

.error-text{
	color : #000000;
	float : left;
	font-family : Verdana, Geneva, sans-serif;
	font-size : 11px;
	margin : 15px 0 0 20px;
}

.error-buttons{
	float:right;
	margin-top:10px;
	width:86px;
}

#error-content
{
	height:227px;
	width:364px;
}

.errormsg{
	margin-left: 60px;
	margin-top: -50px;
	}
	
.payment-popup-panel .payment-button {
	float:left;
	width:100px;
	height:90px;
	font-size:10px;
}

.big-button {
	height:60px;
	font-size:12pt;
}

.keypad-popup-panel {
	position:absolute;
	display:none;
}

.keypad-popup-panel td {
	vertical-align:middle;
	text-align:center;
}

.keypad-popup-panel button {
	width:69px;
	height:65px;
	background-image: url('../images/calculatorbutton1.png');
	border:none;
	margin: 0px;
}

.keypad-popup-panel button#keyEnter {
	height:134px;
	background-image: url('../images/calculatorbutton2.png');
}


/*Ghayas*/
/*productInfo*/
.border_pop {
	margin:0 auto;
	border:#000 15px solid;
	background:white;
	position:absolute;
	z-index: 100;
}
.border_pop1 {
	width:425px;
	height:380px;
}
.border_pop2 {
	width:538px;
	height:205px;
}
.border_pop3 {
	width:846px;
	height:302px;
}
.border_pop4 {
	width:846px;
	height:260px;
}
.border_pop5 {
	width:468px;
	height:378px;
}
.border_pop6 {
	
	width:548px;
	height:378px;
}
.border_pop7 {
	width:530px;
	height:280px;
}
.border_pop8 {
	height:241px;
	width:455px;
}
.border_pop9 {
	width:486px;
	height:548px;
}
.border_pop10 {
	width:505px;
	height:416px;
}
.border_pop11 {
	width:534px;
	height:524px;
}
.border_pop14 {
	width:428px;
	height:375px;
}
.border_pop15 {
	width:450px;
	height:707px;
}
.border_pop17 {
	width:593px;
	height:454px;
}
.border_pop18 {
	width:341px;
	height:275px;
}
.border_pop19 {
	width:458px;
	height:406px;
}
.border_pop20{
	width:602px;
	height:221px;
}
.border_pop21 {
	width:845px;
	height:404px;
}
.border_pop22 {
	width:846px;
	height:491px;
}
.border_pop23 {
	width:535px;
	height:540px;
}
.border_pop24 {
	width:766px;
	height:376px;
}
.border_pop42 {
	width:538px;
	height:288px;
}
.border_pop43 {
	width:538px;
	height:302px;
}
.border_pop44 {
	width:538px;
	height:328px;
}
.border_pop45 {
	width:428px;
	height:335px;
}
.border_pop46{
	width:525px;
	height:450px;
}
.border_pop56{
	width:700px;
	height:500px;
}
.border_pop57{
	width:500px;
	height:340px;
}
.border_pop58{
	width:715px;
	height:590px;
}

.border_pop59{
	width:718px;
	height:613px;
}

.border_pop60{
	width: 730px;
	height:670px;
}

.border_pop61{
	width:450px;
	height:340px;
}

.border_pop62{
	width:492px;
	height:368px;
}

.border_pop63{
	width:885px;
	height:470px;
}

.border_pop64{
	width:470px;
	height:300px;
}

.border_pop65{
	width:444px;
	height:347px;
}


.popbar {
	float:left;
	width:100%;
	height:44px;
	background:url(../images3/popbar_bg.png) left top repeat-x;
	margin-bottom:10px;
}
.popbar2 {
	float:left;
	width:100%;
	height:44px;
	background:url(../images/popups/popbar_bg.png) left top repeat-x;
}

.pop_icon {
	float:left;
	width:35px;
	margin-left:25px;
	margin-top: 6px;
}

.pop_head {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#FFF;
	max-width:53%;
	/*text-transform:uppercase;*/
	margin-left: 20px;
	margin-top: 5px;
	padding-top: 8px;
}
.pop_close {
	float:right;
	width:174px;
	height:34px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
	cursor:pointer;
}
.pop_close a {
	color:#FFF;
	text-decoration:none;
	margin-left: 0;
	margin-top: 0;
	padding: 8px 44px 9px 65px;
	width: 65px;
	float:left;
	background:url(../images/popups/popclosebg.png) no-repeat right top;
}
.pop_area {
	float:left;
	width: 100%;
}
.pop_text {
	float:left;
	width:360px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:14px 0 15px 25px;
	/*text-transform:uppercase;*/
	text-align:center;
}
.woodbg {
	float:left;
	background-color:#E1BE87;
	width:100%;	
}

.mainboard {
	float:left;
	width:809px;
	background-image:url(../images/popups/inner_cocacola.png);
	background-repeat:no-repeat;
	height:444px;
	margin:3px 0 0 18px;
}
.shopsavvyboard{
	float:left;
	width:809px;
	background-image:url(../images/popups/shopsavvyboard.png);
	background-repeat:no-repeat;
	height:444px;
	margin:3px 0 0 18px;
}

.board {
	float:left;
	width:740px;
	margin:70px 0 0 48px;
}
.boardleft {
	float:left;
	width:125px;
}
.boardright {
	float: left;
	margin: 25px 0 0 22px;
	width: 215px;
}
.boardleftcoke {
	float:left;
	width:100%;
	text-align:center;	
}
.boardleftcoke .image{
	height:94px;
}
.boarddollar {
	font-size:18px;
}
.boarddollarstrike {
	font-size:12px;
	text-decoration:line-through;
}
.board_tax {
	font-size:12px;
	margin:5px 0 0 0;
}
.board_shopsavvy{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000;
	margin:175px 0 0 0;
	width:110px;
}
.shopsavvyproductfound{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#8CBE00;
	margin-top:-25px;
	margin-bottom:10px;

.}
.shopsavvyproductfoundtext{
	font-size:13px;
}
.shopsavvyactionbutton{
	margin-left:35px;
	margin-top:65px;
}
.code {
	float:left;
	width:114px;
	margin:12px 0 0 0;
}
.boardmid {
	float:left;
	width:346px;
	margin:0 0 0 30px;
}
.colaclassic_left {
	float:left;
	width:147px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000;
}
.colaclassic_right {
	font-size:18px;
}
.stock {
	float: left;
	margin: 0 0 6px;
	width: 182px;
}
.stock_left {
	color: #000000;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: left;
}
.stockbutton {
	float: right;
	margin: 245px 130px 0;
	width: 90px;
	position: absolute;
}
.shopsavvybutton{
	float: right;
	margin: 85px 130px 0;
	width: 90px;
	position: absolute;
}
.colagroup {
	font-weight:bold;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#000;
	margin:11px 0 8px 0;
}
.floatleft{
	float:left;
}

.smallbutton {
	background-image:url(../images/popups/smallbtnbg.png);
	background-repeat: no-repeat;
	float: left;
	height: 76px;
	margin: 0px 0 9px 7px;
	text-align: center;
	width: 76px;
	cursor:pointer;
}
.smallbuttonimg {
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}
.smallbuttontext {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: center;
	/*text-transform: uppercase;*/
	vertical-align: bottom;
	width: 74px;
}
.smallbuttontextonly {
	padding-top: 22px;
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 74px;
}
.tenderimages {
	float:left;
	width:286px;
	margin:0 0 0 65px;
}
.tenderbutton {
	background-image:url(../images3/tendertab.png);
	background-repeat: no-repeat;
	float: left;
	height: 86px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 86px;
}
.tendermid {
	margin-left:100px;
}
.tenderimg {
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}
.tendtext {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	/*text-transform: uppercase;*/
	vertical-align: bottom;
	width: 60px;
	margin-top: -5px;
	line-height: 15px;
	
}
.smallbutton a {
	color:#000;
	text-decoration:none;
}
.smallbutton a:hover {
	color:#000;
	text-decoration:underline;
}

.cursorpointer{
	cursor: pointer;
}

.pop_close {
	float:right;
	width:174px;
	height:34px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
}
.pop_close div {
	color:#FFF;
	text-decoration:none;
	margin-left: 0;
	margin-top: 0;
	padding: 8px 44px 9px 65px;
	width: 65px;
	float:left;
	background:url(../images/popups/popclosebg.png) no-repeat right top;
}

.product-pairing-bg{
	float:left;
	background:url(../images3/product-pairing-bg.png) center center no-repeat;
	width:701px;
	height:538px;
}

.pricelistbg {
	background:url(../images3/pricelistbg.png) no-repeat center center;
}
.pricelistinput {
	border: medium none;
	width: 80%;
}
.customerimagebg {
	float:left;
	background:url(../images3/customersimage.png) no-repeat;
	height: 335px;
	width: 525px;
	padding-left:23px;
}
.customerimage_upper {
	float:left;
	width:405px;
	height:215px;
	margin-top: 22px;
}
.customerimage_right {
	float:right;
	margin-top: 8px;
	margin-right: 11px;
	width: 109px;
	height: 316px;
}
.customerimage_lower {
	float:left;
	width:390px;
}
.customerbrowse {
	float:right;
}
.customerhelptext {
	color: #333333;
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	line-height: 13px;
	text-align: right;
	width: 76px;
	margin-right: 6px;
	margin-top: 5px;
}
.customersave {
	display: table-cell;
	height: 216px;
	vertical-align: bottom;
	padding-left:10px;
}
.customerhelp {
	float:right;
}
.customerpic {
	float:left;
	margin-bottom:10px;
	width:137px;
	text-align:center;
}

.customerpictxt {
	color: #666666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.customerpicarea {
	float:left;
	margin-left: 9px;
	margin-right: 23px;
}
.customercamarea {
	display: table-cell;
	height: 184px;
	vertical-align: middle;
	width: 175px;
	padding-left: 51px;
}

	
.help-text-image {
	font-family:verdana;
	font-size:12px;
	color:#666;
	text-align:center;
	}
		
		
.orgbg {
	float:left;
	background:url(../images3/orgbg.png) no-repeat center;
	width:100%;
	height:292px;
	margin-top:5px;
}
.css-scrollbar.simple {
	width: 348px;
	height:200px;
	margin: 0 0 0 4px;
	overflow:auto;
	float:left;
	border:none;
}
.bigbutton {
	background-image:url(../images3/bigbutton.png);
	background-repeat: no-repeat;
	float: left;
	height: 118px;
	width: 118px;
}
.bigbuttonimg {
	display: table-cell;
	padding-left: 17px;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
	padding-top: 27px;
}
.bigbuttontext {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 34px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 85px;
	padding-left: 16px;
}
.paymentcashbg {
	float:left;
	background:url(../images3/paymentbg.png) no-repeat;
	width:428px;
	height:331px;
}
.paymentcasharea {
	float:left;
	width:347px;
	height:271px;
	margin-top:33px;
	margin-left:40px;
}
.paymentcash_admin {
	float:left;
	background:url(../images3/paymentcashadmin.png) no-repeat;
	width:82px;
	height:69px;
	margin-bottom:10px;
}
.paymentcash_admintext {
	width:35px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	margin-left: 23px;
	margin-top: 41px;
}
.paymentcash_total {
	float:left;
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
}
.paymentcash_total2 {
	float:left;
	width:265px;
	margin-top:5px;
	margin-bottom:5px;
}
.paymentcash_totaltxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:161px;
}
.paymentcash_left {
	float:left;
	width:262px;
}
.paymentcash_totalamount {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:116px;
}
.paymentcash_totalamount2 {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:100px;
}
.paymentcash_tender {
	float:left;
	width:100%;
	margin-top:0px;
	margin-bottom:3px;
}
.paymentcash_tendertxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:161px;
	margin-top:20px;
}

.paymentcash_tendertxt sup {
	color:red;	
}
.paymentcash_tenderinput input {
	float:left;
	width:182px;
	height:50px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	border:2px solid #cccccc;
}
.border_pop .salesRepInfoImage{	
	background-image:url(../images3/user-background.png);
	background-repeat:no-repeat;
	float:left;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;		
	padding-top: 4px;
	height: 77px;
	/*width: 82px;*/
}

.salesRepInfo
{
	font-size: 8pt;
	font-family: Roboto;
}
.paymentmixbg {
	float:left;
	background:url(../images3/paymentmixbg.png) center center no-repeat;
	width:100%;
	height:660px;
}
.paymentmixarea {
	float:left;
	width:360px;
	margin-left:40px;
	margin-top:24px;
}
.paymentmix_admin {
	float:right;
	margin-right:5px;
	background:url(../images3/payadminbg.png);
	width:74px;
	height:63px;
}
.paymentmix_adminpic {
	float:left;
	margin-left:27px;
	margin-top:6px;
	padding-bottom:2px;
}
.paymentmix_admintext {
	width:35px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin-left: 20px;
	margin-top: 5px;
	line-height:10px;
}
.paymentmix_total {
	float:left;
	width:252px;
	margin-top:60px;
	margin-bottom:5px;
}
.paymentmix_totaltxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:152px;
}
.paymentmix_totalamount {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#010000;
	width:100px;
}
.paymentmix_tender {
	float:left;
	width:100%;
	margin-top:0px;
	margin-bottom:4px;
}
.paymentmix_tendertxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:156px;
	margin-top:12px;
}
.paymentmix_checktxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:156px;
	margin-top:2px;
}
.paymentmix_tenderinput input {
	float:left;
	width:200px;
	height:38px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	border:2px solid #cccccc;
}
.paymentmixcheck input {
	float:left;
	width:18px;
	height:18px;
	border:2px solid #cccccc;
	margin:0px;
}
.paymentmix_checkselect {
	float:left;
}
.creditcardbg {
	float:left;
	background:url(../images3/paycreditcardbg.png) no-repeat center center;
	width:593px;
	height:410px;
}
.creditcardarea {
	float:left;
	width:508px;
	height:364px;
	margin-top:22px;
	margin-left:45px;
}
.creditcard_admin {
	float:left;
	background:url(../images3/payadminbg.png);
	width:74px;
	height:63px;
}
.creditcard_input {
	float:left;
	width:282px;
	height:50px;
	margin-bottom: 7px;
	border:2px solid #cccccc;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.creditcardinput {
	float:left;
	margin-top:2px;
}
.creditcard_txt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:120px;
	margin-top:4px;
}
.creditcard_txt2 {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:120px;
}
.creditcard_txt3 {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#666666;
	width:120px;
	margin-top:5px;
}
.creditcheck {
	float:left;
	margin-top:2px;
}
.buttonleft {
	float:left;
}
.buttonright {
	float:right;
}
.cardinput {
	height:15px;
}
/*productInfo ends*/
/*org access*/
.role_area {
	float:left;
	width:505px;
	height:373px;
}
.role_bg {
	float:left;
	width:534px;
	height:386px;
	background-image:url(../images/popups/administrator.png);
	background-repeat:no-repeat;
	background-position:center;
}
.role_inner {
	float:left;
	width:504px;
	margin:30px 0 0 14px;
}
.role_name {
	width:268px;
	float:left;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
}
.role_white {
	width:452px;
	float:left;
	margin:17px 0 0 26px;
}
.role_left {
	width:100%;
	float:left;
}
.role_right {
	float: left;
	width: 100%;
}
.role_available {
	margin:0 auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	text-align:center;
}
.role_sterik {
	margin:26px 0 0 0;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#333333;
}
.org_a {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;	
	height: 100%;
	/*
	overflow: auto;
	width: 165px;
	*/
}

.org_a select {
	/* height: 230px;
	width: 140px; */
	/* border: none; */
	height: 241px;
	display: block;	
}

.org_b {
	margin:26px 0 0 0;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
}
.role_mid {
	width:88px;
	float:left;
	margin:0 0 0 4px;
}
.role_leftright {
	float:left;
	width:32px;
	margin:3px 0 0 28px;
}
.role_iconleft {
	margin:0 auto;
	padding:0 0 13px 0;
}
.role_iconright {
	margin:0 auto;
}

.smallbutton {
	background-image:url(../images/popups/smallbtnbg.png);
	background-repeat: no-repeat;
	float: left;
	height: 76px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 76px;
}
.smallbuttonimg {
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}
.smallbuttontext {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top:-10px;
	position: relative;
	text-align: center;
	/*text-transform: uppercase;*/
	vertical-align: bottom;
	width: 74px;
	line-height: 14px;
}
.smallbuttontextonly {
	padding-top: 22px;
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 74px;
}
.smallbutton a {
	color:#000;
	text-decoration:none;
}
.smallbutton a:hover {
	color:#000;
	text-decoration:underline;
}
.taxsave {
	float:right;
	width: 105px;
}

#availableOrgsSelect option, #chosenOrgs option{
	padding: 10px;
	}
/*org access end*/

.org_popup_ok{
	margin-left:250px;
	margin-top:100px;
}


/*bp css*/
#header_bp {
	float: left;
	height: 44px;
	width: 610px;
	background-color:#336666;
	background-image: url(../images/bp/header_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#bp_header_box {
	float: left;
	height: 33px;
	background-image: url(../images/bp/sell_icon.png);
	background-repeat: no-repeat;
	background-position: 26px center;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 12px;
	padding-left: 91px;
	/*text-transform: uppercase;*/
}

#close_bp {
	float: right;
	height: 38px;
	width: 163px;
	background-image: url(../images/bp/header_close.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-left: 13px;
}
#close_bp a{color:#FFFFFF; text-decoration:none;cursor:pointer;}

#left_box_bp {
	width:344px;
	height:242px;
	float:left;
	background-image: url(../images/bp/card-background.png);
	background-repeat: no-repeat;
	background-position: left;
}

#bp_header_card {
	float: left;
	height: 28px;
	/*background-image: url(../images/clockinout/clock.jpg);*/
	background-repeat: no-repeat;
	background-position: 26px center;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #4072af;
	text-decoration: none;
	text-align: center;
	padding-top: 22px;
	padding-left: 50px;
	/*text-transform: uppercase;*/
}

#right_box_bp {
	float: left;
	/* height: 242px;
	width: 268px;
	background-image: url(../images/bp/slip-background.png);
	background-repeat: no-repeat;
	background-position: left; */
	/* padding-left: 20px; */
}

#body_bp {
	float: left;
	height: 347px;
	width: 612px;
}

#bp_header_summary {
	float: left;
	height: 28px;
	/*background-image: url(../images/clockinout/clock.jpg);*/
	background-repeat: no-repeat;
	background-position: 26px center;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 22px;
	padding-left: 85px;
	/*text-transform: uppercase;*/
}

#summary_txt, .summary_txt {
	float: left;
	height: 22px;
	width: 114px;
	font-family: Verdana;
	font-size: 13px;	
	color: #000;	
}
#summary_value, .summary_value{
	float: left;
	height: 22px;
	width: 114px;
	font-family: Verdana;
	font-size: 13px;	
	color: #000;
	font-weight: bold;	
}

#icon_take_picture {
	float: left;
	height: 21px;
	width: 82px;
	background-image: url(../images/bp/webcam.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-top: 55px;
	padding-left: 9px;
	margin-left: -5px;
}

.popup button.bpbutton {
	
	width: 86px;
	height: 84px;
	font-size: 18px;
	border:none;
}
.bpbutton {
	background-image:url(../images3/tendertab.png);
	background-repeat: no-repeat;
	float: left;
	height: 86px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 86px;
}

.bp-text{
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
	margin-top:-5px;
	position: relative;
	text-align: center;
	/*text-transform: uppercase;*/
	vertical-align: bottom;
	width: 85px;
}

.bpimg
{
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}


#icon_ok {
	float: left;
	height: 21px;
	width: 82px;
	background-image: url(../images/bp/next.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-top: 55px;
	padding-left: 9px;
	margin-left: -5px;
}

#icons_bp {
	float: left;
	height: 76px;
	width: 609px;
}

#icons3_bp {
	float: right;
	height: 76px:	
}
.id_font, #id_font{
	font-size: 12px;
	color: #8c8c8c;
}

.address_font {
	font-size: 12px;
	color: #222222;
}

.id_font_value {
	font-size: 12px;
	color: #222222;
	text-decoration: none;
}

#id_and_name_font{
width: 170px;
float: left;
padding: 6px;
}

/*cheque payment*/
.salespayment_bg {
	float:left;
	width:426px;
	height:323px;
	background-image:url(../images3/salescheque_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	margin:8px 0 0 0;
}

.salespayment_left {
	float:left;
	width:146px;
}

.cheque_no {
	width:105px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	margin:20px 0 11px 0;
}
.cheque_no sup {
	color:red;
}

.cheque_total {
	width:105px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.salespayment_right {
	float:left;
	width:255px;
}

.customerphoto_text {
	/*background-image:url(../images3/user-background.png);*/
	background-repeat:no-repeat;
	width:195px;
	float:left;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
	margin:-5px 0 0 42px;
	height: 91px;
	padding-top: 5px;
}

.paymentcheque {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.paymentcheque input {
	float:left;
	height:50px;
	border:2px solid #cccccc;
}

.paymentcheque_button {
	float:right;
	width:85px;
	margin-top:25px;
	margin-right: 11px;
}
.popup button.cheque-ok-button {
	
	width: 86px;
	height: 84px;
	font-size: 18px;
	border:none;
}
.cheque-ok-button {
	background-image:url(../images3/tendertab.png);
	background-repeat: no-repeat;
	float: left;
	height: 86px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 86px;
	margin-top: 25px;
}

.cheque-text{
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 34px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 85px;
}

.smallbutton {
	background-image:url(../images3/smallbtnbg.png);
	background-repeat: no-repeat;
	float: left;
	height: 76px;
	margin: 0 0 9px 7px;
	text-align: center;
	width: 76px;
}

.smallbuttonimg {
	display: table-cell;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 84px;
}

.payment_dollar {
	width:118px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}

.buttonright_cheque {
}
/*.payment-cash-photo{
	background-image:url(../images3/user-background.png);
	background-repeat:no-repeat;
	float:left;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;		
	padding-top: 4px;
}*/

.padd {
	padding-right:10px;
}

.payvoucher_bg {
	float:left;
	background:url(../images3/payvoucherbg.png) no-repeat;
	width:458px;
	height:362px;
}

.payvoucher_area {
	float:left;
	width:300px;
	height:337px;
	margin-top:17px;
	margin-left:75px;
}

.payvoucher_admin {
	/*background-image:url(../images3/user-background.png);*/
	float:left;	
	/*width:82px;*/
	height:77px;	
	background-repeat:no-repeat;
	float:left;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;		
	padding-top: 4px;
}

.payvoucher_total {
	float:left;
	width:100%;
	margin-top:35px;
	margin-bottom:5px;
	margin-left:5px;
}

.payvoucher_totaltxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:147px;
}

.payvoucher_tender {
	float:left;
	width:100%;
	margin-top:0px;
	margin-bottom:6px;
}

.payvoucher_tendertxt {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:146px;
/* 	margin-top:18px;
	margin-left:5px; */
}

.payvoucher_tendertxt sup{
	color: red;
}

.payvoucher_tenderinput input {
	float:left;
	width:145px;
	height:30px;
	border:2px solid #cccccc;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}

.buttonright_voucher {
	float:right;
	margin-top: 2px;
}

.deliver-inner{
	/* float:left; */
	margin-top: 20px;
}

.deliver-top{
	/* float:left; */
	margin-bottom:28px;
}

.delivertop_left{
	float:left;
	width:60px;
	
}

.deliver-top-text{
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	width:215px;
	/* margin-top: 10px; */
}

.deliver-button{
	 float:right;
}

.pricebg {
	background: url("../images3/pricebg.png") no-repeat scroll center bottom transparent;
	float: left;
	height: 236px;
	width: 530px;
}

.pricearea {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#666666;
	margin-left: 85px;
	margin-top: 70px;
	width: 410px;
}

.Sales-Price-list-text {
	float:left;
	margin-right:10px;
	margin-top:15px;
	width:100px;
}

.pricebutton {
	float:right;
	margin-right: 40px;
	margin-top: 32px;
}

.price-list-pad{
padding-top: 11px;
}

.creditmanagebg {
	float:left;
	background:url(../images3/creditmanagement.png) no-repeat;
	width:468px;
	height:334px;
}

.creditmanage {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin-left: 35px;
	margin-top: 31px;
	width: 400px;
}

.credittext {
	float:left;
	margin-right:10px;
	margin-top:15px;
	width:120px;
}

.credit_input {
	float:left;
	width:280px;
	height:50px;
	margin-bottom: 7px;
	border:2px solid #cccccc;
}

.credit-status-padding{
padding-top: 15px;
}

.smallbutton-credit-management {
	background-image:url(../images/popups/smallbtnbg.png);
	background-repeat: no-repeat;
	float: right;
	height: 76px;
	margin-right:42px;
	margin-top:20px;
	text-align: center;
	width: 76px;
	cursor:pointer;
}
.credit-status-select-dimen{
height: 50px;
margin-bottom: 7px;
width: 280px;
/* padding: 12px; */
}
.price-list-select-dimen{
height: 50px;
margin-bottom: 7px;
width: 257px;
/* padding: 12px; */
}

.terminalbg {
	background: url("../images3/terminal.png") no-repeat scroll center bottom transparent;
	float: left;
	height: 274px;
	padding-left: 62px;
	padding-top: 12px;
	width: 476px;
}

.terminal-change-panel {
	color: #666666;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin-top: 10px;
	width: 430px;
}
.terminaltext {
	float:left;
	margin-right:10px;
	margin-top:15px;
	width:100px;
}

.smallbutton-change-terminal-ok{
float: right;
margin-top: 17px;
background-image:url(../images/popups/smallbtnbg.png);
background-repeat: no-repeat;
height: 76px;
margin-top:28px;
margin-right:65px;
text-align: center;
width: 76px;
cursor:pointer;
}

.change-terminal-select-dimen{
height: 30px;
/* margin-bottom: 7px; */
width: 100%;
padding: 2px;
}

.info-panel-bg {
	background: url("../images3/information-bg.png") no-repeat scroll center bottom transparent;
	float: right;
	height: 252px;
	padding-left: 62px;
	padding-top: 12px;
	width: 333px;
}

.info-panel-button{
float: right;
margin-top: 28px;
margin-right: 35px;
}

#summary-data-info-panel {
	float: left;
	height: 22px;
	width: 140px;
	font-family: Verdana;
	font-size: 13px;	
	color: #000;
	font-weight: bold;	
}

.terminalinfo {
	float:left;
	width:240px;
	margin-top:10px;
}

.terminalinfo_image {
	float:left;
	margin-left: 25px;
	margin-right:25px;
	width:160px;
	height:160px;
}

.terminalinfo_txt_con {
	float:left;	
}

.terminalinfo_txt_head {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#3e70ae;
	/*text-transform:uppercase;*/	
}

.terminalinfo_txt1 {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#666666;
	width:180px;
	margin-top:7px;
	text-align: left;
}

.terminalinfo_txt2 {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	margin-top:7px;
	width: 250px;
	text-align: left;
}

.terminal-info-dimension{
height: 90px;
width: 107px;
border: none;
}

.help_inner{
	float:left;
	width:680px;
	margin:12px 0 0 0;
}

.help-big{
	float:left;
	width:60px;
	margin:13px 18px 0 16px;
}

.help-bg{
	float:left;
	background-image:url(images3/Helpbg.png);
	background-repeat:no-repeat;
	width:564px;
	height:337px;
	overflow:auto;
}

.help-text{
	float:left;
	font-family:arial;
	font-size:14px;
	color:#000;
	/* margin:15px 0 0 20px; */
	text-align: justify;
	/* padding-right:10px; */
	line-height: 1.5;
}

.help-text h1{
	margin:0px;
	text-align:left;
	font-size: 16pt;
	color: #1d1d1d;
	font-family: Roboto;
}

.help_button {
	float:right;
	width:86px;
	margin-top:10px;
}

.product-search-column{
	background-image: url("../images3/pairing-search-bg.png");
	background-repeat: no-repeat;
	float:left;
	width: 276px;
}

#product-pairing-search-pane{
	height:350px;
	width:269px;
	overflow:hidden;
}

#product-pairing-items-column{
	background-image: url("../images3/pairing-items-bg.png");
	background-repeat: no-repeat;
	float:left;
	width:214px;
}


#bom-grid{
	height:350px;
	width:290px;
}

#bom-grid-title{
	margin-top:20px;
	height:50px;
	text-align:center;	
}

#bom-grid .qty-box{
	height:35px;
	width:35px;
	border:2px solid #CCCCCC;
}

#bom-grid table{
	width:290px;
	margin-left:4px;
}

#bom-grid table td{
	height:55px;
	text-align:center;
}

#bom-grid table td+td{
	text-align:left;
}

#bom-grid input.qty-box{
	text-align:center;
}

.popup-header {
	width:290px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#588ac5;
	margin:0 0 15px 0;
}

.popup-text{
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#upgrade-pos-panel{
	/* width: 520px;
	height: 520px; */ /* commented by yovenita */
}

.upgrade-cash-register-icon{
	background-image: url("../images/upgrade-cash-register-icon.png");
	background-repeat: no-repeat;
	float:left;
	height:38px;
	width:38px;
}

.upgrade-cash-register-contents{
	width:480px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	margin: 20px 0px 0px 30px;
	line-height: 17px;
	clear:both;
	padding-top: 10px;
}

.upgrade-cash-register-text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

.pos-packages{
	height: 240px;
	/* margin: 10px 0px; */
	/* margin: 10px 0px 10px 120px; */
	margin: 15px 0px;
}

.professional{
	background-image: url("../images/price-bg.png");
	background-repeat: no-repeat;
	float:left;
	width:213px;
	height:246px;
	margin-right: 30px;
}

.enterprise{
	background-image: url("../images/price-bg.png");
	background-repeat: no-repeat;
	float:left;
	width:213px;
	height:246px;
}

.professional-text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
	margin: 52px 20px 20px 21px;
}

.enterprise-text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
	margin: 52px 20px 20px 37px;
}

.dollar{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#000000;
	margin-top: 7px;
}

#package-price{
	font-family:Verdana, Geneva, sans-serif;
	font-size:40px;
	font-weight:bold;
	color:#000000;
}

.package-desc{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000000;
}

.professinal-contents{
/* 	margin-top: 50px; */
	text-align: center;
	width: 211px;
}

.package-price-container{
	padding-bottom: 30px;
	margin-left: 65px;
}

.subscribe-now-button{
	background-image: url("../images/subscribe-now-button.png");
	background-repeat: no-repeat;
	float:left;
	width:133px;
	height:34px;
	/* margin-left: 38px; */
	margin-left: 160px;
	margin-right: 69px;
}

.close-account-icon{
	background-image: url("../images/close-acc-icon.png");
	background-repeat: no-repeat;
	width: 34px;
	height:33px;
}

.generate-qr{
	width:445px;
	height:500px;
}

.generate-qr-icon{
	background-image: url("../images/generate-qr-icon.png");
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.close-till-icon{
	background-image: url("../images/close-till/return_machine.png");
	background-repeat: no-repeat;
	height: 27px;
	width: 24px;
	
}


div.alert-popup-msg div.error{
	font-size: 20px;
	line-height: 27px;
	margin-top: 10px;
}

.load-order-container{
	float: left;
	width: 100%;
	margin-top: 10px;
}

.load-order-container-inner {
	float: left;
	font-size: 14px;
	margin-right: 10px;
	font-weight: bold;
	margin-top: 5px;
}

.load-order-container input {
	height: 25px;
}

.end-user-agreement-container{
	float: left;
	height: 337px;
	width: 700px;
}

.popup .send {
background-image: url(../images3/send.png);
width:34px;
height:34px;
margin-left:20px; 
}

.item-icon{
	background-image: url(../images/popups/item-icon.png);
	width: 42px;
	height: 32px;
}

.generate-serial-no-icon{
	background-image: url(../images/popups/generate-serialno.png);
	width: 50px;
	height: 40px;
}

.add-parent-icon{
	background-image: url(../images/popups/add-parent.png);
	width: 50px;
	height: 40px;
}

.edit-parent-icon{
	background-image: url(../images/popups/edit-parent.png);
	width: 50px;
	height: 40px;
}

.edit-child-icon{
	background-image: url(../images/popups/edit-child.png);
	width: 50px;
	height: 40px;
}

#message-popup{
	border: none;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	font-size: 16px;
	text-align: right;
	padding: 10px;
	line-height: 40px;
}

#message-popup div.buttons button{
	padding: 5px 10px;
}

div.notes{
	float: left;
	height: 242px;
	width: 268px;	
}

.notes-title{
	padding: 4px;
	text-align: center;	
}

.notes textarea {
	height: 171px;
	width: 250px;
}

.notes-button{
	text-align: center;
}

#keypad-popup-panel .pin-pad-panel button{
	/* width: 95%; */
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

#keypad-popup-panel button{
	background-image: none !important;
}

#keypad-popup-panel table td {
	border-top: none !important;
	padding: 0px !important;	
}

.keypad-popup-panel button#keyEnter{
	background-image: none !important;
	height: 56px;
	width: 97%;
}

#keypad-popup-panel {
	background-color: #fff;
	height: 360px;
	border-radius: 6px;
}

/*Start of Processing Dialog*/
#fadingBarsG{
position:relative;
width:157px;
height:19px}

.fadingBarsG{
position:absolute;
top:0;
background-color:#007BFF;
width:19px;
height:19px;
-moz-animation-name:bounce_fadingBarsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-webkit-animation-name:bounce_fadingBarsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-ms-animation-name:bounce_fadingBarsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-o-animation-name:bounce_fadingBarsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
animation-name:bounce_fadingBarsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
}

#fadingBarsG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fadingBarsG_2{
left:20px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fadingBarsG_3{
left:39px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fadingBarsG_4{
left:59px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fadingBarsG_5{
left:79px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fadingBarsG_6{
left:98px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fadingBarsG_7{
left:118px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fadingBarsG_8{
left:137px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fadingBarsG{
0%{
-moz-transform:scale(1);
background-color:#007BFF;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fadingBarsG{
0%{
-webkit-transform:scale(1);
background-color:#007BFF;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fadingBarsG{
0%{
-ms-transform:scale(1);
background-color:#007BFF;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fadingBarsG{
0%{
-o-transform:scale(1);
background-color:#007BFF;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fadingBarsG{
0%{
transform:scale(1);
background-color:#007BFF;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}

/*End of ProcessingDialog*/
