/*report.css*/

/*
table#reportData{
	border: solid 1px #000000;
}

table.display td a {
	color:blue;
	font-family:arial,sans-serif;
	font-size:10pt;
	letter-spacing:1px;
	text-decoration:none;
}
table.display {
	border: solid 1px #000000;
	border-collapse:collapse;
	width:100%;
}
table.display td.label {
	background-color:#D8D8D8;
	font-size:8pt;
}
table.display td.contentname {
	background-color:#C9C9C9;
	font-size:8pt;
}
table.display td {
	border-collapse:collapse;
	border-color:#000000;
	color:#000000;
	font-family:arial,sans-serif;
	font-size:9pt;
	letter-spacing:1px;
	padding:5px;
}
table.display th {
	background-color:#909090;
	border-collapse:collapse;
	border-color:#000000;
	color:#FFFFFF;
	font-family:arial,sans-serif;
	font-size:9pt;
	font-weight:bold;
	letter-spacing:1px;
	padding:5px;
}
table.displaytag {
	border:1px solid #000000;
	border-collapse:collapse;
	margin-top:15px;
	padding-bottom:5px;
	width:100%;
}
table.displaytag th {
	background-color:#909090;
	border:1px solid #000000;
	color:#FFFFFF;
	font-family:arial,sans-serif;
	font-size:8pt;
	font-weight:bold;
	letter-spacing:1px;
	padding:5px;
}
table.displaytag th a {
	color:#FFFFFF;
}
table.displaytag td {
	border:1px solid #000000;
	border-collapse:collapse;
	color:#000000;
	font-family:arial,sans-serif;
	font-size:8pt;
	font-weight:normal;
	letter-spacing:1px;
	padding:10px;
}
table.displaytag td.amount {
	border:1px solid #000000;
	border-collapse:collapse;
	color:#000000;
	font-family:arial,sans-serif;
	font-size:8pt;
	letter-spacing:1px;
	padding:10px;
	text-align:right;
}
table.displaytag td.numeric {
	border:1px solid #000000;
	border-collapse:collapse;
	color:#000000;
	font-family:arial,sans-serif;
	font-size:8pt;
	font-weight:bold;
	letter-spacing:1px;
	padding:10px;
	text-align:right;
}
table.displaytag td.negativenumeric {
	border:1px solid #000000;
	border-collapse:collapse;
	color:#FF0000;
	font-family:arial,sans-serif;
	font-size:8pt;
	font-weight:bold;
	letter-spacing:1px;
	padding:10px;
	text-align:right;
}
table.displaytag td a {
	color:blue;
	font-family:arial,sans-serif;
	font-size:8pt;
	letter-spacing:1px;
	text-decoration:none;
}
table.displaytag tr.total td{
	font-weight:bold;
}

table.displaytag tr.highlight {
	background-color: #99CF31
}

*/

div.header{
	background-color: #0063CC;
	/*height:90px;*/
}

div.report-header{
	background-color: #0063CC;
	height:90px;
}

.navigator {
	display:block;
	cursor:pointer;
}

#report-controls{
	height:32px;
	margint-top:18px;
}

#report-controls a{
	border:1px solid #999999;
	padding:13px;
}

#reportConfigPanel ul.menu {
	list-style : none outside none;
}

#reportConfigPanel ul.menu li{
	height : 20px;
	width: 90px;
	text-align:center;
	display:block;
	float:left;
	cursor:pointer;
	border:0 solid #D0CCC9;
}
#reportConfigPanel ul.menu li.active{
	background: url("../images/m-bg.png") repeat-x scroll 0 0 transparent;
}
	
#reportConfigPanel div.reportconfig-panel{
	background: url("../images/m-bg.png") repeat-x scroll 0 0 transparent;
	float: left;
}

/*********************************************************************/
.pagebanner, .pagelinks{
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;	
	/*margin:10px 15px 0 0;*/
	text-align:left;	
	/*padding-left: 5px;
	height: 40px;
	line-height: 40px;*/
	padding:3px;
}

.pagelinks a{
	/*background-color:#E4E4E5;*/
	color:#0F75BC;
	font-family:Verdana,Geneva,sans-serif;
	font-weight:bold;
	height:17px;
	margin:0 2px 0 0;
	padding:2px 5px;
}

table#reportData{
	float: left;
}

table.displaytag{
	border-collapse:collapse;
	padding:0px;
	margin: 0px;
	background-color: #FFFFFF;
	width: 100%;
}

table.displaytag th, table.displaytag td{
	border:solid 1px #CCC;
	height: 20px;
	padding: 0px 4px;
	font-size:12px;
	font-family:Arial;
}

table.displaytag th{
	background-color:#666666;
	height:21px !important;
	color:#F2F2F2;
}

table.displaytag th a{
	text-decoration: none;	
	color:#F2F2F2;
}

table.displaytag tr.even{
	background-color: #F0F0F0;
}

#report-grid {
	/*background-image:url(../images/report-header-background.png);*/
	background-repeat:no-repeat;
	float:left;
	/* height:548px; */
	/*margin-bottom:5px;
	margin-left:5px;*/
	width:1024px;
	overflow: auto;
	/*border-left: solid 1px #CCC;*/
	background-color: #FFF;
	font-size: 12px;
}

.grid-header{
	/*background-image:url(../images/reports_top.png);*/
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	/*height:150px;
	margin-bottom:4px;
	margin-left:4px;*/
	width:1024px;
}

.grid-header #viewContainer, .grid-header #parametersContainer{
	/*margin-left: 15px;*/
}

#parametersContainer{
	height:71px;
}

table.displaytag tr.highlight {
	background-color: #99CF31
}
/*.paramsbox{
	width:690px;
	overflow:auto;
	padding-top:5px;
}

#params table{
	margin-top:-10px;
}
*/

#params .date-style{
	/*margin-top:-5px;*/
	width:238px;
}

#params .datebox{
	height:30px;
	/*width:250px;*/
	width:119px;
	float:left;
}
#params .datebox input{
	float:left;
}

#params .datebox input:FIRST-CHILD {
	width: 76px;
	margin-top:3px;
}
/** Report View PopUp **/

.reportview-tabs-container{
	margin-left:auto;
	margin-right:auto;
	width:503px;
	margin-top:20px;
}

.reportview-tabs-container div.reportview-tab-button{
	float:left;
	height:35px;
	width:128px;
	border-top-left-radius:8px;
	border-top-right-radius:8px; 
	cursor:pointer;
}

.reportview-tabs-container div.border-lefttab{
	border-left:1px solid;
	border-top:1px solid;
	border-right:0.5px solid;
	border-color:#CCCCCC;
}

.reportview-tabs-container div.border-middletab{
	border-left:0.5px solid;
	border-top:1px solid;
	border-right:0.5px solid;
	border-color:#CCCCCC;
}

.reportview-tabs-container div.border-righttab{
	border-left:0.5px solid;
	border-top: 1px solid;
	border-right: 0.5px solid;
	border-color: #CCCCCC;
}

.reportview-tabs-container div.active{
	background-image : url("../images/smalltab.png");
	color: #FFFFFF;
	border:medium none !important;
	height:40px;
	width:122px;
	margin-top:-4px;
}

.reportview-tabs-container div#parameters{
	margin-left:10px;
}

.reportview-tabs-container .reportview-tab-label{
	text-align:center;
	padding-top:9px;
}
.reportview-tabs-container .active .reportview-tab-label{
	padding-top:11.5px;
}

.reportview-tabs-container .reportview-content{
	border:6px solid #5D8FCA;
	height:300px;
	padding-top:10px;
	overflow:auto;
}

.reportview-content .columns-text{
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-bottom:10px;
}

.reportview-content .columns-left{
	float:left;
	width:180px;
	text-align:center;
}
.reportview-content .buttons-middle{
	float:left;
	width:76px;
	text-align:center;
	margin-top:24px;
	height:260px;
}
.reportview-content .columns-right{
	float:left;
	width:180px;
	text-align:center;
}
.reportview-content .buttons-right{
	float:left;
	height:260px;
}
.reportview-content .buttons-right img.move-up{
	margin-top:114px;
	padding-bottom:12px;
}
.reportview-content select.printFormatItems{
	width:140px;
	height:260px;
}

.reportview-content .right-all{
	margin-bottom:12px;
}

.reportview-content select.printFormatItems option{
	padding:3px;
	border-bottom: 1px solid #CCCCCC;
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:12px;
	text-align:center;
}

.reportview-content select.printFormatItems option:HOVER{
	background-color: #9ACF30;
}

.remove-all-btn{
	margin-top:19px;
}

.big-button{
	color: #333333;
	display:table-cell;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	vertical-align:middle;
	width:76px;
	height:76px;
	padding:9px;
}
.buttons-middle .btn-right{
	padding : 15px 0px;
}
.reportview-content .inner-buttons-middle{
	height:109px;
	float:left;
	text-align:center;
	width:76px;
}
.reportview-content .inner-buttons-middle img{
	cursor:pointer;
}

.reportview-content .smallbutton{
	margin:0px;
}

.reportview-container .confirm-btns{
	width:503px;
	padding:10px;
}

.reportview-container .confirm-btns .delete{
	margin-left:300px;
}

.reportview-name{
	padding-bottom:110px;
}

.reportview-name .name-label{
	float:left;
	padding:30px 15px 0px 20px;
	color:#333333;
	font-weight:bold;
	font-size:14px;
	font-family: Verdana,Geneva,sans-serif;
}

.reportview-name .name-input{
	width:100px;
	float:left;
	padding:16px 0px;
}

.reportview-name .name-input input{
	height:36px;
	width:222px;
	border:2px solid #CCCCCC;
}

#parameterPanel .create-inside{
	clear:both;
	margin-left:34px;
}
#parameterPanel .create-inside-left{
	float:left;
	width:120px;
	font-family:Verdana,Geneva,sans-serif;
	color:#333333;
	font-weight:bold;
	font-size:12px;
	padding:2px;	
}
#parameterPanel .create-inside-right{
	float:left;
	width:300px;
	padding:5px;
}
#parameterPanel .create-inside-right select{
	width:173px;
}
#parameterPanel .create-inside-right input{
	width:167px;
}

#parameterPanel .create-inside-right .datebox input{
	float:left;
}
#parameterPanel .create-inside-right .datebox input.calendar-icon{
	width:32px;
}

.reportConfigOption{
	cursor:pointer;
}

.system_report_view{
	color:#06346D;
}

.export-btn{
	float:left;
	cursor:pointer;
	width:50px;
	color:#0F75BC;
	text-decoration:underline;
	font-family:Arial;
}
.export-icon{
	float:left;
	width:20px;
}
.export-icon-img{
	max-width:16px;
}

.content-container-portal {
	background-color: #E1BE87;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 724px;
}

.content-portal{
	background-color: #333;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	float: left;
	margin-left: 4px;
	width: 716px;
}

.content-portal-bottom{
	background-color: #333;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	float: left;
	margin-left: 4px;
	width: 716px;
}

.grid-header{
	width:708px;
	background-color: #fff;
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;	
}

.report-grid-portal{
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}
