#submit-button { 
  	color: #FFFFFF !important;
  	border-color: #bdbec2 !important;
  	background: -moz-linear-gradient(#6866FF,#0400FF) !important;
	background: -o-linear-gradient(#6866FF,#0400FF) !important;
	background: -webkit-linear-gradient(#6866FF,#0400FF) !important;
	background: linear-gradient(#6866FF,#0400FF) !important;
}
#shopping-cart-column{
	/* background: url('../images/shopping-cart-background-green.jpg'); */
	/* background-color: #E3F1D7; */
}

div#shopping-cart-container div#shopping-cart-lines-container tr.even{
	background-color: #f4f8ea;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.odd{
	background-color: #f9fbf6;
}
				
div#shopping-cart-container tr#grand-total{
	background-color: #e3f1d7;
}

/*green colour theme*/

div#shopping-cart-container div#shopping-cart-lines-container tr.shopping-cart-highlight{
	background-color: #9acf30;
}

/* input:focus, textarea:focus{
	background-color: #9acf30;
}
 */
#searchResultTable tr.search-product-highlight{
	background-color: #9acf30;
}