
#submit-button {
  color: #FFFFFF !important;
  border-color: #bdbec2 !important;
  background: -moz-linear-gradient(#66AFFF,#007AFF) !important;
	background: -o-linear-gradient(#66AFFF,#007AFF) !important;
	background: -webkit-linear-gradient(#66AFFF,#007AFF) !important;
	background: linear-gradient(#66AFFF,#007AFF) !important;
}


/* #shopping-cart-column{
	background: url('../images/shopping-cart-background-blue.jpg');
	background-color: #C5D4E7;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.even{
	background-color: #f2f5fa;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.odd{
	background-color: #e2eaf4;
}
				
div#shopping-cart-container tr#grand-total{
	background-color: #c5d4e7;
}

green colour theme

div#shopping-cart-container div#shopping-cart-lines-container tr.shopping-cart-highlight{
	background-color: #9acf30;
}

input:focus, textarea:focus{
	background-color: #9acf30;
}

#searchResultTable tr.search-product-highlight{
	background-color: #9acf30;
} */