#checkout-button {
  	color: #FFFFFF !important;
  	border-color: #bdbec2 !important;
  	background: -moz-linear-gradient(#FF7166,#FF1300) !important;
	background: -o-linear-gradient(#FF7166,#FF1300) !important;
	background: -webkit-linear-gradient(#FF7166,#FF1300) !important;
	background: linear-gradient(#FF7166,#FF1300) !important;
	box-shadow:0 3px 5px 0 #A5A5A5;
	width:100%;
}

#shopping-cart-column{
	/* background: url('../images/shopping-cart-background-pink.jpg'); */
} 

div#shopping-cart-container div#shopping-cart-lines-container tr.even{
	background-color: #FEF4F3;
}

div#shopping-cart-container div#shopping-cart-lines-container tr.odd{
	background-color: #FAE8E6;
}
				
div#shopping-cart-container tr#grand-total{
	background-color: #F2CCC9;
}

/*orange colour theme*/

div#shopping-cart-container div#shopping-cart-lines-container tr.shopping-cart-highlight{
	background-color: #DA7628;
}

/* input:focus, textarea:focus{
	background-color: #DA7628;
}
 */
#searchResultTable tr.search-product-highlight{
	background-color: #DA7628;
}

#checkout-button{
	background-color: #DA7628 !important;
}
}