#infoblock{
	/* background: transparent url(../images/signup1pics/reasonto_background.png) no-repeat scroll 0 0; */
	background-color: #f6f6f6; 
	height:370px;
	width:234px; 
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin-left: 11px;
	}

#infoblock td{
	vertical-align: bottom;
	}

.infoblock{
	font-size: 12px;
	font-family: verdana;
	color: #666666;
	}

.infoblockbold{
	font-size: 14px;
	font-weight: bold;
	font-family: verdana;
	color: #333333;
	line-height: 18px;
	}

tr.linesmall td{
	background: transparent url(../images/signup1pics/linesmall.png) no-repeat scroll 0 0;
	height: 0px;
	}

.infoblockcontainer{
	margin-left: auto;
	margin-right: auto;
	}

tr.infoline1 td{
	padding-top: 15px;
	}

tr.infoline2 td{
	padding-top: 10px;
	padding-bottom:15px;
	}

tr.infoline3 td{
	padding-top: 10px;
	}

.img{
	background: transparent url(../images/signup1pics/heading_background.png) no-repeat scroll 0 0;
	font-size: 14px;
	font-weight: bold;
	font-family: trebuchet MS;
	color: #FFFFFF;
	text-transform: uppercase;
	height: 28px;
	width: 208px;
	text-align: center;
	line-height: 28px;
	margin-left: auto;
	margin-right: auto;
	}

.spacer{
	padding-top: 10px;
	}

.imgmargin{
	margin-left: -8px;
	margin-bottom: -8px;
	}

#registrationinfocontainer{
	background: transparent url(../images/signup1pics/Background.png) no-repeat scroll 0 0;
	height: 621px;
	width: 650px;
	padding: 10px;
	margin-left: 10px;
	}

#registrationinfoheader{
	font-size: 20px;
	font-weight: bold;
	font-family: trebuchet MS;
	color: #333333;
	}

#registrationinfoheadermsg{
	font-size: 14px;
	font-weight: bold;
	font-family: verdana;
	color: #63b91a;
	}

#linelong{
	background: transparent url(../images/signup1pics/line_long.png) no-repeat scroll 0 0;
	width: 664px;
	height: 1px;
	}

.verdanabold12{
	font-size: 12px;
	font-weight: bold;
	font-family: verdana;
	color: #333333;
}

.verdanaregular12 li{
	font-size: 12px;
	font-family: verdana;
	color: #333333;
	padding: 25px 0px 0px 0px;
}

.verdanaregular12{
	margin-left: 23px;
	}

#registrationinfo{
	font-size: 11px;
	font-family: verdana;
	font-style: italic;
	color: #666666;
	margin-left: 5px;
	width: 620px;
	}

#continue{
	background: transparent url(../images/signup1pics/Background2.png) no-repeat scroll 0 0;
	width: 621px;
	height: 51px;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana;
	color: #1a4a7b;
	line-height: 51px;
	padding: 0px 20px 0px 20px;
	margin-left: -2px;
	}

#continuecontainer{
	margin-left: 5px;
	}

#continuebutton{
	background: transparent url(../images/signup1pics/Button.png) no-repeat scroll 0 0;
	height: 34px;
	width: 112px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: tahoma;
	font-weight: bold;
	color: #1a4a7b;
	line-height: 34px;
	text-align: center;
	}

.floatleft{
	float: left;
	}

.floatright{
	float: right;
	}

#arrow{
	background: transparent url(../images/signup1pics/arrow.png) no-repeat scroll 0 0;
	height: 7px;
	width: 4px;
	}

.continuebuttonposition{
	margin-right: 40px;
	margin-top: 9px;
	}


.proceedstep2buttonposition, .buttonposition{
	/* margin-right: 40px; */
	margin-top: 8px;
	}


#priceplancontainer{
	background: transparent url(../images/signup2pics/Background_white.png) no-repeat scroll 0 0;
	height: 864px;
	width: 705px;
	margin-top:6px;
	padding: 40px 20px 40px 20px;
}

#setupdetailscontainer{
	background: transparent url(../images/signup4pics/Background-h1120.png) no-repeat scroll 0 0;
	height: 1120px;
	width: 650px;
	padding-left: 12px;
	margin-left: 10px;
}

#signup5detailscontainer{
	background: transparent url(../images/signup5pics/Background-h1120.png) no-repeat scroll 0 0;
	width: 650px;
	padding-left: 12px;
	margin-left:10px;
	height: 1120px;
	padding-top: 20px;
}

#signup6detailscontainer{
	background: transparent url(../images/signup6pics/Background-h650.png) no-repeat scroll 0 0;
	height: 650px;
	width: 660px;
	padding-left: 12px;
	margin-left:10px;
	padding-top: 20px;
}

#signup7detailscontainer{
	background: transparent url(../images/signup7pics/Background_white.png) no-repeat scroll 0 0;
	height: 400px;
	width: 660px;
	padding-left: 12px;
	margin-left:10px;
	padding-top: 20px;
}

#signup8detailscontainer{
	background: transparent url(../images/signup8pics/Background_white.png) no-repeat scroll 0 0;
	height: 388px;
	width: 650px;
	padding-left: 12px;
	margin-left:10px;
	padding-top: 20px;
}

#signup9detailscontainer{
	background: transparent url(../images/signup9pics/Background_white.png) no-repeat scroll 0 0;
	height: 309px;
	width: 718px;
	padding-left: 12px;
	margin-left:10px;
	padding-top: 10px;
	padding-top: 20px;
}

#signup3detailscontainer{
	background: transparent url(../images/signup3pics/Background.png) no-repeat scroll 0 0;
	height: 900px;	
	width: 650px;
	padding-left:12px;
	margin-left:10px;
}

#signup3detailscontainernew{
	
	/* background: transparent url(../images/signup3pics/Background-h1450.png) no-repeat scroll 0 0;	 */
	/* height:1450px; */
	height: 340px;
	width: 650px;
	/* padding-left:12px; */
	margin-left:10px;
}

#signuppreferencesdetailscontainer{
	background: transparent url(../images/signup10pics/Background-h750.png) no-repeat scroll 0 0;
	height: 750px;
	width: 646px;
	padding-left: 12px;
	padding-top:20px;
	margin-left:10px;
}
.verdanabold14green{
	font-size: 14px;
	font-weight: bold;
	font-family: verdana;
	color: #63b91a;
}

#signupsteps{
	background: transparent url(../images/signup2pics/Background.png) no-repeat scroll 0 0;
	width: 664px;
	height: 41px;
	margin-top: 20px;
}

.stepnumberhilighted{
	font-size: 30px;
	font-family: verdana;
	color: #ffffff;	
	line-height: 41px;
	/* padding-right: 10px; */
	padding-right: 5px;
}

.stepnumber{
	font-size: 30px;
	font-family: verdana;
	color: #99b4d1;	
	line-height: 41px;
	/* padding-right: 10px; */
	padding-right: 5px;
}

.stepdescriptionhilighted{
	/* font-size: 10px; */
	font-size: 11px;
	font-family: verdana;
	color: #ffffff;	
	font-weight: bold;
}

.stepdescription{
	/* font-size: 10px; */
	font-size: 11px;
	font-family: verdana;
	color: #99b4d1;	
	font-weight: bold;
}

#step1description{
	width: 130px;
	/*padding-top: 10px;*/
	padding-top: 6px;
	font-size: 11px;
}

#step2description{
	/* padding-top: 10px; */
	padding-top: 6px;
}

#step5description{
	/* padding-top: 10px; */
	padding-top: 6px;
}

#step3description{
	/* padding-top: 10px; */
	padding-top: 6px;
	margin-left: 10px;
}

#step4description{
	/* padding-top: 10px; */
	padding-top: 6px;
	width: 120px;
}

#selectioninfo{
	background: transparent url(../images/signup2pics/greenBackground.png) no-repeat scroll 0 0;
	width: 664px;
	height: 346px;
	margin-top: 20px;
}

.verdana12{
	font-family: verdana;
	font-size: 12px;
}

.verdana14{
	font-family: verdana;
	font-size: 14px;
}

.verdana15{
	font-family: verdana;
	font-size: 15px;
}

.verdana16{
	font-family: verdana;
	font-size: 16px;
}

.color333333{
	color: #333333;
}

.paddingtop4px{
	padding-top: 4px;
}

.padding10px{
	padding: 10px;
}

.padding15px{
	padding: 15px;
}

.padding25px{
	padding: 25px;
}

.paddingleft20px{
	padding-left: 20px;
}

.paddingleft45px{
	padding-left: 45px;
}

.paddingnone{
	padding: 0px;
}

.paddingtop0px{
	padding-top: 0px;
}

.paddingtop4px{
	padding-top:4px;
}

.paddingbottom0px{
	padding-bottom: 0px;
}

.paddingbottom10px{
	padding-bottom: 10px;
}

.paddingright0px{
	padding-right: 0px;
}

.paddingtop15px{
	padding-top: 15px;
}

.margin10px{
	margin: 10px;
}

.marginleft15px{
	margin-left: 15px;
}

.marginright15px{
	margin-right: 15px;
}

.marginleft35px{
	margin-left: 35px;
}

.marginleft2px{
	margin-left: 2px;
}

.marginleft6px{
	margin-left: 6px;
}

.marginright4px{
	margin-right: 4px;
}

.margintop20px{
	margin-top: 20px;
}

.margintop30px{
	margin-top: 30px;
}

.margintopnegative20px{
	margin-top: -20px;
}

.bold{
	font-weight: bold;
}

.lineheight17px{
	line-height: 17px;

}

.lineheight13px{
	line-height: 13px;

}

.color3870ad{
	color: #3870ad;
}

.fontregular{
	font-weight: normal;
}

.margintop15px{
	margin-top: 15px;
}

.marginbottom15px{
	margin-bottom: 15px;
}

.marginleft5px{
	margin-left: 5px;
}

.postype{
	text-align: center;
}

.verdana18{
	font-family: verdana;
	font-size: 18px;
}

.leftborderdotted{
	border-left-width: 1px;
	border-left-color: #cccccc;
	border-left-style: dashed;
}

tr.greybackground td{
	background: #f2f2f2;
}

.centeralign{
	text-align: center;
}

.middlealign{
	vertical-align: middle;
}

.leftalign{
	text-align: left;
}

.height30px{
	height: 30px;
}

tr.centeralign td{
	vertical-align: middle;
}

#proceedstep2{
	height: 51px;
	line-height: 51px;
	/* padding: 0px 20px 0px 20px; */
	margin-top: 12px;
	width: 630px;
}

#proceedbutton {
background:transparent url(../images/signup2pics/Button.png) no-repeat scroll 0 0;
height:35px;
line-height:35px;
width:163px;
}

#proceedstep2button{
	background: transparent url(../images/signup2pics/Button.png) no-repeat scroll 0 0;
	height: 36px;
	width: 165px;
	line-height: 36px;
}

#proceedstep4button{
	background: transparent url(../images/signup4pics/proceed_button.png) no-repeat scroll 0 0;
	height: 35px;
	width: 163px;
	line-height: 35px;
}

#proceedstep6button{
	background: transparent url(../images/signup6pics/proceed_button.png) no-repeat scroll 0 0;
	height: 33px;
	width: 231px;
	line-height: 33px;
}

#proceedstep7button, #proceedstep8button{
	background: transparent url(../images/signup7pics/proceed_button.png) no-repeat scroll 0 0;
	height: 34px;
	width: 174px;
	line-height: 34px;
}

.color1a4a7b{
	color: #1a4a7b;
}

.uppercase{
	text-transform: uppercase;
}

.tohoma11{
	font-size: 11px;
	font-family: tahoma;
}	

#proceedstep2container{
	background: transparent url(../images/signup1pics/Background2.png) no-repeat scroll 0 0;
	height: 51px;
	width: 664px;
	line-height: 51px;
	
}

#proceedstep4container{
	/* background: transparent url(../images/signup1pics/Background2.png) no-repeat scroll 0 0; */
	/* height: 51px; */
	width: 664px;
	/* line-height: 51px; */
	/*margin-top: 100px;*/
	float: left;
}

.color346aa7{
	color: #346aa7;
}

.color63b91a{
	color: #63b91a;
}

.input{
	background: transparent url(../images/signup3pics/field_blank.png) no-repeat scroll 0 0;
	height: 26px;
	width: 212px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.inputlarge{
	background: transparent url(../images/signup4pics/large_field.png) no-repeat scroll 0 0;
	height: 26px;
	width: 450px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.inputlargewidth{
	background: transparent url(../images/signup10pics/large_field.png) no-repeat scroll 0 0;
	height: 63px;
	width: 422px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.inputmedium{
	background: transparent url(../images/signup4pics/medium_field.png) no-repeat scroll 0 0;
	height: 26px;
	width: 171px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.inputsmall{
	background: transparent url(../images/signup4pics/small_field.png) no-repeat scroll 0 0;
	height: 26px;
	width: 178px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.inputverification{
	background: transparent url(../images/signup3pics/field_blank.png) no-repeat scroll 0 0;
	height: 26px;
	width: 212px;
	border-width: 0px;
	padding-left:10px;
	padding-top:4px;
}

.checkbox{
	background: transparent url(../images/signup3pics/checkbox.png) no-repeat scroll 0 0;
	height: 26px;
	width: 26px;
	border-width: 0px;
}

.checkboxchecked{
	background: transparent url(../images/signup3pics/checkbox_checked.png) no-repeat scroll 0 0;
	height: 26px;
	width: 26px;
	border-width: 0px;
}

table.adminform td{
	text-align: left;
	vertical-align: middle;
	padding-top:7px;
}

.labelwidth{
	width: 170px;
}

.displaynone{
	display:none;
}

.verdana10{
	font-family: verdana;
	font-size: 10px;
}

.verdana11{
	font-family: verdana;
	font-size: 10px;
}


.color666666{
	color: #666666;
}

.select{
	/*border: 0px;*/
	/*background: transparent url(../images/signup3pics/Field_Salutation.png) no-repeat scroll 0 0;*/
	height: 26px;
	width: 137px;
	
}

#dropdownbutton{
	/*background: transparent url(../images/signup3pics/Dropdown.png) no-repeat scroll 0 0;*/
	height: 14px;
	width: 15px;
	margin-left: -37px;
	margin-top: 6px;
}

.hidedefaultdropdownbutton{
	background: transparent url(../images/signup3pics/blank.png) no-repeat scroll 0 0;
	height: 30px;
	width: 25px;
	margin-left: -16px;
}

.greyinputbg{
	background: transparent url(../images/signup3pics/field_username.png) no-repeat scroll 0 0;
}

#formcontainersignup3{
	background: transparent url(../images/signup3pics/grey-bg.png) no-repeat scroll 0 0;	
	height: 617px;
	width: 642px;
	
}

#formcontainersignup3new{	
	/* background: transparent url(../images/signup3pics/grey-bg-h1215.png) no-repeat scroll 0 0; */
	background-color: #f6f6f6; 
	/* height: 1215px;	 */
	height: 340px;
	width: 600px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#formcontainersignuppreferences{
	background: transparent url(../images/signup10pics/grey_background.png) no-repeat scroll 0 0;
	height: 431px;
	width: 621px;
}

#formcontainersignup4{
	background: transparent url(../images/signup4pics/grey-bg-h840.png) no-repeat scroll 0 0;
	height: 820px;
	width: 620px;
	margin-top: 30px;
	padding-left: 12px;
	padding-top: 20px;
}

#formcontainersignup5{
	background: transparent url(../images/signup5pics/Background_large.png) no-repeat scroll 0 0;
	height: 895px;
	width: 620px;
}

#formcontainersignup6{
	background: transparent url(../images/signup6pics/Background_large.png) no-repeat scroll 0 0;
	height: 356px;
	width: 620px;
}

#formcontainersignup7{
	background: transparent url(../images/signup7pics/Background_large.png) no-repeat scroll 0 0;
	height: 250px;
	width: 650px;
}

#formcontainersignup8{
	background: transparent url(../images/signup8pics/Background_large.png) no-repeat scroll 0 0;
	height: 251px;
	width: 646px;
}

#state{
	width: 182px;
	/*border: 0px;*/
}

.labelwidth2{
	width: 153px;
	vertical-align: middle;
}

.lineheight10px{
	line-height: 10px;
}

.letterspacingnegative1{
	letter-spacing: -1px;
}

.liststyletypenone{
	list-style-type: none;
}

.liststyleimage{
	list-style-image: url(../images/signup1pics/arrow.png);
}

.table4corner{
	background: transparent url(../images/signup5pics/table4corner.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.leftcornerrounded{
	background: transparent url(../images/signup5pics/block3.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.rightcornerrounded{
	background: transparent url(../images/signup5pics/block1.png) no-repeat scroll 0 0;
	width: 158px;
	height: 26px;
}

.standardcell{
	background: transparent url(../images/signup5pics/block2.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.rightcorner{
	background: transparent url(../images/signup5pics/block4.png) no-repeat scroll 0 0;
	height: 26px;
}

.tableleftcornertop{
	background: transparent url(../images/signup5pics/table_leftup.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.tablecells{
	background: transparent url(../images/signup5pics/table0.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.tablerightcornertop{
	background: transparent url(../images/signup5pics/table_rightup.png) no-repeat scroll 0 0;
	width: 157px;
	height: 26px;
}

.tableleftcornerbottom{
	background: transparent url(../images/signup5pics/table_leftdown.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

.tablerightcornerbottom{
	background: transparent url(../images/signup5pics/table_rightdown.png) no-repeat scroll 0 0;
	width: 157px;
	height: 26px;
}

.tablemiddlebottom{
	background: transparent url(../images/signup5pics/table1.png) no-repeat scroll 0 0;
	width: 154px;
	height: 26px;
}

#deletestorebutton, #addstorebutton, #nextstorebutton, #previousstorebutton, #savestorebutton{
	background: transparent url(../images/signup5pics/delete_button.png) no-repeat scroll 0 0;
	width: 115px;
	height: 32px;
	line-height: 32px;
}

#moneyback{
	background: transparent url(../images/signup6pics/moneyback.png) no-repeat scroll 0 0;
	width: 186px;
	height: 163px;
	margin: 10px 0px 10px 0px;
}

#moneybackblock{
	background: transparent url(../images/signup6pics/moneybackground.png) no-repeat scroll 0 0;
	width: 239px;
	height: 361px;
}

#moneybackcontainer{
	width: 186px;
}

.trebuchetms20{
	font-family: trebuchet MS;
	font-size: 20px;
}

#enduseragreement{
	width: 700px;
	height: 338px;
	background-color: #d6d5d9;
	overflow-x : hidden;
	overflow-y : scroll;
}

.italic{
	font-style: italic;
}

.color5fbc0c{
	color: #5fbc0c;
}

#separator{
	background: transparent url(../images/signup7pics/separation.png) no-repeat scroll 0 0;
	width: 2px;
	height: 74px;
	margin: 0px 10px 0px 10px;
}

#accountverificationinfo, #verificationcode{
	width: 212px;
}

.color16456f{
	color: #16456f;
}

.cursorpointer{
	cursor: pointer;
}

.floatnone{
	float: none;
}

#cancelBtn{
	display:none;
}

div.mask {
	background-image:url(../images/maskBG.png);
	float:left;
	left:0;
	position:absolute;
	top:0;
	z-index:8500;
}

.popUpPanelBtn {
	background:transparent url(../images/signup1pics/btn_s.gif) no-repeat scroll 0 0;
	border:0 none;
	color:#EEEEEC;
	cursor:pointer;
	font-size:10px;
	font-weight:bold;
	height:25px;
	text-align:center;
	vertical-align:bottom;
	width:76px;
}

#errorimg{
	background:transparent url(../images/newIcons/cash sales new/nok.png) no-repeat scroll 0 0;
	width: 24px;
	}
	
.colorff0000{
	color: 	#FF0000;
}

#storepolicytextarea {
height:89px;
overflow-x:hidden;
overflow-y:hidden;
width:300px;
}

#signup-summary-text{
color:#333333;
font-family:verdana;
font-size:14px;
font-weight:bold;
}

.red{
color:#FF0000;
}

#supportBgContainer{
	background: transparent url(../images/support-grey-bg.png) no-repeat scroll 0 0;
	height: 800px;
	width: 586px;
	padding-left: 12px;
	margin-left:33px;
	padding-top: 20px;
}

.submit-button{
	background: transparent url(../images/submit-button.png) no-repeat scroll 0 0;
	height: 30px;
	width: 105px;
	line-height: 30px;
}

.mainhead-signup {
	color: #333333;
	/* float: left; */
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	/* margin-bottom: 37px; */	
}

.subhead-signup {
	float: left;
	font-family: verdana;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	/* margin-top: -34px; */  
	color: rgb(54, 109, 172);
	
}

.tblTitle-signup{
	/* border-bottom: 1px solid #CACACA; */
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 21px;
	width: 645px;
	margin-left: -11px;
	
}

.default-image{
	width: 50px; 
	padding-right: 10px;	
}

strong{
	font-size: 12px;
}

.select-option{
	/*border: 0 none;*/
	/*background: transparent;*/
	font-size: 14px;
	/*padding: 2px 10px;*/
	width: 135px;
	height: 27px;
}

.main-selection{
	/*overflow: hidden;*/
    /*width: 167px;*/
    height:26px;
   /* -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: url(../images/signup3pics/Dropdown.png) no-repeat scroll 117px 7px;*/
   /* border: 1px solid #b0b0b0;*/
   /* -moz-box-shadow:0px 0px 1px -1px #b0b0b0;*/
    float:left;	
}

marginleft10px{
	margin-left: 10px;	
}
.redcolor{
	color: red;
}

#signuperrordetailscontainer{	
	background: transparent url(../images/signup8pics/Background_white.png) no-repeat scroll 0 0;
	height: 550px;
	width: 660px;
	padding-left: 12px;
	margin-left:10px;
	padding-top: 20px;
}

#proceederrorcontainer{
	background: transparent url(../images/signup1pics/Background2.png) no-repeat scroll 0 0;
	height: 51px;
	width: 664px;
	line-height: 51px;
	margin-top: -44px;	
}

#formcontainersignuperror{	
	/*background: transparent url(../images/signup6pics/Background_large.png) no-repeat scroll 0 0;*/
	height: 356px;
	width: 620px;
}

.text-decoration-none{
	text-decoration: none;
}

#guarantee-img{
	background-image: url("../images/signup1pics/money-back-image.png");
	background-repeat: no-repeat;
	width: 186px;
	height: 163px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.infoblockcontainer .text{
	font-size: 13px;
	font-family: verdana, geneva, sans-serif;
	color: #333;
	padding: 10px;
}

.bottom-header-txt{
	font-family: verdana ;
	font-size: 15px;
	}
	
.bottom-header-title{
	font-size: 16px; 
	font-weight: bold; 
	font-family: verdana;
	text-align: center;
	}
	
.bottom-header{
	text-align: center;
	width: 875px;
	float: left;
	margin-left: 11px;	
}

.footer-signup{
	float: left;
	margin-left: 11px;
}

#formcontainersignup3new select {
	width: 212px;
}