.page-content-left{
	float:left;
	width:368px;
	/* height:629px; */
	height: 425px;
}

.page-content-right{
	float:left; 
	width:150px; 
	/* height:600px; */ 
	height: 265px;
	color: #CC0000;
}

.page-details-wrapper{
	background:url(../images/whiteboard.gif) no-repeat left top;
	min-height:600px;
	padding:23px 17px 0 31px;	
}

.page-create-details-wrapper{
	min-height:600px;
	/*padding:23px 17px 0 31px;*/	
	margin-left: 2px;
}

#create-bg-left2{
	width: 187px;
	height: 154px;
}

#create-bg-left1{
	width: 187px;
	height: 26px;
}

#create-bg-left3{
	width: 187px;
	height: 4px;
}

#create-bg-left4{
	width: 188px;
	height: 334px;
	padding-top: 25px;
}

#create-bg-left5{
	width: 184px;
	height: 65px;
}

#create-bg-middle1{
	width: 369px;
	height: 54px;
}

#create-bg-middle2{
	width: 369px;
	height: 11px;
}

#create-bg-right1{
	width: 167px;
	height: 61px;
}

#create-bg-right2{
	width: 167px;
	height: 534px;
}

#create-bg-right3{
	width: 167px;
	height: 13px;
}


#object-content-container{
	background-color: #FFFFFF;
	height: 557px;
	width: 369px;
}

.page-summary{
	float:left;
	/* padding:17px 0 0 0;
	width:152px; */
}

.woodbg .popup-create-details-wrapper .page-summary-popup{
	margin-left : 0px;
}

.page-description {
	/* padding:0 0 17px 0; */
}

.page-description-popup{
	/* width:170px; */
}

#inactive_sticker{
	display:none;
	position:absolute;
	z-index: 2;
	max-height:none;/* 
	margin-left: 7px;
	left:9px; */
	/* top:-160px; */
}

.frame-image{
	border:none;
	height:auto;
	width:auto;
	max-width:120px;
	max-height:120px;
	margin-top:10px;
	z-index: 1;
}

.page-description .image{
	/* height:110px;
	width:198px; */
	text-align:center;
}
	
.new-price{
	text-align:center;
	font-weight:bold;
	font-size:14px;
}


.old-price{
	text-align:center;
	color:#666666;
	text-decoration:line-through;	
}

.page-summary-list .row {
	float:left;
	width:100%;
	margin-left: 26px;
}

.page-summary-list label {
	text-align:left;
	padding:0 0 7px 0;
	width:62px;
	float:left;
	display:inline-block;
	color:#666666;
}

.page-summary-list span {
	float:left;
}

.page-information{
	float:left;
	width: 100%;
/* 	width: 100%; */
	/* width:358px; */
	/*padding:42px 4px 0 8px;*/
	/* padding:3px 4px 0 32px; */
}

.popup-create-details-wrapper .page-information{
	margin-left:25px;
	margin-top:72px;
	padding-top:0px;
	height:470px;
	overflow-y:auto;
	padding:0 0 0 4px;
}

.woodbg .popup-create-details-wrapper .page-information-popup{
	margin-left:20px;
}

.popup-create-details-wrapper .page-help{
	height:380px;
	margin-top:57px;
	font-size:12px;
}

.popup-create-details-wrapper .page-summary{
	width:auto;
	margin-left:32px;
	margin-top:30px;
}

.popup-create-details-wrapper .page-information-inner{
	max-height:none;
}
.woodbg .popup-create-details-wrapper .page-information-inner-popup{
	width:336px;
	font-size:11px;
}

.popup-create-details-wrapper .page-info-row{
	font-size:11px;
}

.page-info-row .text-only{
	padding-top:7px;
	font-size:14px;
}

.page-information-inner {
	overflow-y:auto;
	/*overflow-x:hidden;*/
	max-height:500px;
	/* padding-right:5px; */
	background-color: #FFFFFF;
	/* width: 361px; */
	/* padding-top: 10px; */
}

.page-info-row label{
	font-weight: normal;
	font-size: 12px;
}

.page-info-row,
.page-info-row-radio{
	width:100%;
	/* padding-bottom:8px; */
	overflow:auto;
}

.sleeing-price{
	display:inline-block;
	padding:6px 6px 0px 6px;
	font-size:14px;
}

.page-info-row label,
.page-info-row-radio label{
	width:111px;
	padding:7px 8px 0 0;
	float:left;
	text-align:right;
}

.forum-gray-box .page-info-row label {
	width:100px;
}

.popup .page-info-row input[type='text'] {
	width:181px;
}

.popup .page-info-row select {
	width:198px;
}

.page-info-row input[type='text'] {
	border:2px solid #cccccc;
	padding:6px 6px;
	width:216px;
	font-size:14px;
}
.page-info-row textarea {
	border:2px solid #cccccc;
	font-size:14px;
}

fieldset .page-info-row label{
	margin-left:-11px;	
}

.page-info-row input.calendar-text{
	width: 141px;
	float:left;
	margin-left: 22px;
}

.page-info-row input.calendar-icon{
	/* background-image: url("../images3/org.png");
	background-repeat:no-repeat;
	width:29px;
	height:30px; */
}


fieldset .page-info-row select{
	width:185px;
}
input.mandatory {
	border:2px solid #cc0000;
}

.page-info-row select {
	border:2px solid #cccccc;
	padding:6px 6px;
	width:216px;
	font-size:14px;
}

.page-info-row label sup {
	position:relative;
	top:5px;
	color:#cc0000;
}

.page-info-row-radio .page-radio-group {
	float:left;
	padding-top:5px;
}

.page-info-row-radio .page-radio-group label {
	width:auto;
	font-size:14px;
	padding-top:0px;
}

.pproduct-info-row-radio .page-radio-group label input {
	margin-top:0px;
	width:auto;
}

.forum-gray-box {
	background:#f0f0f0;
	padding:4px;
	clear:both;
	overflow:auto;
	overflow:hidden;
	margin-bottom:5px;
	margin-left:7px;
}

.box{
	float:left;
	margin-right:0px;
	width:105px;
	margin:0 2px;
}

.box-inner{
	border:2px solid #cccccc;
	padding:8px 0;
	text-align:center;
	background:#ffffff;
	font-weight:bold;
	font-size:13px;
	width:101px;
}

.box label {
	background:#cccccc;
	text-align:center;
	text-transform:uppercase;
	display:block;
	padding:4px 0;
}

.page-help{
	float:left;
	width:120px;
	padding:17px 0px 0px 3px;
	margin-left: 4px;
}

.report-controls, .window-controls{
	margin-top: 24px;
	margin-left: 12px;
	min-height:30px;
}

#search-product-tree-pane{
	overflow:hidden;
	width:269px;
}

#summary-body-middle .image{
	text-align:center;
}

#msg-box{
	/*float:right;*/
	font-size:20px;
	font-weight:bold;
	margin-right:63px;
	margin-top: 4px
}	

.msg-box-save{
	color : #5EA310;
}

.msg-box-error{
	color : #CC0000;
}

#ErrorMessages{
	color : #CC0000;
}

.search-icon{
	background-image:url("../images/order-screen/search-product-button-icon.png");
	background-repeat:no-repeat;
	height:46px;
	width:46px;
}

.view-statement-icon{
  	background-image: url("../images/report/view-statement-icon.png");
	background-repeat:no-repeat;
	width: 16px;
	height: 24px;
}

.add-variant-icon{
  	background-image: url("../images/add-variant.png");
	background-repeat:no-repeat;
	width: 16px;
	height: 11px;
	margin-top: 5px;
}

div.hardware-settings-container label {
	text-align: left;
	width: 165px;
}