.select-option{
	border: 0 none;
	background: transparent;
	font-size: 14px;
	padding: 2px 10px;
	width: 182px;
	height: 27px;
}

.select-option-retail{
	border: 0 none;
	background: transparent;
	font-size: 14px;
	padding: 2px 10px;
	width: 240px;
	height: 27px;
}
.main-selection{
	overflow: hidden;
    width: 154px;
    height:25px;
   -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
   /* box-shadow: 1px 1px 11px #330033;*/
    background: url(../images/signup3pics/Dropdown.png) no-repeat scroll 135px 7px;
   border: 1px solid #b0b0b0;
 /*  -moz-box-shadow:0px 0px 1px -1px #b0b0b0;*/
    float:left;	
}

.select-option-salutation{
	border: 0 none;
	background: transparent;
	font-size: 14px;
	padding: 2px 10px;
	width: 130px;
	height: 27px;
}

.main-selection-salutation{
	overflow: hidden;
    width: 100px;
    height:25px;
   -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
   /* box-shadow: 1px 1px 11px #330033;*/
    background: url(../images/signup3pics/Dropdown.png) no-repeat scroll 80px 7px;
   border: 1px solid #b0b0b0;
 /*  -moz-box-shadow:0px 0px 1px -1px #b0b0b0;*/
    float:left;	
}

.main-selection-new{
	overflow: hidden;
    width: 210px;
    height:25px;
   -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
   /* box-shadow: 1px 1px 11px #330033;*/
    background: url(../images/signup3pics/Dropdown.png) no-repeat scroll 192px 7px;
   border: 1px solid #b0b0b0;
 /*  -moz-box-shadow:0px 0px 1px -1px #b0b0b0;*/
    float:left;	
}

.select-option-new{
	border: 0 none;
	background: transparent;
	font-size: 14px;
	padding: 2px 10px;
	width: 242px;
	height: 27px;
}