html {
	overflow-y: auto;
	overflow-x: auto;
}

.row-background {
	background-color: #E5E5E7;
}

@font-face {
	font-family: Arial;
	src: url('../css/arial.ttf');
}

@font-face {
	font-family: Verdana;
	src: url('../css/verdana.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('../css/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-light;
	src: url('../css/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-bold;
	src: url('../css/Roboto-Bold.ttf');
}
/* @font-face
	{
	font-family: fontik;
	src : url('../css/fontik-regular-italic.ttf');
	} */
body {
	margin: 0px;
	padding: 0px;
	color: #333333;
	font-family: Verdana, Arial;
	/* font-family: verdana-font-sans-serif; */
	font-size: 12px;
}

div#outer {
	height: 768px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#left-side {
	float: left;
	height: 778px;
	width: 720px;
	background-color: #E1BE87;
}

#header-right-details {
	/* width: 489px; */
	height: 64px;
	float: left;
}

#header-left-details {
	width: 230px;
	height: 64px;
	float: left;
	margin-left: 4px;
}

#header-right-bg1,#header-right-bg3 {
	width: 15px;
	height: 64px;
	float: left;
}

.header {
	min-height: 58px;
	font-family: arial;
}

.header-left {
	float: left;
	width: 160px;
}

.header-middle {
	float: left;
	width: 220px;
	padding: 6px 15px 0 0;
	color: #ffffff;
	margin-left: 15px;
}

.header-icon-container {
	float: left;
	width: 60px;
	display: none;
}

.header-middle-title {
	/*float:left;*/
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	text-align: center;
	font-family: arial;
	width: 141px;
	height: 48px;
	display: table-cell;
	vertical-align: middle;
}

.date {
	/*float:left;
	width:48px;
	margin-top: -10px;*/
	/* color: #FFF; */
}

.header-right {
	float: right;
	padding-right: 5px;
	padding-top: 10px;
}

.cart-icon a {
	display: block;
	background: url(../images/icons.png) no-repeat -77px top;
	width: 31px;
	height: 40px;
}

.clock-icon a {
	display: block;
	background: url(../images/icons.png) no-repeat -126px top;
	width: 33px;
	height: 40px;
}

.home-icon a {
	display: block;
	background: url(../images/icons.png) no-repeat -177px top;
	width: 36px;
	height: 40px;
}

.keyboard-icon a {
	display: block;
	background: url(../images/icons.png) no-repeat -226px top;
	width: 54px;
	height: 40px;
}

.info-icon a {
	display: block;
	background: url(../images/icons.png) no-repeat -292px top;
	width: 34px;
	height: 40px;
}

#three-columns-container {
	float: left;
	height: 624px;
	width: 720px;
	/* margin-left: 4px; */
}

#glider-column {
	float: left;
	/* height: 624px; */
	/* width: 146px; 
    margin-left: 2px; */
	/* width: 153px; */
	width: 100%;
	/*  height: 100%; */
	/*  margin-left: 4px; */
}

#glider-filter {
	float: left;
	/* height: 20px;
	width: 144px; */
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #f3f3f3;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
}

#search-product-container {
	/* width:272px; */
	width: 100%;
	/* height:624px; */
	/* height: 607px; */
	/* height: 534px; */ /*commented by yovenita */
	/* height: 536px; */
	float: left;
	/* margin-left: 4px; */
}

#search-product-column {
	/*float: left;*/
	/* height: 624px; */
	/* width: 272px; */
	width: 100%;
	height: 100%;
}

#search-product-bg1 {
	/* height: 84px; */
	/* width: 272px; */
	width: 100%;
	/* background-color: #ECEFF7; */
}

#search-product-bg2 {
	/* height: 523px; */
	/* height: 617px; */ /*commented by yovenita */
	height: 100%;
	/* width: 272px; */
	width: 100%;
	/* background-color: #FFF; */
}

#search-product-bg3 {
	/* height: 5px; */
	/* width: 272px; */
	width: 100%;
	/* background-color: #ECEFF7; */
}

#shopping-cart-column {
	float: left;
	/* height: 624px;
	width: 295px; */
	/* height:100%; */
	width: 100%;
	/* margin-left: 4px;
	margin-right: 4px; */
	/* background-color: #FFF; */
	/* padding: 0px 5px; */
	background: -moz-linear-gradient(#d7d8da, #ffffff);
	background: -o-linear-gradient(#d7d8da, #ffffff);
	background: -webkit-linear-gradient(#d7d8da, #ffffff);
	background: linear-gradient(#d7d8da, #ffffff);
	overflow: auto;
}

#shopping-cart-column-header {
	background-color: #FFF;
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px; */
	/* height: 133px;
	width: 283px; */
	/* height:100%; */
	width: 100%;
}

#right_box {
	float: left;
	height: 778px;
	width: 299px;
	background-image: url(../img/right_bg1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.message-display-container-error {
	/* background-image: url(../img/error-bg.png);	
	background-repeat: no-repeat; */
	color: #CC0000;
	font-size: 24px;
}

.message-display-container-saved {
	/* background-image: url(../img/saved-bg.png);
	background-repeat: no-repeat; */
	color: #5EA310;
	font-size: 24px;
}

#message-display-container span {
	font-size: 24px;
}

.side_bg {
	/* float:left; */
	/*background-image:url(images/bg_shadow.png);*/
	/* background-repeat:repeat-y; */
	/* width:297px;
	height:704px; */
	width: 100%;

	/* margin-left: 4px; */
}

.right_contents {
	/* height: 605px;
    margin: 0 auto;
    position: relative;
    width: 296px; */
	
}

.contents {
	float: left;
	width: 100%;
}

.sidebarbutton {
	background-position: center top;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	float: left;
	height: 90px;
	margin: 0 0 8px 8px;
	position: relative;
	text-align: center;
	width: 88px;
}

.sidebartext {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-top: 50px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 84px;
}

/* .action-button {
    background-position: center top;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
    float: left;
    height: 90px;
    margin: 0 0 8px 8px;
    position: relative;
    text-align: center;
    width: 88px;
} */
.action-button .title {
	color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	height: 24px;
	/*font-size: 10px;*/
	/* display: table-cell; */
	/* float: left; */
	/* position: relative; */
	/* text-align: center; */
	/*text-transform: uppercase;*/
	/* vertical-align: bottom; */
	/*  width: 80px; */
	/*  margin-left: -8px */
}

.popup-button {
	background-position: center top;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	float: left;
	height: 76px;
	margin: 0 0 8px 8px;
	position: relative;
	text-align: center;
	width: 83px;
}

.popup-button .title {
	color: #333333;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 50px;
	position: relative;
	text-align: center;
	/*text-transform: uppercase;*/
	vertical-align: bottom;
}

.sidebar-main-button {
	/* float: left;
    height: 61px; */
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	height: 100%;
}

.sidebar-main-button button {
	border: none;
	/* background-color: transparent; */
	padding: 0px;
	margin: 0px;
}

.sidebar-main-button button div.text {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

img {
	border: none;
}

.employee img {
	max-height: 32px;
	max-width: 82px;
}

#search-product-column div.title,#shopping-cart-column div.title {
	float: left;
	/* height: 16px;
	width: 272px; */
	height: 100%;
	width: 100%;
	/*font-size: 10pt;*/
	font-size: 14px;
	color: #666;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
	/*text-transform: uppercase;*/
}

.search-product-textfield-outer-container {
	float: left;
	/* height: 71px; */
	/* width: 272px; */
	width: 100%;
}

.search-product-textfield-inner-container {
	/* width:245px; */
	width: 100%;
	height: 40px;
	float: left;
	/* background-color:#fff;
	border: 2px solid #cccccc; */
	/*padding-left: 5px;*/
	/* padding-top: 2px; */
	/* margin-left: 13px; */
	/* margin-top:2px; */
}

.search-product-textfield {
	width: 180px;
	height: 48px;
	float: left;
	border: none;
	background-color: #fff;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	text-align: left;
}

.search-product-button {
	width: 50px;
}

#search-bp-textfield-outer-container {
	float: left;
	/* height:55px;
	width:283px; */
	/* height: 100%; */
	width: 100%;
}

#search-bp-textfield-inner-container {
	/* background-color:#FFFFFF;
	border:2px solid #CCCCCC; */
	float: left;
	/* height:40px; */
	/* margin-left:7px; */
	/*padding-left:5px;*/
	/* padding-top:2px; */
	/* width:265px; */
	/* margin-top: 2px; */
	/* height: 100%; */
	width: 100%;
}

#search-bp-textfield {
	background-color: #FFFFFF;
	border: medium none;
	color: #333333;
	float: left;
	font-size: 12px;
	/* height:48px; */
	text-align: left;
	text-decoration: none;
	/* width:210px; */
	height: 100%;
	width: 100%;
}

.pricelist-info-div {
	float: left;
	height: 16px;
	width: 100%;
	font-size: 10px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}

#orderScreen-upsellAmountContainer {
	color: #000;
	float: left;
	/* padding-top: 4px; */
	text-align: right;
	width: 100%;
	padding-bottom: 4px;
}

#bp-info-button {
	width: 50px;
	font-size: 18px;
}

#shopping-cart-container {
	float: left;
	/* height:534px;
	width:283px; */
	/* height:100%; */
	width: 100%;
	/* max-height: 553px; */
	overflow-y: auto;
	/* border-bottom: 1px solid #333333; */
	/* padding-top: 10px; */
	
}

#shopping-cart-line-details-container {
	/* background-color: #FFF; */
	/* height:488px;
	width:283px; */
	/* height:100%; */
	width: 100%;
	/* border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px; */
	background: linear-gradient(#D7D8DA, #FFFFFF) repeat scroll 0 0
		rgba(0, 0, 0, 0); /*added by yovenita*/
}

#shopping-cart-bg3 {
	background-color: #EEE;
	/* height:5px; */
	/* width:283px; */
	height: 100%;
	width: 100%;
}

#shopping-cart-title-div {
	background-color: #FFF;
	font-size: 14pt;
	/* height:34px; */
	text-align: center;
	text-decoration: none;
	/* width:283px; */
	/*text-transform: uppercase;*/
	/* height:100%; */
	width: 100%;
	padding-bottom: 10px;
}

/* #shopping-cart-lines-container{
	clear:both;
	margin-left:7px;
	margin-right:4px;
	border-bottom: solid 1px #5b5b5b;
} */
#shopping-cart-lines-container {
	/* height:400px; */
	/* height:100%; */
	/* max-height: 326px; */
	/* max-height: 298px; */
	overflow: auto;
	clear: both;
	border-bottom: solid 1px #5b5b5b;
	/* background-color: #FFF6EA; */
}

/* #shopping-cart-total-container{
	height: 80px;
} */
#shopping-cart-grand-total-container {
	/* background-color:#FFFFFF;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000; */
	font-size: 20px;
	font-family: Arial;
	color: #1d1d1d;
	/* padding-bottom: 10px; */ /*commented by yovenita */
	/* padding-bottom: 5px; */
}

#search-product-column .jScrollPaneContainer {
	/* margin-left: 3px; */
	
}

.updated_sidebar {
	float: left;
	/* width:285px; */
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333333;
	/* margin-left:15px; */
	width: 100%;
}

.discount_text {
	margin: 0 auto;
	width: 150px;
}

.discount_percentage {
	float: left;
	width: 185px;
	margin: 12px 0 0 20px;
}

.discount_percentage_text {
	float: left;
	width: 90px;
	margin: 10px 0 0 0;
}

.discount_percentage_box {
	background-image: url("../img/inpbg.png");
	background-repeat: no-repeat;
	float: left;
	height: 34px;
	width: 95px;
}

.discount_percentage_box input {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0 none;
	float: left;
	font-size: 10px;
	margin-left: 3px;
	margin-top: 7px;
	outline: none;
}

.discount_button_area {
	float: left;
	width: 272px;
	margin: 8px 0 0 8px;
}

.discount_keypad {
	float: left;
	width: 84px;
	padding: 2px;
}

.discount_button {
	background-image: url("../img/discount_button.png");
	background-repeat: no-repeat;
	color: #333333;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 50px;
	margin: 0 5px 0 0;
	padding: 0;
	width: 82px;
}

.discount_buttontext {
	margin: 18px auto;
	text-align: center;
	width: 56px;
}

.discount_tax {
	/* float:right;
	width:197px;
	margin:0 30px 0 0; */
	width: 100%;
	text-align: center;
}

.unit_area {
	float: left;
	width: 256px;
	margin: 7px 0 0 0;
}

.employee {
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	margin-top: 5px;
	margin-right:4px;
	width:15%;
	color:#A8A8A8;
	background:transparent;
	border:none;
}

.active-sales-rep {
	color: #007AFF !important
}



.employee span {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	float: left;
	/* text-transform:uppercase; */
}

.error-message {
	background: url(../images/topscreen.gif) no-repeat left top;
	height: 40px;
	width: 277px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
}

.save-message {
	background: url(../images/topscreen.gif) no-repeat left -57px;
	height: 40px;
	width: 277px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
}

.normal-message {
	height: 49px;
	width: 277px;
	font-size: 24px;
	text-align: center;
	padding-top: 4px;
}

.normal-message span {
	font-size: 12px;
	font-weight: normal;
}

#clockedInSalesRep {
	/* margin-left: 10px;
	margin-top: 12px; */
	padding-bottom: 4px;
}

/* .right_contents a {
	margin:0px;
	padding:0px;
	float:left;
	list-style:none;
	padding:0 8px 9px 0;
	display:block;
	width:86px;
	height:86px;
	cursor: pointer;
	text-decoration: none;
	background-position: top center;
} */

div.window-controls span {
	margin-top: 56px;
	text-align: center;
	font-size: 12px;
	font-family: Verdana;
	display: block;
	width: 100%;
	color: #333333;
	font-weight: bold;
}

/* REPORT BUTTONS*/
.right_contents a {
	text-decoration: none;
}

.right_contents a label {
	display: block;
	position: relative;
	/*top:56px;*/
	top: 59px;
	width: 84px;
	text-align: center;
	cursor: pointer;
	float: left;
	height: 20px;
	text-decoration: none;
	color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	/*font-size:10px;*/
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	/*text-transform:uppercase;	*/
}


/*view order*/
.print-order-bg {
	background: url(../images/printorderbg.gif) repeat-y -813px top;
}

.print-order-bg-top {
	background: url(../images/printorderbg.gif) no-repeat left top;
}

.print-order-bg-bottom {
	background: url(../images/printorderbg.gif) no-repeat -1633px bottom;
	min-height: 540px;
}

.sales-order-left {
	float: left;
	background-color: #FFFFFF;
	/* width:413px; */
}

.sales-order-right {
	float:right;
	/* width:294px;
	padding:5px 6px 5px 5px; */
}

.print-order .row {
	float:left;
	width:100%;
}

.print-order-logo {
	float:left;
	width: 150px;
	height: 50px;
	/* margin-top: 16px; */
}

.print-order-logo-inner img{
	max-height: 50px;
	max-width: 150px;
	height: auto;
}

.print-order-top-address {
	width: 100%;
}

.print-order-top-address h1 {
	margin:0px;
}

.customer-address{
	/* background:#f0f0f0; */
	/* padding:10px; */
	float:left;
	/* width:219px;
	margin-right: 4px;
	height: 85px; */
}

.invoice-detail{
	float:left;
	width: 100%;
	/* background:#f7f7f7; */
	/* width: 168px;
	height: 105px; */
}

.invoice-detail label {
	/* width:75px; */
	text-align:left;
	display:inline-block;
	/* padding-right:5px;
	padding-left: 4px; */
	font-weight: normal;
	margin: 0 !important;
}

#orderInfo_popup_panel{
	font-size : 11px;
}

.sales-order-left table thead {
	background:#adadad;
}

.pdf-lines{
	/* overflow: auto; */
	overflow-x: hidden;
	overflow-y: auto;  
}

.sales-order-left table th,
.sales-order-left table td,
.order-details-right table th
{
	/* padding:4px;	 */
	font-size: 11px;
}

.sales-order-left table tr.odd {
	/*background:#FFFFFF;
	border-bottom: 1px solid #D7D8DA;
	border-top: 1px solid #D7D8DA;*/
}

.sales-order-left table tr.subtotal {
	border-top:1px solid #333333;	
}

.order-details-right table tr.subtotal {
	border-top:1px solid #333333;	
}

.grandtotal{
	float:left;
	width:100%;
	/*background:#e5e5e5;
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;*/	
	padding:15px 0;
	font-size:14px;
	font-weight:bold;
}

.grandtotal-column1{
	float:left;
	width:50%;
	padding-left:8%;
}

.grandtotal-column2{
	float:left;
	width:40%;
	text-align: right;
}

.paiddelived-image{
	text-align:center;
	background:#ffffff;
}

/* .sales-order-left .row {
	float: left;
	width: 411px;
} */

.order-details, .paiddelived-image {
	
}

.sales-order{
	font-size:16px;
	/* text-align:center; */
	font-weight:bold;
	margin-top: 16px;
	float: left;
	width: 100%;
	height: 18px;
}

.sales-address-right{
	float: left;
	/* border-bottom: 1px solid #333; */
	/* text-align:center; */
	width: 100%;
	padding-bottom: 9px;
	/* height: 69px; */
}

.order-detail-right{
	/* margin: 0 4px; */
	float: left;
	/* height: 96px;
	margin-top: 9px; */
}

.sales-order-right table th,
.sales-order-right table td {
	padding:4px;	
}

.sales-order-right table tr.odd {
	background:#f2f2f2;
}


.sales-order-right table tr.subtotal td {
	border-top:1px solid #333333;	
}

.order-details-right{
	border-top: solid 1px #000;
}

.order-details-right td{
	padding: 4px;
	font-size: 11px;
}

.order-details-right tr.odd{
	background-color: #F2F2F2;
}

.granddetail{
	float:left;
	width:100%;
	/* padding:2px 0; */
}

.granddetail-column1{
	float:left;
	width:70%;
	padding-left:8%;
}

.granddetail-column2{
	float:left;
	width:30%;
}

.thanks{
	text-align:left;
	font-size:12px;
	color:#999999;
	padding-bottom:5px;
	float:left;
	width:100%;
}

.select-dimension{
	width:150px;
}

/**********************************************************************************************************/
tr.sub-total td,tr.grand-total td{
	background:#e5e5e5;
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;			
	font-weight:bold;
}	
 	  
tr.grand-total td{
	padding:15px 0;
	font-size:14px;
}
/*create window styles*/

/*inventory count*/
.inventory_pad {
}

#inventory-pad-container{
	background-color: #fff;
	float:left;
	/* height:616px; */
	/* width:50%;
	padding-right: 10px; */
}

#inventory-pad-container-spot-check{
	background-color: #fff;
	float:left;
	/* height:610px; */
	margin: 4px;
	width:404px;
}

#view-closetill-top{
	float:left;
	width:412px;
}

#view-closetill-center-left{
	float: left;
	height: 563px;
	width:29px;
}

#view-closetill-center-right{
	float: left;
	/* height: 563px; */
	width:28px;
}

#view-closetill-contents{
	float: left;
	background-color: #FFFFFF;
	/* width: 355px; */
	width: 100%;
	/* height: 563px; */
}

#view-closetill-bottom{
	/* height:39px; */
	width:412px;
	clear:both;
}

.inventory {
	float:left;
	/* margin:28px 0 0 0px; */
	/* width:333px; */
	width: 100%;
}

.inventory_top{
	float:left;
	width:355px;
	background-color:#e8e8e8;
}

.invent_name{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	width:65px;
	text-align:right;
	float:left;
	padding:7px 0 7px 0;
}

.invent_qty{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	width:122px;
	text-align:left;
	float:right;
	padding:7px 0 7px 0;
}

.invent{
	float:left;
	width:310px;
}

.inventory_mid{
	float:right;
	width:288px;
	padding:7px 0 5px 0;
}

.calcultor{
	float:left;
	width:300px;
	margin-top: 4px;
}

.calculator_gradient{
	float:left;
	width:300px;
	/* background-image:url(../images/blackgradient.png);
	background-repeat:no-repeat; */
	/* height:610px; */
	background-color: #fff;
}

.calculator_buttons{
	background-color: #fff;
	float:left;
	width:300px;
	height: 347px;
	/* margin-top:44px; */
}

.keypad_numeric{
	float:left;
	width:224px;
	margin:3px 0 1px 3px;
}

.keypad_button{
	float:left;
	width:69px;
	height:65px;
	background-image:url(../images/calculatorbutton1.png);
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#333333;
	padding:1px;
	margin:0 0 1px 3px;
}

.keypad_button a{
	text-decoration:none;
	color:#333333;
}

.keypad_rectangular{
	float:left;
	background-image:url(../images/calculatorbutton3.png);
	background-repeat:no-repeat;
	width:142px;
	height:65px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#333333;
	margin:0 3px 0 4px;
	
}

.keypad_rectangular a{
	text-decoration:none;
	color:#333333;
}

.right_keypad{
	width:82px;
	display:table-cell;
	vertical-align:middle;
	height:134px;
	text-align:center;
	
}

.keypad_reset{
	float:left;
	background-image:url(../images/calculatorbutton2.png);
	background-repeat:no-repeat;
	width:69px;
	height:134px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#333333;
	margin:3px 0 0 0;
}

.keypad_reset a{
	text-decoration:none;
	color:#333333;
}

.keypad_bottom{
	float:left;
	width:300px;
	margin:2px 0 0 2px;
}

.calcultor .sidebarimage {
	display:table-cell;
	height:65px;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:67px;
}

.inventory_pad input {
	border:2px solid #CCCCCC;
	float:right;
	height:27px;
	margin:0;
	padding:6px 0;
	width:77px;
}

.inventory_pad .inventory_text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#333333;
	padding-left: 6px;
}

.blackframe_up {
	background-image:url(../images/frame.png);
	background-repeat:no-repeat;
	float:left;
	height:625px;
	margin:0 4px 0 9px;
	width:412px;
}

.portfolio {
	background-color:#FFFFFF;
	float:left;
	margin:34px 0 0 30px;
	width:328px;
}

.mainprofile {
	float:left;
	width:354px;
}

.h2 {
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:18px;
	font-weight:bold;
	/* margin:6px auto 0; */
	text-align:center;
}

.black_frame_top{
	width:100%;
	float:left;
	background-color:#e8e8e8;
	margin:12px 0 0 0;
}

.black_left{
	width:130px;
	float:left;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
	padding:6px 6px;
	
}

.black_right{
	width:112px;
	float:right;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
	padding:6px 6px;
}

#mcs2_container {
	float:left;
	height:435px;
	margin:0;
	width:354px;
}

#mcs2_container td{
	text-align: center;
}

.closetillreceipt {
	float:left;
	/* width:50%; */
	background-color: #fff;
	height: auto;
}

.startuppage {
	border-bottom:1px dotted #333333;
	float:left;
	height:58px;
	width:100%;
}

.startuppageNoHeight {
	border-bottom:1px dotted #333333;
	float:left;
	width:100%;
}

.left-startuppage {
	float:left;
	height:58px;
	width:100%;
}

.currentmoneymid {
	background-color:#FFFFFF;
	border-bottom:1px solid #8e8e93;
	float:left;
	width:100%;
}

.receipt_name {
	color: #8e8e93;
	font-family: Roboto, Verdana,Geneva,sans-serif;
	font-size: 12pt;
	margin: 0 auto;
	text-align: left;
}

.receipt_address {
	color: #8e8e93;
	font-family: Roboto, Verdana,Geneva,sans-serif;
	font-size: 12pt;
	margin:0 auto;
	text-align: left;
}

.receipt_datetime {
	color: #8e8e93;
	font-family: Roboto, Verdana,Geneva,sans-serif;
	font-size: 12pt;
	margin:0 auto;
	text-align: left;
}

.endofpage{
	float:left;
	height:566px;
	width:295px;
	background-color: #FFFFFF;
}

.white_bar {
	background-color:#FFFFFF;
	float:left;
	height:480px;
	padding:15px 17px 0px;
	width:258px;
}

.white_bar_bottom {
	background-color:#E2E2E2;
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
	float:left;
	margin:-45px 0 0;
	padding:8px 0;
	width:292px;
}

.white_bar_bottom div {
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:16px;
	font-weight:bold;
	padding: 0px 6px;
}


.dashboard-header{
	float:left;
	height:103px;
	margin-bottom:4px;
	margin-left:4px;
	width:708px;
	background-color:#EDEDEC;
	border:solid 4px #666;
}

.parameter-container{
	padding-left: 15px;
	height: 30px;
	padding-top: 15px;
}

.report-container {
	float:left;
	height:575px;
	margin-bottom:5px;
	width:708px;
	margin-left:4px;
	text-align: center;
	overflow: auto;
	border:solid 4px #666;
	background-color:#FFF;
}

.report-container img{
	margin-top: 54px;
}

.report-container table{
	width: 90%;	
}

.report-container table img{
	margin: 0px;	
}

/*view documents*/
.print-document-container{
	width: 724px;
}

.commLevel{
	width:60px;
}

/************************Close Till****************************/
.inventory_pad h2{
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:12px auto;
	text-align:center;
	/*text-transform: uppercase;*/
}

#current-money-in-terminal th{
	background-color:#E8E8E8;
	padding: 6px;
	font-weight: normal;
	/*text-transform: uppercase;*/
	font-size: 14px;
	height: 30px;
}

#current-money-in-terminal tbody td {
	height:45px;
}

#current-money-in-terminal td{
	color:#333333;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

#current-money-in-terminal tbody tr.even {
	background-color:#F5F7FB;
}


#current-money-in-terminal tfoot tr {
	background-color:#E8E8E8;
	border-top:1px solid #333333;
}

#current-money-in-terminal tfoot td {
	font-size:16px;
	font-weight:bold;
	height: 35px;
}

.closetillreceipt table td{
	color:#333333;
	font-size:12px;
}

.main-icon-close-till{
	background-image: url('../images/close-till.png');
}

#closetill-bg1{
	float:left;
	height:586px;
	margin-left: 4px;
	width:7px;
}

#closetill-bg3{
	float:left;
	height:586px;
}

#close-bottom-tab{
	height: 104px;
	width: 717px;
	float: left;
	margin: 0px 0px 0px 3px;
}

#closetill-footer-bg1{
	float:left;
	height: 102px;
	width: 12px;
	margin-left: 3px;
}

.closetill-footer-bg2{
	float:left;
	height: 102px;
	width: 335px;
}

#closetill-footer-bg3{
	float:left;
	height: 102px;
	width: 24px;
}

#closetill-footer-bg4{
	float:left;
	height: 102px;
	width: 11px;
}

.ipod {
	float:left;
	height:599px;
	width:385px;
	margin-top: -6px;
}

#closetill-center-bg1{
	height: 28px;
	width: 385px;
}

#ipod-container{
	background-color: #fff;
	width: 75%;
	/* height: 616px; */
	height: 100%;
	float: left;
}

#closetill-center-left-bg2{
	float: left;
	height: 273px;
	width: 29px;
}

#ipod-screen{
	width: 100%;
	height: 270px;
	float: left;
	background-color: #FFFFFF;
}

#closetill-center-left-bg2{
	float: left;
	height: 273px;
	width: 29px;
}

#closetill-center-right-bg2{
	float: left;
	height: 273px;
	width: 28px;
}

#closetill-center-bg3{
	background-color: #000;
	height: 4px;
}

#closetill-center-left-bg4{
	height: 247px;
	width: 8px;
	float: left;
}

#closetill-center-right-bg4{
	height: 247px;
	width: 7px;
	float: left;
}

#ipod-bottom-contents{
	/* height: 274px; */
	width: 370px;
	float: left;
}

#ipod-bottom-container{
	/* height: 237px; */
	width: 100%;;
	background-color: #FFFFFF;
	margin-top: 10px;
}

.closing {
	float:left;
	width:328px;
}

.closing_text {
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:11px;
	margin:10px 0 0;
}

.closing_top {
	float:left;
	/*margin:34px 0 0 38px;*/
	/* margin: 10px; */
	width:328px;
}

.closing_down {
	float:left;
	/* margin:0 0 0 20px; */
	width:350px;
}

.closing_down .h3 {
	color:#333333;
	font-family:"Courier New",Courier,monospace;
	font-size:18px;
	font-weight:bold;
	margin:6px auto 15px;
	text-align:center;
}

.closing_top input {
	border:1px solid #E5E5E5;
	float:right;
	font-size:12px;
	margin:0 15px 10px 0;
	padding:8px 2px;
	width:205px;
}

.balancesheet {
	float:left;
	margin:0 0 12px;
	width:380px;
}

.closing_left {
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
}

.closing_right {
	color:#333333;
	float:right;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:right;
}

.endingbalance {
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
	float:left;
	/* margin:0 0 0 15px; */
	padding:5px 5px 5px 0px;
	width:392px;
}

.endingbalance_left {
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-left:3px;
}

.endingbalance_right {
	color:#333333;
	float:right;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-right:7px;
	text-align:right;
}

.closing #TotalAmount{
	float: right;
	margin-right:15px;
	padding-top: 8px;
	width: 205px;
}

.mandatory{
	float:left;
	width:115px;
	margin:0 0 0 21px;
}

.mandatory_help{
	float:left;
	width:85px;
	background-image:url(../images/close-till/redhelp.png);
	background-repeat:no-repeat;
	height:27px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding:7px 0 0 21px;
	margin:-5px 0 0 15px;
}

.mandatoryhelp_text{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
}

.mandatory_text{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#cc0000;
}

/* .voided-stamp{
	background-image: url('../images/voided.png');
	height: 294px;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	width: 388px;
	position: absolute;
	top: 294px;
}

.drafted-stamp{
	background-image: url('../images/drafted.png');
	height: 299px;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	width: 388px;
	position: absolute;
	top: 299px;
}

.completed-stamp{
	background-image: url('../images/completed-stamp.png');
	height: 312px;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	width: 388px;
	position: absolute;
	top: 294px;
}

.inprogress-stamp{
	background-image: url('../images/in-progress.png');
	height: 312px;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	width: 388px;
	position: absolute;
	top: 294px;
} */

.complete-payment{
	background-image: url('../images/view-order/pay.png');
	width: 50px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.role-org-access{
	background-image: url('../images/report/role-org-access.png');
	height: 86px;
	width: 86px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 3px;
}

.complete{
	background-image: url('../images/complete.png');
	height: 63px;
	width: 282px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 10px;
}

.allocate-payment-action-button{
	background-image: url('../images/allocate-payment-big.png');
	height: 63px;
	width: 282px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 10px;
}

.process-action-button{
	background-image: url('../images/process.png');
	height: 63px;
	width: 282px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 12px;
}

/*comments*/
#comments-div {
	overflow: auto; 
	float: left;
	width: 100%;
}

/* #comments-div .comment{
	padding: 4px;
} */

#comments-div .comment-col {
	padding: 4px;
}

#comments-div .message {
	padding: 4px 4px 4px 6px;
}

#comments-div .comment .user img{
	float: left;
}

#comments-div .comment .user{
	float: left;
	width: 50%;
	font-weight: bold;
}

#comments-div .comment .date{
	/* float: right;
	text-align: right;
	width: 50%;
	font-weight: bold;
	color: #000; */
}

#comments-div .comment .message{
	clear: both;
	word-wrap: break-word;
	word-break: break-all;
	/* white-space: pre-line; */
}

#comments-controls-container{
	text-align: center;
}

#comments-textfield{
	width: 100%;
}

#post-button{
	height: 100%;
}

.comment-even-row1{
	background-color:rgb(229,239,250);
	align-items:stretch;
	border-top: 1px solid rgb(229,241,255);
	border-left: 1px solid rgb(229,241,255);
	border-right: 1px solid rgb(229,241,255);
	text-align: center;
}

.comment-even-row2{
	background-color:rgb(234,246,251);
	align-items:stretch;
	border-top: 1px solid rgb(229,241,255);
	border-left: 1px solid rgb(229,241,255);
	border-right: 1px solid rgb(229,241,255);
}

.comment-odd-row1{
	background-color:rgb(243,243,244);
	align-items:stretch;
	border-top: 1px solid rgb(232,232,232);
	border-left: 1px solid rgb(232,232,232);
	border-right: 1px solid rgb(232,232,232);
	text-align: center;
}

.comment-odd-row2{
	background-color:rgb(248,248,248);
	align-items:stretch;
	border-top: 1px solid rgb(232,232,232);
	border-left: 1px solid rgb(232,232,232);
	border-right: 1px solid rgb(232,232,232);
}

/* #comments-button{
	float:left;
} */

#importer-container{
	background-image:url(../images/importer-background.png);
	background-repeat: no-repeat;
	width: 717px;
	height: 702px;
	margin-left: 4px;
	padding-top: 5px;
	padding-left: 5px;
}

.dark-grey-header td{
	background-color: #d9d9d9;
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding: 7px;
	text-align: center;
	text-transform: uppercase;
}

.dark-grey-header{
	background-color: #d9d9d9;
	font-family: Verdana;
	color: #5B5B5B;
/* 	font-weight: bold; */
	font-size: 17px;
	padding: 7px;
	text-align: center;
	text-transform: capitalize;
}

.allocation-header td{
	background-color: #FFFFFF;
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	padding: 3px;
}

.allocation-header{
	background-color: #FFFFFF;
	font-family: Verdana;
	color: #5B5B5B;
	/* font-weight: bold; */
	font-size: 12px;
	padding: 3px;
}

.unallocated-payment-table td,  .unpaid-invoice-table td{
	border-color: #CCCCCC;
	border-width: 1px;
}

.unallocated-payment-table,  .unpaid-invoice-table{
	border:2px solid #cccccc;
}

/* #unallocated-payment-table-header div{
	border:1px solid #CCCCCC;
	padding:3 0 3 0;
}
	
#unpaid-invoice-table-header div{
	border:1px solid #CCCCCC;
	padding:3 0 3 0;
}
 */
 
 #unallocated-payment-invoice-table-header div{
	border:1px solid #CCCCCC;
	padding:3 0 3 0;
}

#total-format {
	text-align:left;
	padding-left:15px;
}

.allocation-odd-row td{
	background-color: #f8f8f8;
	font-family: Verdana;
	font-style: Regular;
	font-size: 11px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 5px 2px;
	}
	
.allocation-even-row td{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-style: Regular;
	font-size: 11px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 5px 2px;
	}

.allocation-odd-row{
	background-color: #E5E5E7;
	font-family: Verdana;
	font-style: Regular; 
	font-size: 11px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 5px 2px;
	}
	
.allocation-even-row{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-style: Regular; 
	font-size: 11px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 5px 2px;
	}
	
.customer-search-box{
	/* background-image: url(../images/customer-name.png);
	background-repeat: no-repeat; */
	height: 36px;
	width: 100%;
	border: 1px solid #CCCCCC;
	padding: 0px 8px;
	color:#333333;
	box-shadow:none;
	margin-left:20px;
	}

.customer-label{
	/* float: right; */
/* 	text-align:right; */
	padding-right: 10px;
	margin-top: 7px;
	/* font-family: Verdana; */
	font-family:Arial;
	color: #5B5B5B;
	/* font-weight: bold; */
	font-size: 18px;
/* 	margin-right:10px; */
	}
	
.allocation-total td{
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 2px;
	font-weight: bold;
	}
	
.allocation-total div{
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 2px;
	font-weight: bold;
	border-top:1px solid #CCCCCC;
	}
	
#footer-bg1{
	/* height: 83px; */
	/* width: 15px; */
	float:left;
}

#footer-bg3{
	/* height: 83px;
	width: 15px; */
	float:left;
}

#footer-contents{
	/* height: 83px;
	width: 716px; */
}

.footer-container{
	background-color: #FFFFFF;
	padding: 5px !important;
	margin:5px 0px 0px 15px; /* Added by yovenita  */
}

#filter-bg1{
	/* height: 40px; */
	/* width: 153px; */
	width: 100%;
	heigth: 100%;
	background-color: #707070;
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px; */
	/* width: 144px; */
	
}

#filter-bg2{
	background-color: #707070;
	/* height: 584px; */
	/* width: 153px; */
	width: 100%
	height: 100%;
	/* border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px; */
	/* width: 144px;
	height: 565px;
	 */
}

#filter-bg3{
	/* height: 18px; */
	/* width: 144px; */
	width: 100%;
	/* height: 100%; */
}

.binding{
	height: 16px;
	width: 720px;
	margin-top: 40px;
}

#statement-of-account-container{
	height: 500px;
	width: 720px;
	margin-left: 15px;
}

#statement-of-account-contents{
	height: 500px;
	width: 720px;
}

#statement-left{
	width: 5px;
	height: 500px;
	float: left;
}

#statement-middle{
	height: 440px;
	float: left;
	margin: 30px;
	width: 646px;
}

#statement-right{
	width: 9px;
	height: 500px;
	float: left;
}

.statement-of-account-odd-row {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-style: Regular;
	font-size: 12px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 7px;
	text-align: center;
	}
	
.statement-of-account-even-row {
	background-color: #E5E5E7;
	font-family: Verdana;
	font-style: Regular;
	font-size: 12px;
	color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	padding: 7px;
	text-align: center;
	}
	
#statement-of-account-popup-panel{
	height: 700px;
	width: 750px;
	}

#statement-of-account-table{
	height: 300px;
	overflow-y: auto;
}

#statement-of-account-header{
	/*height: 90px;*/
	height: 135px;
}

#bottom-right{
	width: 15px;
	height: 10px;
	float: left;
}

#bottom-left{
	width: 15px;
	height: 10px;
	float: left;
}

#bottom{
	height: 10px;
	float: left;
	width: 690px;
}

#statement-title{
	width: 646px;
	text-align: center;
}

#statement-customer-details{
	float: left;
	width: 50%;
	height: 135px;
	/* background-color: #f2f2f3; */
}

#statement-org-details{
	float: right;
	width: 50%;
	height: 135px;
/* 	background-color: #F8f8f9; */
}

.statement-of-account-lines td{
	border: 1px solid #CCCCCC;
}

.open-balance td, .balance td{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-style: Regular;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding: 7px;
	text-align: center;
	}

.invoices-list, .payments-list{
	/*width: 325px;
	height: 500px;*/ /*commented by yovenita on 23 June 2014*/
	overflow: auto;
}

#help{
	width:160px;
	padding-left:5px;
}

/*************************************************************/

#search-product-button, #bp-search-button, #sales-rep-search-button{
	width: 50px;
	height: 40px;
	background: -moz-linear-gradient(#3395ff, #0063cc);
  	background: -o-linear-gradient(#3395ff, #0063cc);
  	background: -webkit-linear-gradient(#3395ff, #0063cc);
  	background: linear-gradient(#3395ff, #0063cc);
  	color: #FFFFFF;
  	border-top-right-radius: 6px;
  	border-bottom-right-radius: 6px;
}

#search-product-button-icon, #bp-info-button-icon{
	background-repeat: no-repeat;
	width: 46px;
	height: 40px;
}

#search-product-button-icon{
	background-image: url('../images/order-screen/search-product-button-icon.png');	/** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}

#bp-info-button-icon{
	background-image: url('../images/order-screen/bp-info-button-icon.png'); /** sprite-ref: order-screen-sprite; sprite-margin-bottom: 10px*/
}

/*********view order**************/

#header-right-details{
	/* background-color: #5d8fca; */
	/* background: linear-gradient(#dcdbdb, #989797);
	background: moz-linear-gradient(#dcdbdb, #989797);
	background: o-linear-gradient(#dcdbdb, #989797);
	background: webkit-linear-gradient(#dcdbdb, #989797); */
	/* border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px; */
	/* height: 59px; */
	/* width: 558px;
	margin-left: 4px;
	margin-right: 4px; */
	/* height: 100%; */
	/* padding: 10px; */
	float: left;
	width: 100%;
	background-color:#363535;
	padding:12px;
	height:52px;
}
#header-left-details{
	border:6px solid #575451;
	background-color:#FFF;
	float: left;
	height: 48px;
	margin-left: 4px;
	width: 141px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
}

.title{
	padding:8px;
	font-family:Arial;
	font-size:13pt;
}
.dropdown dt a {
	display:block; 
    width:87px;
    background-color: #ACD562;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #fff;  
    height: 20px;
    margin-top: 12px;  
    text-align: center;
    padding-top: 8px;
 } 
 
 #store-terminal{
 	float: left;
 	width: 90px;
 	height: 50px;
 	margin-left: 10px;
 	font-size: 11px;
 	margin-top: 17px;
 	color: #fff;
	font-weight: bold;
 }
 
 #header-right-content{
	/* width: 558px;
	height: 64px; */
	width: 100%;
	height: 100%;
}

.home-header,
.info-header,
.help-header,
.keyboard-header,
.logout-header {
	float: left;
	color: #007aff;
	font-size: 11px;
	/* font-weight: bold;
	margin-top: 12px; */
	text-align: center;
}

.header-icons{
	float: right;
	color: #007aff;
	font-size: 20px;
	text-align: center;
	margin-top:3px;
	width:25%;
}

.home-icon-header,
.info-icon-header,
.help-icon-header,
.keyboard-icon-header,
.logout-icon-header,
.pos-icon-header {
	float:left;
	background-repeat:no-repeat;
}

.home-icon-header{
	background-image: url("../images/v13/home-icon-header.png");
	width: 28px;
	height: 28px;
}
.info-icon-header{
	background-image: url("../images/v13/info-icon-header.png");
	width: 28px;
	height: 28px;
}

.help-icon-header{
	background-image: url("../images/v13/help-icon-header.png");
	width: 28px;
	height: 28px;
}

.keyboard-icon-header{
	background-image: url("../images/v13/keyboard-icon-header.png");
	width: 28px;
	height: 28px;
}

.logout-icon-header{
	background-image: url("../images/v13/logout-icon-header.png");
	width: 28px;
	height: 28px;
}

.pos-icon-header{
	background-image: url("../images/v13/pos-icon-header.png");
	width: 28px;
	height: 28px;
}


.info-header-menu,
.pos-header-menu,
.help-header-menu,
.logout-header-menu,
.keyboard-header-menu,
.terminal-org-text-menu {
	float: left;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-top: 3px;	
}

.terminal-org-text-menu {
	width: 130px;
	text-align: left;
	height: 17px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	
}

.terminal-org-text {
	text-align: left;
	height: 17px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	float: left;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
	width: 90px;
}

.chat-header-menu{
	float: left;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-top: -5px;
}

#header-logo img{
	max-width: 100px;
	max-height: 35px;
	float: left;
	/* margin-top: 12px;
	margin-left: 4px; */
}

.i-want-to{
	/* margin-top: 12px;
	margin-right: 5px; */
	color: #FFFFFF;
	height: 35px;
}

.i-want-to a#iwantto{
	color : #FFFFFF;
}

.pdf-view {
	/* background-color: #fff;
	float:left;
	height:624px;
	width:411px;
	margin-left:4px;
	margin-right: 4px; */
	/* border-radius: 12px; */
	/* margin-bottom: 4px; */
	
}

.slip-view {
	background-color: #fff;
	float:left;
	padding: 5px;
	width: 100%;
	/* height:624px;
	width:301px;
	margin-right: 4px; */
	/* border-radius: 12px; */
	/* margin-bottom: 4px; */
}

#footer_img {
	/* background-color: #858585;
	float: left;
	height: 93px;
	width: 720px; */
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px; */
}

#message-display-container{
	/*height: 52px;
	width: 268px;*/
	/* height: 47px; */
	font-size: 11px;
	text-decoration: none;
	margin-top:5px;
}

#right-side {
	float: left;
	height: 778px;
	width: 299px;
	background-color: #E2E2E2;
	/* background-color: #EEE; */
	/* background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); Chrome,Safari4+
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); Opera 11.10+
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); IE10+
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); W3C */
}

.new-order-button {
	background-color: #5D8FCA;
	width: 277px;
	height: 58px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 0 4px #000 inset;
	-moz-box-shadow:0 0 4px #000 inset;
	-webkit-box-shadow:0 0 4px #000 inset;
}

.top-header-details{
	float: left;
	width: 100%;
	font-size: 24px;
}

.org-details {
	/* float: right; */
	margin-top: 10px;	
	padding-bottom: 7px;
}

.receipt-title-header{
	float: left;
	/* margin-left: 42px; */
}

.receipt-title-order-no {
	float: right;
	/* margin-right: 20px; */
}

.receipt-header-org-details{
	width: 100%;
	/* text-align: center; */
	float: left;
	margin-top: 10px;
}

/*********close till**************/

#close-till-container {
	width: 100%;
	height: 100%;
}

#close-till-contents {
	float:left;
	/* width:716px; */
	width: 100%;
	/* margin-left: 4px;
	margin-right: 4px; */
	/* height: 624px; */
	height: 100%;
}

.closetill_bg {
	/* background-color: #000; */
	/* border-radius: 6px;
	-moz-border-radius: 6px; */
	/* height: 624px; */
	/* width: 716px; */
	width: 100%;
}

#close-bottom-tab-container{
	background-color: #858585;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	height: 93px;
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	width: 716px;
}

#ipod-top-container{
	float: left;
	/* height: 300px; */
}

#ipod-middle-container{
	clear: both;
	height: 4px;
}

.side-button-background{
	background-color: #5D8FCA;
	border-radius: 6px;
	-moz-border-radius: 6px;
	height: 58px;
	width: 277px;
	box-shadow:0 0 4px #000;
	-moz-box-shadow:0 0 4px #000 inset;
	-webkit-box-shadow:0 0 4px #000 inset;
}

.left-details{
	position: relative;
	background-color: #EAF9B5;
	float: left;
	height: 400px;
	margin: 4px;
	width: 142px;
	display: none;
}

.left-details:before {
	content:"";
	position: absolute;
	top: o;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #e5e696 #fff;
	display: none;
}

.footer{
	margin-top: 4px;	
}

/***************view close-till****/
.currentmoneymid {
		background-color: transparent;
	}
	
.receiptimg {
		/* background-image:url(images/receipt-header.png); 
		background-repeat:no-repeat;*/
		border-bottom:1px dotted #333333;
		float:left;
		width:100%;
	}
	
.h1 {
	color:#333333;
	font-family:"Courier New",Courier,monospace;
	font-size:18px;
	margin:15px 0 5px 41px;
	width:220px;
}
	
.white_bar2 {
	background-color:#FFFFFF;
	float:left;
	overflow-y:auto;	
	/* padding: 5px; */	
}

.receipt {
	background-color:#FFFFFF;
	float:left;
	margin:8px 0;
	width:100%;
}

.right_side {
	/* margin:0 auto;
	width:265px; */
	width: 100%;
}

.terms {
	float:left;
	margin:2px;
	/* width:265px; */
	width: 100%;
}
	
.boldtext {
	font-weight:bold;
	font-size: 14px !important;
}

.leftdiv {
	color:#333333;
	float:left;
	font-family:Verdana;
	font-size:12px;
}

.rightdiv {
	color:#333333;
	float:right;
	font-family:Verdana;
	font-size:12px;
	text-align:right;
}

.subheading {
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
	color:#333333;
	float:left;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
	padding:5px 0;
	text-align:center;
	text-transform:uppercase;
	width:100%;
}
	
.profile {
	float:left;
	/* padding:10px; */
	/* width:310px; */
	width: 100%;
}
.profileimage {
	float:left;
	/* width:60px; */
	width: 25%;
}
.profiletext {
	float:left;
	/* width:236px; */
	width: 100%;
}
.profileemployee {
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:13px;
	font-weight:bold;
	/* width:135px; */
	width: 100%;
}
.profilegreen {
	color:#63A829;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:12px;
	margin:0 0 0 6px;
	/* width:238px; */
	width: 100%;
}
.profilered {
	color:#CC0000;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:12px;
	margin:0 0 0 6px;
	/* width:238px; */
	width: 100%;
}
.profiledata {
	float:left;
	/* width:327px; */
	width: 100%;
}
.profiledifference {
	border-top:1px dotted #7F7F7F;
	float:left;
	/* margin:0 0 15px 10px; */
	padding:15px 0;
	/* width:310px; */
	width: 100%;
}
.totaldifference {
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:13px;
	font-weight:bold;
	/* width:145px; */
	/* width: 100%; */
}
.border_center {
	border-bottom:1px dotted #7F7F7F;
	float:left;
	margin:10px 0;
	width:100%;
}
.profilerate {
	color:#333333;
	float:right;
	font-family:Verdana,Geneva,sans-serif;
	font-size:13px;
	text-align:right;
	/* width:63px; */
}
.invoice {
	float:left;
	padding:3px 0px 3px 0px;
	/* width:310px; */
	width: 100%;
}
.invoiceleft {
	color:#333333;
	float:left;
	font-family:Verdana,Geneva,sans-serif;
	font-size:13px;
	/* width:150px; */
}
.invoiceright {
	color:#333333;
	float:right;
	font-family:Verdana,Geneva,sans-serif;
	font-size:13px;
	text-align:right;
	/* width:60px; */
}

.home-icon-header,
.info-icon-header,
.pos-icon-header,
.help-icon-header,
.keyboard-icon-header,
.logout-icon-header {
	margin-left: 10px;
	margin-right: 10px;
}

#employee-sales-container{
	float: left;
	width: 100%;;
	/* height: 624px; */
}

#employee-sales-bg{
	float: left;
	width: 100%;;
	/* height: 624px; */
}

#header-right-content a {
	text-decoration: none;
}

.translation-text{
	color: #333333;
    font-family: arial;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
}

#right-corner-details{
	/* background-color: #EEE;
	height:154px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px; */
}

#item-info{
	height:154px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

#right-corner-details .org-terminal{
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
}

#right-corner-details .user-role{
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
}

#right-corner-details .price-list{
	font-size: 12px;
	padding-left: 10px;
	padding-top: 10px;
}

div.time-date-container{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 12px;
}

.clock-container-hours-mins{
	font-size: 10pt;
}

tr.parentProduct span{
	color: #5D8FCA;
	}
	
#search-product-textfield, #search-bp-textfield, #search-sales-rep-textfield {
	padding : 0;
	box-shadow : none;
	color: #333333;
	height: 40px;
	border: solid 1px #CCCCCC;
	width: 100%;
	border-top-left-radius: 6px;
  	border-bottom-left-radius: 6px;
}

.home-header-icon{
	font-size: 24px;
}

.header-info{
	font-size: 11px;
	color: #FFF;
}

.action-button{
   	width: 80px;
   	height: 65px;
   	margin-top: 5px;
   	font-size: 16px;
   }
  
  .icon-label{
  		font-size: 12px;
  		font-family: Arial;
  		padding-top: 5px;
  		color: #0063cc;
  		white-space: normal;
  		/* width: 75px; */
  }
  
  .button-label{
  		font-size: 8pt;
  		font-family: Roboto;
  		color: #363535;
  		white-space: normal;
  }
  
  .icon{
  		font-size: 18px;
  }
  
  #checkout-button{
  	width: 100%;
  	/* height: 100%; */
  	/* margin-top: 5px; */
  	background: -moz-linear-gradient(#08a600, #0b9604);
	background: -o-linear-gradient(#08a600, #0b9604);
	background: -webkit-linear-gradient(#08a600, #0b9604);
	background: linear-gradient(#08a600, #0b9604);
	box-shadow: 0px 3px 5px 0px #a5a5a5;
  }
  
  #processBtn{
  width: 100%;
  	/* height: 100%; */
  	margin-top: 5px;
  	background: -moz-linear-gradient(#08a600, #0b9604);
	background: -o-linear-gradient(#08a600, #0b9604);
	background: -webkit-linear-gradient(#08a600, #0b9604);
	background: linear-gradient(#08a600, #0b9604);
	/* box-shadow: 0px 3px 5px 0px #a5a5a5; */ /* commented by yovenita  */
  }
  
 .receipt-btn{
	background-color: #99CAFF;
	/* font-family: Arial;
	font-size: 10px;
	font-color: #bdbec2; */
	/* height: 38px;
	width: 120px; */
	/* in-height: 1.33; */
	padding: 2px 16px;
	border-radius: 6px 6px 6px 6px !important;
}

.btn-secondary {
  	color: #363535;
   	background-color: #cce4ff;
  	border-color: #bdbec2;
  	border-radius:6px;	
	width:100%;
}

.btn-tertiary {
  	color: #363535;
   	background-color: #FFFFFF;
  	border-color: #bdbec2 !important;
  	border-radius:6px !important;	
	width:100%;
}

.receipt-label{	
	font-family: Arial;
	font-size: 12pt;
	font-color: #363535;
/* 	padding: 2px 16px; */
	in-height: 1.33;
}  
  .padding-2{
  		padding: 2px;
  }
  
  .padding-4{
  		padding: 4px;
  }
  
  .padding-8{
  		padding: 8px;
  }
  
  .padding-16{
  		padding: 16px;
  }
  
  .padding-32{
  		padding: 32px;
  }
  
  .padding-top-2{
  		padding-top: 2px;
  }
  
  .padding-top-4{
  		padding-top: 4px;
  }
  
  .padding-bottom-4{
  		padding-bottom: 4px;
  }
  
  .padding-left-4{
  		padding-left: 4px;
  }
  
  .padding-right-4{
  		padding-right: 4px;
  }
  
  .padding-top-8{
  		padding-top: 8px;
  }
  
  .padding-bottom-8{
  		padding-bottom: 8px;
  }
  
  .padding-right-8{
  		padding-right: 8px;
  }
  
  .padding-left-8{
  		padding-left: 8px;
  }
  
  .padding-top-12{
  		padding-top: 12px;
  }
  
  .padding-bottom-12{
  		padding-bottom: 12px;
  }
  
  .padding-top-16{
  		padding-top: 16px;
  }
  
  .padding-bottom-16{
  		padding-bottom: 16px;
  }
  
  .padding-left-16{
  		padding-left:16px;
  }
  
   .padding-right-16{
  		padding-right:16px;
  }
  
  .padding-top-24{
  		padding-top: 24px;
  }
  
  .padding-left-24{
  		padding-left: 24px;
  }
  
  .padding-bottom-24{
  		padding-bottom: 24px;
  }
  
  .padding-top-36{
  		padding-top: 36px;
  }
  
  .padding-top-32{
  		padding-top: 32px;
  }
  

  
  .line-item-input-container, .line-item-pricing-label{
  		float: left;
  		width: 25%;
  		text-align: center;
  }
  
  .discount-on-total-input, .discount-on-total-label{
  		float: left;
  		width: 33.3%;
  		text-align: center;
  }
  
  body .row{
  		margin: 0px !important;
  }
  
  .shopping-cart-list-container{
  		font-size : 12px;
  		cursor: pointer;
  }
  
  .shopping-cart-list-container span, #shopping-cart-total-container span{
  		padding: 8px 5px 0px 5px;
  }
  
  .border-top{
  	border-top:2px solid #ffffff;
  }
  
  .border-right{
  	border-right:2px solid #ffffff;
  }
  
.shopping-cart-highlight{
	cursor: pointer;
	background-color: #007aff !important;
	color: #FFFFFF !important;
}
  
.shopping-cart-highlight div.item-name{
	color: #FFFFFF !important;
}

.shopping-cart-highlight div.item-description{
	color: #FFFFFF !important;
}

.shopping-cart-highlight span.item-quantity{
	color: #FFFFFF !important;
}

.shopping-cart-highlight div.item-quantity{
	color: #FFFFFF !important;
}

.shopping-cart-highlight div.item-total{
	color: #FFFFFF !important;
}

.search-product-highlight{
	background-color: #007aff !important;
}

.shopping-cart-list-container div.odd{
	/* background-color: #FFFFFF; */
	/* border-top: 1px solid #d7d8da;
	border-bottom: 1px solid #d7d8da; */
}

.shopping-cart-list-container div.even{
	/* background-color: #FFFFFF; */
	/* border-top: 1px solid #d7d8da;
	border-bottom: 1px solid #d7d8da; */	
}

#shopping-cart-total-container{
	font-size : 12px;
}

.item-header{
	border-top: 1px solid #d7d8da;
	border-bottom: 1px solid #d7d8da;
	background-color: #FFFFFF;
	margin-top: 4px;
	height: 40px;
}

#item-name{
	font-size: 18px;
}
     	
.paid{
	font-family: Arial;
	font-size: 12pt;
	color: rgb(4, 0, 255);
	font-weight: normal;
}

.delivered{
	font-family: Arial;
	font-size: 12pt;
	color: rgb(57, 191, 0);
	font-weight: normal;
}

.void{
	font-family: Arial;
	font-size: 12pt;
	color: rgb(255, 19, 0);
	font-weight: normal;
}

.draft{
	font-family: Arial;
	font-size: 12pt;
	color: rgb(255, 164, 46);
	font-weight: normal;
}

.outstanding{
	font-family: Arial;
	font-size: 12pt;
	color: #ffa42e;
	font-weight: normal;
}

.received{
	font-family: Arial;
	font-size: 12pt;
	color: rgb(57, 191, 0);
	font-weight: normal;
}

.completed{
	font-family: Arial;
	font-size: 12pt;
	color: #08a600;
	font-weight: normal;
}

.in-progress{
	font-family: Arial;
	font-size: 12pt;
	color: #FF4981;
	font-weight: normal;
}

.field{
	font-family: Arial;
	font-size: 12pt;
	color: #5B5B5B;
	font-weight: normal;
}

.border{
	border-right: 1px solid #bdbec2;
	border-left: 1px solid #bdbec2;
}

.cash-popup-label{
	font-size: 16px;
}

.date-clock-container{
	margin-top: 10px;
	margin-bottom:10px;
}

.header-1{
	font-size: 18pt;
	color: #1d1d1d;
	font-family: Roboto;
}

.header-2{
	font-size: 14pt;
	font-family: Roboto;
	color: #1d1d1d;
}

.header-3{
	font-size: 12pt;
	color: #1d1d1d;
	font-family: Roboto;
}

.header-4{
	font-size: 8pt;
	color: #1d1d1d;
	font-family: Roboto;
}
.title-pdf{
	font-size: 18pt;
	color: #1d1d1d;
	font-family: Roboto;
}
/* .header2{
	font-size: 16px;
} */

.action-buttons-container{
	padding: 8px;
	
}

#shopping-cart-panel{
	background-color: #FFFFFF;
}

.icon-rotate, .icon-rotate i {
	/* transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1); */
	
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

span.dynatree-folder a{
	font-weight: normal !important;
}

.left-header{
	background-color: #007aff;
	border: 2px solid #bdbec2;
}

.action-button-container button{
	width: 100%;
	/*margin: 0px 2px; */
}

#empty-cart-button-container button{
	width: 100%;
	/* margin: 0px 2px; */ /* commented by yovenita  */
	/* margin: 1px; */
  }
  
#main-button-container{
	padding: 4px;
}


/*tabs*/
.nav-tabs > li > a {
  background-color: #FFFFFF; 
  border-color: #BBBBBE;
  color:#007aff;
  height: 35px;
  width: 80px;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  margin-right: 10px;
}

.nav-tabs > li.active > a > span{
    color: #FFFFFF;
    background-color: #007aff;
} 

.nav-tabs > li > a{
	margin-left: -2px;
}

.nav > li > a{
	padding: 7px 0px !important;
}

.nav-tabs{
	border: none !important;
}

.navbar-collapse{
	border: none !important;
	padding-left: 0px !important;
}

.navbar-default{
	background-color: #FFFFFF !important;
	border: none !important;
}

#navbar-right-container div{
	padding: 0px 10px;
}

.item-quantity, .item-total{
	font-size: 18px;
	color: #007aff;
	cursor: pointer;
}

.item-quantity-view{
	font-size: 18px;
	color: inherit;
	cursor: pointer;
}

#receipt-header{
	clear:both;
	font-family: Roboto;
	font-size: 10pt;
	color: #A8A8A8;
	/* padding: 0 5px; */
}

#receipt-header .hover-item:hover{
	color:#007AFF;
}

#bp-name{
	font-family: Arial;
	font-size: 16px;
	color: #1d1d1d;
	font-weight:bold;
}
.item-name{
	font-family: Arial;
	font-size: 11pt;
	color: #1d1d1d;
	cursor: pointer;
	text-decoration: underline;
}

.item-description, .amount-details{
	font-family: Arial;
	font-size: 10pt;
	color: #8e8e93;
}


.grand-total{
	color: #007aff;
	cursor: pointer;
}

#shopping-cart-column-header {
	text-align: center;
	/* padding: 12px 0px; */
}

#bp-name, .bp-name {
	/* color: #007aff;
	cursor: pointer; */
}

.search-product-header{
	background-color: #d7d8da;
	color: #5b5b5b;
	font-size: 11.5pt;
	border-radius: 8px 8px 8px 8px;
	padding: 5px;
}

#searchResultContainer{
	padding: 50px;
}

.even-row{
	background-color: #e5e5e7;
}

.odd-row{
	background-color: #FFFFFF;
}

.edit-back-date{
	cursor: pointer;
}

#quickMenuItems button{
	width: 150px;
	height: 80px;
	margin: 2px;
}

.menu-button-label{
	font-size: 12px;
	font-family: Arial;
	padding-top: 5px;
	color: #1D1D1D;
	white-space: normal;
	width: 100%;
	text-align: center;
  }
  
  #bp-list, #sales-rep-list{
  	cursor: pointer;
  }
  
.clock-in-row div{
  	/* padding: 4px; */
  	margin: 8px 0px;
  	background-color: #c3e7c1;
  }
  
 .not-clock-in-row div{
 	/* padding: 4px; */
 	margin: 8px 0px;
 	background-color: #e8e8e8;
 }
 
 .search-product-header div{
 	padding-bottom: 2px;
 }
  
 .view-left-details-header{
 	background-color:#e5e5e7;
 	border-radius:6px 6px 0px 0px;
 }
 
 .view-left-details-footer{
 	background-color:#e5e5e7;
 	border-radius:0px 0px 6px 6px;
 }
 
 .view-left-amount-details{
 	background-color:#f8f8f9;
 }
 
 .view-left-other-details{
 	background-color:#e5e5e7;
 }
  
 .amount-due{
 	color: #FF1300;
 	font-size: 20pt
 }
 
 .change-due{
 	color: #1d1d1d;
 	font-size: 20pt;
 }
 
 .amount{
 	color: #bdbec2;
 	font-size: 13pt;
 }
 
 #amount-container div.row{
 	padding: 5px 0px;
 	font-family: Arial;
 }
 
 .sold-by{
 	color: #bdbec2;
 	font-size: 17pt;
 	font-family: Arial;
 }
 
 .split-sales-rep{
 	color: #1d1d1d;
 	font-size: 11pt;
 	font-family: Arial;
 }
 
 div.modal-footer button.btn-success{
 	width: 50px;
 }
 
 div.modal-footer button.btn-danger{
 	width: 50px;
 }
 
 
 div.shopping-cart-list-container div.col-md-1{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-2{
	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-3{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-6{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-7{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-8{
	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div.shopping-cart-list-container div.col-md-9{
	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 
 div#shopping-cart-total-container div.col-md-10{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div#shopping-cart-total-container div.col-md-9{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div#shopping-cart-total-container div.col-md-7{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div#shopping-cart-total-container div.col-md-2{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 div#shopping-cart-total-container div.col-md-1{
 	 padding-left: 16px;
	 padding-right: 16px;
 }
 
 div#shopping-cart-total-container div.col-md-8{
 	 padding-left: 16px;
	 padding-right: 16px;
 }

 .search-input-format{
 	padding-left:4px !important;
 	color:#8E8E93 !important;
 }
 
/*  .form-label{
 	font-size:12pt;
 	font-family:Arial;
 	color:#1d1d1d;
 	width: 100%;
 	font-weight:normal !important;
 	padding-top: 8px;
 } */
 
 .form-label{
 	font-size:10pt;
 	font-family:Arial;
 	color:#5b5b5b;
 	width: 100%;
 	font-weight:normal !important;
 	padding-top: 8px;
 }
 
  .form-text{
 	font-size:12pt !important;
 	font-family:Arial !important;
 	color:#1d1d1d !important;
 }
 
 .textfield-disabled-format-form{
 	/* border:1px solid #CCCCCC; */
 	padding-top:3px;
 	padding-left:4px;
 	cursor:default;
 	background-color:#ececec;
 }
 
 .form-mandatory-field{
 	border-color:#007AFF !important;
 }
 
 .form-icon{
 	width:20px;
 	display:inline;
 	top:0px;
 	position:absolute;
 	padding-left:5px;
 	color: #8e8e93 !important;
 }
 
 .input-calendar {
	width: 94%;
	border-radius: 6px !important;
	height: 30px;
}
 form{
 	margin:0px;
 }
 
 .id_font_value{
 	font-family: Arial;
 	color: #1d1d1d;
 	font-size: 16px;
 }
 
 #info span{
 	font-family: Arial;
 	color: #1d1d1d;
 	font-size: 16px;
 }
 
 #C_Commission_ID{
 	.input-sm;
 	width:100%;
 	height:30px;
 }
 
 #usaepay\.popup\.panel iframe{
 	height: 450px !important;
 }
 
 #cash-keypad-panel .pin-pad-panel button{
	width: 95%;
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

 #keypad-panel .pin-pad-panel button{
	width: 95%;
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

 #itemLinePanel .pin-pad-panel button{
	width: 95%;
	height:56px;
	border:none;
	margin: 2px;
	border-radius:6px;
	border:1px solid #8e8e93;
	font-size:15pt;
	background-color:#d2d2d2;
}

#delivery\.popup\.confirmation\.panel .form-label {
	float: left;
	text-align: center;
}

#delivery\.popup\.confirmation\.panel .form-label div{
	float: left;
	width: 50%;
}

#delivery\.popup\.confirmation\.panel .form-label div span{
	padding-left: 10px;
}

.order-details-right {
	height: 345px;
	overflow: auto;
	width: 100%;
	float: left;
	overflow-x: hidden;
}

#footer-contents .employee-view-order {
	margin: auto;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 600px;
	left: 50px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	width: 90px;
}

#signature-container {
	text-align: center;
}

#signature-container img {
	position: relative;
	top: 20px;
}

#signature.container div.label {
	text-align: center;
	border-top: #CCC solid 1px;
	padding-top: 4px;
	font-size: 10px;
	color: #999;
	margin-left: 16px;
	margin-right: 16px;
}

#signature-popup-btn-save, #signature-popup-btn-clear {
	border: 1px solid #8E8E93;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	box-shadow: none !important;
	color: #363535;
	background-color: #ffd0cc;
	border-color: #bdbec2;
	border-radius: 6px;
	width: 15%;
}

#signature-popup-btn-save {
	background: -moz-linear-gradient(#08a600, #0b9604) !important;
	background: -o-linear-gradient(#08a600, #0b9604) !important;
	background: -webkit-linear-gradient(#08a600, #0b9604) !important;
	background: linear-gradient(#08a600, #0b9604) !important;
}

.signature-popup .sign-above {
	text-align: center;
	border-top: #CCC solid 1px;
	padding-top: 4px;
}

.signature-popup canvas {
	width: 600px;
	height: 300px;
}

.ui-dialog-titlebar-close {
	display: none;
}

#product-details-container label{
	width:110px !important;
}

.forum-gray-box{
	margin-left: -4px!important;
}

.paymentcash_tenderinput input[type='text'] {
	padding: 0px;
}

/*View Order css*/
.ui-dialog .ui-dialog-titlebar-close {
	background: url("images/ui-icons_222222_256x240.png") repeat scroll -96px -128px rgba(0, 0, 0, 0) !important;
}

.ui-dialog-titlebar-close{
	display: block !important;
}

#signature-popup-btn-skip, #signature-popup-btn-clear{
             /*  position: relative;
              left: -320px; */
	  border:1px solid #8E8E93;
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  cursor: pointer;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	  background-image: none;
	                padding: 1px 5px;
	  font-size: 12px;
	  line-height: 1.5;
	  box-shadow:none !important;
	       color: #363535;
	  background-color: #ffd0cc;
	  border-color: #bdbec2;
	  border-radius:6px;
	  width: 15%;          
          }
          .signature-popup .sign-above {
              text-align: center;
              border-top: #CCC solid 1px;
              padding-top: 4px;
          }
         	
          .signature-popup canvas {
              width: 600px;
              height: 300px;
          }
         
         #signature-popup-btn-save{
         	 border:1px solid #8E8E93;
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  cursor: pointer;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	  background-image: none;
	                padding: 1px 5px;
	  font-size: 12px;
	  line-height: 1.5;
	  box-shadow:none !important;
	       color: #363535;
	  background-color: #ffd0cc;
	  border-color: #bdbec2;
	  border-radius:6px;
	  width: 15%; 
	  background: -moz-linear-gradient(#08a600, #0b9604);
	  background: -o-linear-gradient(#08a600, #0b9604);
	  background: -webkit-linear-gradient(#08a600, #0b9604);
      background: linear-gradient(#08a600, #0b9604);
      content: "\E004";
         }
 /*End View Order css*/
 
 /*Order Screen*/
  .jcarousel-skin-tango .jcarousel-container-horizontal{
      width:600px;
      left:50px;
  }   
 
  .jcarousel-skin-tango .jcarousel-item-horizontal{
      /* width:90px; */
  }
            
  /*-------------------------------------------------------------------*/
 #bp-create-button{
 	background:linear-gradient(#3395FF, #0063CC) repeat scroll 0 0 transparent;
 	background:-webkit-linear-gradient(#3395FF, #0063CC) repeat scroll 0 0 transparent;
 	color:#ffffff;
 	border-radius:6px !important;
 	margin-left:6px;
 	height:40px;
 	width:50px;
 	border-radius:4px;
 }
 
 #bp-info-button{
 	background:linear-gradient(#3395FF, #0063CC) repeat scroll 0 0 transparent;
 	background:-webkit-linear-gradient(#3395FF, #0063CC) repeat scroll 0 0 transparent;
 	color:#ffffff;
 	border-radius:6px !important;
 	margin-left:6px;
 	height:40px;
 	width:50px;
 	border-radius:4px;
 }
 
  #select-modifier-panel{
      /*width : 820px;*/
  }
 
  #select-modifier-panel-modifier-groups-container, #select-modifier-panel-selection-container, #select-modifier-panel-button-container{
      /*float : left;*/
  }
 
  #select-modifier-panel-modifier-groups-container{
      /*width: 520px;
      height: 200px;*/
      overflow: auto;
     
  }
 
  #select-modifier-panel-selection-container{
      /*height: 190px;
      width:520px;*/
      overflow:auto;
      padding:4px 4px 4px 20px;
  }
 
  #select-modifier-panel .header {
      font-size: 18px;
  }   
             
  .modifier-group {
   /*    border: solid 1px #000; */
      margin-bottom: 20px;
      padding: 4px 4px 4px 20px;
  }
 
  .modifier-group-header{
     /*  text-align: center; */
      font-size: 15px;
      /* font-weight: bold; */
      color:;
      font-family:Arial;
  }
 
  .modifier-group-buttons{
      background-color : red;
  }
 
  .modifier-group button{
      height: 60px;
      margin: 6px;
      padding: 4px;
      width: 150px;
      text-transform: capitalize;
      color:#5B5B5B;
  }
 
 
  #select-modifier-panel-product{
     /*  text-transform: uppercase;
      text-decoration: underline;
      font-weight: bold;
      text-align: center;
      margin-bottom:15px;
      font-size: 20px; */
      text-transform: capitalize;
      font-weight: 500;
      font-size: 20px;
  }
 
  #select-modifier-panel-modifiers{
     /*  padding-left:20px; */
      padding-right:4px;
      font-size: 16px;
      padding-top:5px;
  }
 
  #select-modifier-panel-button-container{
      text-align:center;
  }
 
  #select-modifier-panel-button-container button{
      height: 60px;
      margin: 4px;
      padding: 4px;
      width: 100px;
  }
 
  #order-comment{
      width: 400px;
      height: 150px;
  }
 
  /*------------------------------------------------------------*/
  .signature-popup .sign-above {
      text-align: center;
      border-top: #CCC solid 1px;
      padding-top: 4px;
  }
 	
  .signature-popup canvas {
      width: 600px;
      height: 300px;
  }
 
  .ui-dialog-titlebar-close {
      /*display:none;*/
       }
       
      #signature-popup-btn-save{
      	 border:1px solid #8E8E93;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
background-image: none;
              padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
box-shadow:none !important;
     color: #363535;
background-color: #ffd0cc;
border-color: #bdbec2;
border-radius:6px;
width: 15%; 
background: -moz-linear-gradient(#08a600, #0b9604);
background: -o-linear-gradient(#08a600, #0b9604);
background: -webkit-linear-gradient(#08a600, #0b9604);
   background: linear-gradient(#08a600, #0b9604);
   content: "\E004";
      }
      
       #signature-popup-btn-skip, #signature-popup-btn-clear{
          /*  position: relative;
      left: -320px; */
border:1px solid #8E8E93;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
background-image: none;
              padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
box-shadow:none !important;
     color: #363535;
background-color: #ffd0cc;
border-color: #bdbec2;
border-radius:6px;
width: 15%;          
       }
      
       /*------------------------------------------------------------*/
  #discountContainer input[type="text"] {
      background-color: #FFF;
      font-size: 14px;
  }
 
  /* .discount_percentage_box {
      background: none;   
  } */
 
  /*------------------------ngate-----------------------------*/
  #norse-popup-panel #norse-popup-title {
      text-align: center;
      background-color: rgba(204, 221, 113, 0.66);
      padding: 10px;
      font-weight: bold;
      font-size: 24px;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
  }
 
  #norse-popup-panel .radio-container, #norse-popup-panel .input-container{
      margin-bottom: 20px;
      line-height: 30px;
      margin-top: 10px;
      font-size: 18px;               
  }
 
  #norse-popup-panel .input-container .row label, #norse-popup-panel .input-container .row input[type="text"] {
      display: block;
      float: left;
  }
 
  #norse-popup-panel .input-container .row {
      height: 50px;
  }
 
  #norse-popup-panel .input-container .row label{
      width: 135px;
      font-size: 14px;
  }
 
  #norse-popup-panel .input-container .row input[type="text"], #norse-popup-panel .input-container .row input[type="password"]{
      width: 220px;
      font-size: 18px;
      padding: 10px;
  }
 
  #norse-popup-panel .input-container .row select{
      font-size: 18px;
      padding: 8px;
  }
 
  #norse-popup-panel .button-container {
      clear:both;
  }
 
  #norse-popup-panel .button-container input[type="button"]{
      text-decoration: none;
      color: #333333;
      border: 1px outset #CCCCCC;
      padding: 7px 15px;
      font-size: 18px;
      margin-right:6px;
     
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;

      background: #fcfcfc; /* Old browsers */
      background: -moz-linear-gradient(top, #fcfcfc 0%, #e7e7e7 99%, #bf2525 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(99%,#e7e7e7), color-stop(100%,#bf2525)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fcfcfc 0%,#e7e7e7 99%,#bf2525 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fcfcfc 0%,#e7e7e7 99%,#bf2525 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fcfcfc 0%,#e7e7e7 99%,#bf2525 100%); /* IE10+ */
      background: linear-gradient(to bottom, #fcfcfc 0%,#e7e7e7 99%,#bf2525 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#bf2525',GradientType=0 ); /* IE6-9 */
         }
        
         #norse-popup-process-button {
             float:right;
         }
        
         #norse-popup-panel .form-container{
             margin: 10px 20px;
         }
        
         #norse-popup-panel .input-container .row input[type="text"]{
         }
                     
         #skwallet-customers-container {
    height: 170px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 700px;
}
          
         #skwallet-customers-container ul {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#skwallet-customers-container li {
    border: 0px;
    float: left;
    height: 150px;
    list-style: none outside none;
    text-align: center;
    width: 150px;
    margin-right: 5px;
    margin-left: 5px;
}
#skwallet-customers-container li div {
    float: left;
    position: relative;
    top: -25px;
    width: 150px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    text-indent: 9999px;
    top: 3px;
}

#skwallet-confirmation-dialog {
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
	width: 340px;
}

#skwallet-confirmation-dialog .float-left{
	float: left;
	text-align: left;
}

#skwallet-confirmation-dialog .float-right{
	float: right;
	text-align: right;
}

#skwallet-confirmation-dialog .clear-both{
	clear:both;
}

#skwallet-confirmation-dialog-customer-name {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
#skwallet-confirmation-dialog-change-customer-link {
    text-decoration: none;
    color: orangered;
    display: block;
}
#skwallet-confirmation-dialog-payment-details {
    margin-top: 40px;
    margin-bottom: 20px;
}
#skwallet-confirmation-dialog-confirm-btn {
    margin-top: 20px;
    color: #FFF;
    background-color: orangered;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 6px;
             -moz-border-radius: 6px;
             -webkit-border-radius: 6px;
	width: 100%;
}

#skwallet-confirmation-dialog-payment-details .subtotal, #skwallet-confirmation-dialog-payment-details .total{
	font-size: 14px;
	height: 20px;
}

#skwallet-confirmation-dialog-payment-details .subtotal{
}

#skwallet-confirmation-dialog-payment-details .total{				
	margin-top: 20px;
	font-weight: bold;
}

#skwallet-search-container {
    margin: 12px;
}

#skwallet-searchbox {
    width: 100%;
    padding: 6px;
}

#skwallet-refresh-btn {
    float: right;
}

#skwallet-logo {
    float: left;
    width: 300px;
}

#skwallet-logo h2{
	margin-bottom: 4px;
}

#skwallet-logo h3{
	margin-top: 4px;
} 
/*End of Order Screen*/ 

/*New Product Popup */
#product-sku-container textarea {
	width: 62%;
}      



table.table-scroll {

}

table.table-scroll tr {
width: 100%;
display: inline-table;
table-layout: fixed;  
}

table.table-scroll tbody{
  overflow-y: scroll;
  height: 350px;
  width: 95%;
  position: absolute;
}

#product-info-popup-panel-result{
	height: 380px;
}

