.select-option{
	/*border: 0 none;*/
	/*background: transparent;*/
	font-size: 14px;
	/*padding: 2px 10px;*/
	width: 135px;
	height: 27px;
}

.main-selection{
	/*overflow: hidden;*/
    /*width: 167px;*/
    height:26px;
   /* -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: url(../images/signup3pics/Dropdown.png) no-repeat scroll 117px 7px;*/
   /* border: 1px solid #b0b0b0;*/
   /* -moz-box-shadow:0px 0px 1px -1px #b0b0b0;*/
    float:left;	
}
