@CHARSET "UTF-8";

.tab-header {
	background-color:#dfdfdf !important;
	font-size:10px !important;
	font-weight:bold !important;
	text-align:left;
}

.edittable {
	border:none;
	text-align:center;
	width: 100%;
}
.edittable2 {
	float:left;
	margin-top:10px;
}
.edittable td {
	background-color:#f7f7f7;
	font-family:arial;
	font-size:12pt;
	font-weight:normal;
	padding-top:13px;
	padding-bottom:13px;
	text-align:left;
	color:#1d1d1d;
}

.edittable .pricelistname-so, .edittable .pricelistname-po{
	text-align: left;
}
.edittable .pricelistname-so{
/* 	padding-left:32px; */
}

.edittable .pricelistname-po{
	/* padding-left:22px; */
}

.pseudo-table-header{
	clear:both;
	height:37px;
}

.pseudo-table-th{
	float:left;
	padding:8px;
	border:1px solid #FFFFFF;
	background-color: #DFDFDF;
	font-weight:bold;
	font-size:10px;
}

#warehouse-name{
	text-align:center;
}	

#warehouse-qty{
	width:199px;
}

.search-textfield-outer{
	height:86px;
	width: 100%;
	background-color:;
	/* margin-left:4px;
	margin-top:4px; */
	/* border-top-left-radius:4px;
	border-top-right-radius:4px; */
}
.search-title{
	font-size:12px;
	text-align:center;
	width:100%;
	padding:4px 0px;
	font-family:Arial;
}
.search-textfield-inner{
	background-color:#FFFFFF;
	border:2px solid #CCCCCC;
	float:left;
	height:50px;
	margin-left:10px;
}

.search-textfield-inner .search-textfield {
  background-color: #FFFFFF;
  border: medium none;
  color: #333333;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 48px;
  text-align: left;
  text-decoration: none;
  width: 184px;
  line-height: 24px;
  padding:0px;
}

.search-textfield-inner .search-button{
	height:42px;
	padding-left:4px;
	width:50px;
}

#search-result #searchResultTable td{
	padding-left:10px;
}

.scroll-container{
	margin-left:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.window-tab{
	display:none;
}
