@CHARSET "UTF-8";

.tabs div {
	cursor: pointer;
	background-color: #e8e8e8;
	color: #1d1d1d;
	padding: 8px 14px 8px 14px;
	text-decoration: none;
	font-size: 9px;
	font-family:arial;
	font-weight: bold;
	border: 1px solid #8e8e93;
	border-bottom-width:0px;
	margin-right:1px;
	float:left;
	height:29px;
}

.tabs div.active {
	background-color: #008000;
	color: #ffffff;
	border: 1px solid #C3C3C3;
	border-bottom: 0px;
	background: #008000;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#FFFFFF'); */
}

.tabs{
	height:28px;
}

#tab-content{
	width:100%;
	/* height: 420px; */
	overflow-y: auto;
	/* height:464px;
	padding-top:8px;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC; */
}

.content{
/*	overflow:auto;
 	height:348px; */
	width:100%;
}