html {
	overflow: hidden;
}

#page1 {
	display: block;
}

#page2,#page3,#page4,#page5 {
	display: none;
}

input[type="checkbox"] {
	border: none;
}

.page-info-row input[type="text"] {
	width: 175px;
}

legend {
	font-size: 12px;
	font-weight: bolder;
}

fieldset {
	margin-bottom: 5px;
}

.page-information-inner {
	overflow-y: visible;
	width: 100%;
}

fieldset .page-info-row label {
	margin-left: 0px;
}

fieldset {
	border-color: #FEFEFE;
	margin: 0px 4px 5px 4px;
}

#right-corner-details{
	display: none;
}

#outer-container{
  	width: 100%;   	
 }
   	
#middle-container{
   	float: left;
   	width: 100%;;   	
}   	
#container{
    background-color: #fff;
   	width: 100%;;
   	margin-top: 4px;   	
}
#inner-container{
   	overflow: auto;
   	width: 100%;
}
.header-report {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    float: left;
}
	
.header-text {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    float: left;
}
	
.report-button-top-right {
    float: right;
    margin-right: 5px;
}
	
.header-report .btn-primary {
	  background-color: #08A600 !important;
	  border: 1px solid #08A600 !important;
	  box-shadow: 0 3px 5px 2px #FFFFFF !important;
	  color: #FFFFFF;
}
	
.section-overview {
  	border-bottom: 1px solid #E6E6E6;
   	position: relative;
   	width: 100%;
   	float: left;
}

.section-inner-left {
    width: 25%;
    padding-left: 50px;
    padding-right: 0px;
    float: left;
}

.section-inner-right {
    width: 75%;
    margin-top: 16px;
    float: right;
}

.section-inner-left h1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
}

.section {
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    width: 100%;
    float: left;
}

.section-inner-left p {
	text-align: justify;
}

.left-input {
	padding: 0 20px;
	float: left;
	width: 52%;
}

.section-overview .pull-left {
	margin-left: -38px;
}

label {
 color: #000 !important;
}

.right-input {
    width: 45%;
    float: left;
}

.right-input-button {
    width: 20%;
    float: left;
}