sup {
	color: red;
}

@font-face {
	font-family: Arial;
	src: url('../css/arial.ttf');
}

@font-face {
	font-family: Verdana;
	src: url('../css/verdana.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('../css/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-light;
	src: url('../css/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-bold;
	src: url('../css/Roboto-Bold.ttf');
}


.login-logo img {
	max-height:45px !important;
	max-width:145px !important;
}

.domain-textfield-container input[type="text"], .username-textfield-container input[type="text"], .password-textfield-container input[type="password"] {
	border: 1px solid #1d1d1d;
	border-radius: 3px !important;
	height: 40px;
}

.glyphicons.white:before {
	color: white !important;
}

.padding-left-15 {
	padding-left: 15px;
}

.seperator-grey {
	border-top: 1px solid #d0d0d0;
	width: 100%;
}

.padding-top-30-16 {
	padding: 30px 16px 16px 16px;
}

.center {
	text-align: center;
}

.seperator-36 {
	padding: 18px 0;
}

.seperator-16 {
	padding: 8px 0;
}

#Content-Details .row input[type=text],#Content-Details .row select, #Content-Details .row input[type=password]{
	display: block;
	width: 100%;
	height:30px;
	font-family:arial;
	font-size:12pt;
	color:#1d1d1d;
}

#Content-Details .row label{
	padding-top: 8px;
}

.calendar-width {
	display: inline-block !important;
	width: 94% !important;
}

div.row label {
	color: #5B5B5B;
	font-family: Arial;
	font-size: 10pt;
	padding-top: 8px;
	font-weight:normal !important;
}

.flexible-component {
	width: auto;
	display: inline-block !important;
}

#content-container{
	/* width: 1024px; */
	width: 100%;
	height: 768px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#content-header-container{
	height:92px;
	/* width:1024px; */
	width: 100%;
	position:relative;
	z-index:100000;
}

#content-header {
    background-color: #fff;
    /*background-image: url("../images/clockinout/header_bg.jpg");*/
    background-position: left bottom;
    background-repeat: repeat;
    float: left;
    height: 88px;
    /* width: 1016px; */
    width: 100%;
    /* border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px; */
}

#content{
	/* min-height:700px; */
	/* min-height:600px; */
	width:100%;
	background-color:#FFFFFF;
}

#left-content-container{
	/* height:664px; */
	/* height:600px; */
	width: 100%;
	/* width:270px; */
	float:left;
	/* margin-left:4px;
	margin-top:4px; */
}

#left-content{
	/* width: 266px; */
	/* height: 664px; */
	/* height: 600px; */
	background-color: #FFFFFF;
	float: left;
	width: 100%;
}

#right-content-container{
	/* height:680px;  */
	/* height:600px; */ /* commented by yovenita */
	/* height:600px; */
	/* height:664px; */
	/* width:738px; */
	float:left;
	/* margin-top:4px; */
	width: 100%;
}

#right-content{
	/* width: 738px; */
	width: 100%;
	/* height: 664px; */
	 /* height: 555px; */
	 height: 100%;
	background-color: #FFFFFF;
	float: left;
}

#content, #left-content, #right-content, #iframe-container{
	/* border-radius:6px;
	-moz-border-radius : 6px; */
}

#right-content-buttons-container{
	height:43px;
	background-color: #FFFFFF;
	/* margin-left:4px;
	margin-top:4px; */
	width:100%;
	/* padding:2px 0px; */
}

#right-content-summary-container{
	width: 25%;
	height: 633px;
	background-color: #FFFFFF;
	float: left;
}

#right-content-summary{
	width: 100%;
	height:533px;
	/* margin-left:4px;
	margin-top:4px; */
	border:1px solid #CCCCCC;
	position:relative;
}

#right-content-tabs-container{
	width: 100%;
/* 	height: 622px; */
	float: left;
}

/* #summary-image{
	text-align:center;
	height:110px;
	padding-top:4px;
	padding-bottom:0px;
} */

.object-image:before{
	font: 120px/1em 'Glyphicons Regular' !important;
	position: relative !important;
	padding-left: 0px !important;
	padding-top: 10px !important;
}

#summary-container {
  background-color: #FFFFFF;
  width: 100%;
}

#summary-image-container {
  height: 136px;
}

.summary-block{
	/* overflow:hidden; */
	font-family: Arial;
	font-size: 12pt;
	font-color: #1d1d1d;
	/* padding-top: 12px; */
}

.summary-value{
	font-family: Arial;
	font-size: 11pt;
	font-color: #1d1d1d;
}

/* #summary-container .row > div {
	float:left;
	width:100px;
	padding:1px;
	font-size:10pt;
	font-family:Arial;
	position: relative;
  	min-height: 1px;
  	float: left;
  	width: 25%;
} */

.summary-sub-title{
	clear:left;
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
	/* padding-top:20px;
	padding-bottom:4px; */
}

.right-content-title-container{
	background-color: #FFFFFF;
	width: 100%;
	border: 1px solid #CCCCCC;
	font-size:15px;
	padding:6px 0px 6px 6px;
	font-family: Arial;
}

#tabs-container{
	width: 100%;
	height: 28px;
	margin-top:8px;
}

/* #tabs-container-border{
	border-bottom:1px solid #CCCCCC;
} */

.button{
	cursor : pointer;
	background:#EEE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#AAAAAA');
	background:-moz-linear-gradient(top,  #EEEEEE,  #AAAAAA);
	background:-webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#AAAAAA));
	border-radius:6px;
	margin-right:4px;
	border:1px solid #CBCBCB;
}

.button-icon{
	float: left;
	height:20px;
	width:20px;
	padding: 4px;
}

#new-icon{
	background-image: url(../images/template-create/new-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#delete-icon{
	background-image: url(../images/template-create/delete-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#activate-icon{
	background-image: url(../images/template-create/activate-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#deactivate-icon{
	background-image: url(../images/template-create/deactivate-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#help-icon{
	background-image: url(../images/template-create/help-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#cancel-icon{
	background-image: url(../images/template-create/cancel-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#save-icon{
	background-image: url(../images/template-create/save-icon.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

/* .button-label{
	float: left;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding:7px 8px 7px 0;
}
 */
#left-buttons-container{
	float: left;
	width: 50%;
}

#right-buttons-container{
	float:right;
	width: 50%;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

#form-footer-container{
	/* height: 86px;
	padding: 30px 0px 0px 137px;
	height:30px;
	padding:24px 0px; */
	/* padding:8px 14px 8px 0px; */
}

/* #tab-cancel{
	margin-left:134px;
	margin-right:0px;
} */

/* #tab-save{
	margin-left:23px;
	margin-right:0px;
} */

/*#cancel{
	margin-left:134px;
	margin-right:0px;
}

#save{
	margin-left:23px;
	margin-right:0px;
}
*/

.action-btn a:link {
	color:#333333;
}    

.action-btn a:visited {
	color:#333333;
} 

.action-btn a:hover {
	color:#333333;
} 

.action-btn a:active {
	color:#333333;
}

#iframe-container{
	/* width: 738px; */
	width: 100%;
	/* height: 675px; */
	/*  height: 668px; */
	background-color: #FFFFFF;
	float: left;
	z-index: 99998;
	position: relative;
}

/* .field-help{
	background-image: url("../images/template-create/help-info.png");
	height: 17px;
	width: 17px;
	margin: 5px 5px 0px 0px;
	float: left;
	cursor: help;	
} */

.add-picture{
	color: #588ac5;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
	cursor: pointer;
	/* margin-bottom: 5px;
	margin-left: 15px; */
}

#summary-content-container{
	margin-top: 40px;
	padding-left: 24px;
}

#tree{
	/* height: 600px; */
	/* width: 262px; */
	overflow: auto;
}

#tree-title{
	color: #333333;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 11px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-item a.dynatree-title span.dynatree-title{
	font-weight: bold;
	color: #5d8fca;
	font-family: Arial;
}

.dynatree-submenu span.dynatree-title{
	color: #333333;
	font-weight: normal;
	font-family: Arial;
}

/* #tab-save{
	left: 440px;
    position: absolute;
} */

#role-menu-tree{
	/* margin: 20px; */
	padding-top: 8px;
}

#steps-container{
	height: inherit;
	width: inherit;
	background-color: #CBCBCB;
	}
	
	.steps{
	padding: 25px 0px 40px 40px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #E7E7E7;
	font-family: Arial;
	font-weight: bold;
	color: #1d1d1d;
	font-size: 14px;
	height: 20px;
	cursor: pointer;
}

.checked{
/* 	background-image: url("../images/template-create/checkbox-tick.png");
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	display: none;
	margin-top: -10px;
	margin-right: 10px; */
}

.unchecked{
	/* background-image: url("../images/template-create/checkbox-empty.png");
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	display: none;
	margin-top: -10px;
	margin-right: 10px; */
}

.steps-label{
}

.step-checked{
	background-color: #7fbcff;
	}

.content-header-top {
	/* background-color: #5D8FCA; */
	background-color: #D7D8DA;
	height: 37px;
	margin-bottom: 2px;	
	width: 100%;
}

.content-header-top-logo{
	/* background-color: #5D8FCA; */
	background-color: #D7D8DA;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 0px;
	height: 32px;
}

.content-header-top-menu{
	float: left;
	/* background-color: #5D8FCA; */
	background-color: #D7D8DA;
	height:37px;
}

.content-header-top-logout{
	float: left; 
	/* background-color: #5D8FCA; */
	background-color: #D7D8DA;
	height: 42px;
	margin-top: -5px;
	width: 50px;
}

.content-header-bottom{
	float: left; 
	/* background-color: #AEC7E4;  */
	background-color: #bdbec2;
	/* border-bottom-left-radius:6px;
	border-bottom-right-radius:6px; */
	height: 49px;
	width: 100%;
}

.content-header-home{
	float: left;
	color: #fff;
	background-color: #5D8FCA;
	padding: 10px 7px;
	font-weight: bold;
}

.content-header-home a {
	text-decoration: none;
	color: #fff;
}

.header-menu-icon{
	float: right;
	width: 54px;
}

.header-menu-icon a {
	text-decoration: none;
}

.header-menu-icon-chat{
	float: right;
	width: 60px;
	margin-top: 4px;
}

.sub{
	/* border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	box-shadow: 0px 5px 5px 0px #888;
	-moz-box-shadow: 0px 5px 5px 0px #888; */
}

.terminal-select-menu{
	/* width:0px; 
	height:0px; 
	border-left:8px solid #AEC7E4;
	border-right:8px solid #AEC7E4;
	border-top:8px solid #2f2f2f;
	border-bottom: none;
	line-height:5px; */
	background-image: url("../images/menu/arrow-down.png");
	background-repeat: no-repeat;
	width: 12px;
	height: 6px;
	background-color: #AEC7E4;
	border-style: none;
	padding-bottom: 1px;
	-webkit-appearance:none;
}

.terminal-select-menu option {
	background-color: #fff;
}

#getting-started-container{
	background-color: #ACD562;
	width: 82px;
	height: 50px;
	font-family: Arial;
	font-weight: bold;
	color: #333333;
	font-size: 12px;
	cursor: pointer;
	/* border-bottom-left-radius:6px; */
}

#getting-started{
	padding : 10px;
}

#tree-mask{
	/* height:664px; */
	width:270px;
	float:left;
	margin-left:4px;
	margin-top:4px;
	position: absolute;
	opacity: 0.6;
	background-color: #000000;
	display: none;
}

/** report **/

#sub-content{
	/* height:600px; */
	width:100%;
	background-color:#FFFFFF;
	float:left;
}
#viewContainer{
	background-color:#E7E7E7;
	height:35px;
}

.parameter-label, .parameter-value, .sort-label, .sort-by, #report-grid .pagebanner, #report-grid .pagelinks, #Refine{
	font-family:Arial, sans-serif;
	font-size:12px;
}

.parameter-label, .parameter-value, .sort-label, .sort-by{
	float:left;
}
.parameter-label{
	padding-right:4px;
}

.parameter-value{
	padding-right:8px;
	font-weight:bold;
	color:#333333;
}
#refine-tree{
	float:left;
}
#sort-values{
	clear:both;
}
.sort-label{
	padding-right:4px;
}

.sort-by{
	font-weight:bold;
	padding-right:8px;
	color:#333333;
}
#param-sort-container{
	float:left;
}
.RefineTree{
	margin-bottom:0px;
	margin-top:0px;
	position:relative;
	width:400px;
	float:left;
}

.RefineTree #dt{
	clear:both;
	text-align:left;
	width:354px;
}

#params {
  background-color: white;
  border: 1px dotted gray;
  display: block;
  width: 371px;
  position:absolute;
  z-index: 1000;
}
#Refine{
	color:#5D8FCA;
}
#params ul.dynatree-container{
	margin-left:0px;
}
#sub-content #parametersContainer{
	height:43px;
	width:100%;
}
#sub-content #report-grid{
	height:580px;
	width:100% !important;
}
#report-grid .pagebanner{
	/* width:300px; */
}
#report-grid .pagelinks{
	width:100%;
	text-align:right;
	padding:0px;
	height:17px;
}
#report-grid .pagelinks a{
	padding:0p 2px;
	font-family:Arial;
}

#buy-add-terminal-icon{
	background-image: url(../images/template-create/buy-add-terminal.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#close-account-icon{
	background-image: url(../images/template-create/close-acc.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#downgrade-account-icon{
	background-image: url(../images/template-create/downgrade-acc.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#update-credit-card-icon{
	background-image: url(../images/template-create/update-credit-card.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

.menu-back-icon{
	/* background-image: url('../images/v13/back.png');
	background-repeat: no-repeat; */
	float: left;
	/* width: 24px;
	height: 19px; */
	margin: 12px;
}

#upgrade-account-icon{
	background-image: url(../images/template-create/upgrade-acc.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

/* #breadcrumb{
	float: left;
	font-size: 10pt;
	padding: 11px 16px 0px 0px;
	padding:2px 0px 0px 5px;
	color: #8e8e93;
	font-family:Roboto;
} */

/* .breadcrumb {
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.breadcrumb .glyphicons {
	padding-left: 0px;	
}

.breadcrumb .glyphicons-pro:before {
	position: relative;
	vertical-align: top !important;
}
 */
/* .glyphicons-tweek:before{
    font-size: 18px;
	color: #8e8e93 !important;
	cursor: pointer;
	top: 3px;
}
 */
#breadcrumb1{
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 18px 16px 16px 0px;
}

#reactivate-account-icon{
	background-image: url(../images/template-create/reactivate-acc.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#content-container-body{
	float: left;
	height: 644px;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 99999;
	
}

#taxCategoryId > select{
	/* border:2px solid #CCCCCC;
	padding:6px;
	width:216px; */
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	border-radius: 6px !important;
	width: 100%;
}

#translate-icon{
	background-image: url(../images/template-create/translation.png);
	background-repeat: none;
	height:inherit;
	width:inherit;
}

#load-icon{
	background-image: url(../images/template-create/upload.png);
	background-repeat: none;
	height:20px;
	width:20px;
}

#sample-icon{
	background-image: url(../images/template-create/sample-csv.png);
	background-repeat: none;
	height:20px;
	width:16px;
}

#default-icon{
	background-image: url(../images/template-create/defaults.png);
	background-repeat: none;
	height:18px;
	width:24px;
}

#import-icon{
	background-image: url(../images/template-create/import-icon.png);
	background-repeat: none;
	height:22px;
	width:21px;
}

#browse-icon{
	background-image: url(../images/template-create/browse.png);
	background-repeat: none;
	float:left;
	height:20px;
	width:20px;
}

/* [title] {
	background-color: red;
	width: 10px;
	height: 10px;	
} */

#getting-started{
	cursor: pointer;
}

.searchResultRow td{
	border-bottom: 2px solid rgb(255, 255, 255);
	cursor: pointer;
	background-color:#E8E8E9;
}

/* .button-label{
	font-size: 11px;
	font-family: Arial;
	padding-top: 5px;
	color: #333333;
	width: 70px; 
	white-space: normal;
} */

#right-content-buttons-container .btn{
	padding: 3px 6px !important;
	margin-right: 5px;
}

#search-button{
	width: 50px;
	height: 37px;	
  	color: #363535;
  	
}

#search-textfield{
	padding : 0;
	box-shadow : none;
	color: #333333;
	height: 37px;
	border: solid 1px #CCCCCC;
	width: 100%;
}

.search-product-textfield-outer-container {
	float: left;
	width: 100%;
}

.search-product-textfield-inner-container {
	width: 100%;
	height:51px;
	float:left;
}

/* .form-button-container button{
	border-radius:6px;
	border:1px solid #8E8E93;
	padding:2px;
} */

.form-button-container div{
	padding-left:4px;	
}

.scroll-pane {
	width: 100%;
}

#uploadImage{
	cursor: pointer;
}

#parent-menu{
	color: #007AFF !important;
}

#sub-menu{
	color: #999999 !important;
}
.container-ribbon{
	height: 50px !important;
	border-bottom: 1px solid rgba(0,0,0,0.07) !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.container-ribbon #title-name{
	font-size: 18px;
	color: #999 !important;
}