#skwallet-customers-container {
			    height: 170px;
			    overflow-x: auto;
			    overflow-y: hidden;
			    width: 700px;
			}
             
            #skwallet-customers-container ul {
			    margin: 0;
			    padding-left: 5px;
			    padding-right: 5px;
			}
			
			#skwallet-customers-container li {
			    border: 0px;
			    float: left;
			    height: 150px;
			    list-style: none outside none;
			    text-align: center;
			    width: 150px;
			    margin-right: 5px;
			    margin-left: 5px;
			}
			#skwallet-customers-container li div {
			    float: left;
			    position: relative;
			    top: -25px;
			    width: 150px;
			}
			
			.ui-dialog .ui-dialog-titlebar-close span {
			    display: block;
			    text-indent: 9999px;
			    top: 3px;
			}
			
			#skwallet-confirmation-dialog {
				text-align: center;
				padding-right: 30px;
				padding-left: 30px;
				width: 340px;
			}
			
			#skwallet-confirmation-dialog .float-left{
				float: left;
				text-align: left;
			}
			
			#skwallet-confirmation-dialog .float-right{
				float: right;
				text-align: right;
			}
			
			#skwallet-confirmation-dialog .clear-both{
				clear:both;
			}
			
			#skwallet-confirmation-dialog-customer-name {
			    font-size: 24px;
			    font-weight: bold;
			    padding: 5px;
			}
			#skwallet-confirmation-dialog-change-customer-link {
			    text-decoration: none;
			    color: orangered;
			    display: block;
			}
			#skwallet-confirmation-dialog-payment-details {
			    margin-top: 40px;
			    margin-bottom: 20px;
			}
			#skwallet-confirmation-dialog-confirm-btn {
			    margin-top: 20px;
			    color: #FFF;
			    background-color: orangered;
			    border: none;
			    font-size: 20px;
			    font-weight: bold;
			    padding: 5px 20px;
			    border-radius: 6px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
				width: 100%;
			}
			
			#skwallet-confirmation-dialog-payment-details .subtotal, #skwallet-confirmation-dialog-payment-details .total{
				font-size: 14px;
				height: 20px;
			}
			
			#skwallet-confirmation-dialog-payment-details .subtotal{
			}
			
			#skwallet-confirmation-dialog-payment-details .total{				
				margin-top: 20px;
				font-weight: bold;
			}
			
			#skwallet-search-container {
			    margin: 12px;
			}
			
			#skwallet-searchbox {
			    width: 100%;
			    padding: 6px;
			}
			
			#skwallet-refresh-btn {
			    float: right;
			}
			
			#skwallet-logo {
			    float: left;
			    width: 300px;
			}
			
			#skwallet-logo h2{
				margin-bottom: 4px;
			}
			
			#skwallet-logo h3{
				margin-top: 4px;
			}