p.title{
	color: #711111;
	font-family: "Trebuchet ms", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight:bold;
}

div.windowMsg {
	padding: 10px;
	border: 6px solid #4475B2;
	background-color: white;
	color: #000000;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	position:absolute;
	float:left;
	z-index: 9000;
	min-height: 60px;
	min-width: 120px;
	font-size: 14px;
	font-family: "Trebuchet ms", Verdana, Arial, Helvetica, sans-serif;
	width: 350px;
}

#windowMsg span
{
	position: absolute;
	bottom: 10px;
}

div.windowErrMsg {
	padding: 10px;
	border: 6px solid #cc0000;
	background-color: white;
	color: #000000;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	position:absolute;
	float:left;
	z-index: 9000;
	min-height: 60px;
	min-width: 120px;
	font-size: 14px;
	font-family: "Trebuchet ms", Verdana, Arial, Helvetica, sans-serif;
}


span.windowTitle {
	color:#000000;
	cursor:pointer;
	font-size:140%;
	margin:8px;
	padding:6px 1em;
	position:relative;
	vertical-align:middle;
	text-align: center;
	font-size: 18px;
	font-family: "Trebuchet ms", Verdana, Arial, Helvetica, sans-serif;
}

div.spacer, div.space {
	height: 10px;
}

ul.tabGroup
{
	display:block;
	margin: 0px;
	padding-left:0px;
	list-style: none;
}

ul.tabGroup li
{
	border: solid 1px #CCC;
	cursor: pointer;
	padding: 4px 4px 4px 6px;
}

ul.tabGroup li.on 
{	
	border-left-width: 0px;
	padding-left: 4px 4px 4px 8px;;
	font-weight: bold;
	background-color: #CCC;
}

div.tabPane
{
	height: 400px;
	overflow: auto;
}

input.numeric textbox
{
height: 40px;
font-size: 20px;
}