body 
{
	min-height: 100vh;
	margin: 0px;
}

div.template-side-menu-container {
	display : flex;
	flex-direction: row;
	height: 100%;
}

div.template-side-menu-container div.left-column {
	width: 200px;
  		background-color: #3d3d3d;
  		color: #fff;
  		transition: width 0.10s;	    
}

div.template-side-menu-container div.left-column.collapse {
	width: 64px;
	display:block;
}

		
div.template-side-menu-container div.left-column.collapse div.terminal-details, 
div.template-side-menu-container div.left-column.collapse #template-menu-container span {
	display: none;
}



div.template-side-menu-container div.right-column {
	flex: 1;
	overflow: auto;
}

div.template-side-menu-container nav.breadcrumb-nav {
	width: 100%;
}

div.template-side-menu-container nav.breadcrumb-nav .glyphicons-left-arrow {
	margin-top:12px;
	cursor: pointer;
}


div.template-side-menu-container ol.breadcrumb {
    display: block;
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    padding: 0px 15px;
    margin: 0px;
    width: 100%;
}

div.template-side-menu-container div.left-column div.column-header, div.template-side-menu-container div.right-column div.column-header {			
	height: 50px;
	font-family: Arial;
    font-size: 14px;
	border-bottom: 1px solid #aaa;
	display: flex;
	flex-direction: row;
  		justify-content: flex-start;
  		align-items: center;
}		

/* left menu */

div.template-side-menu-container div.left-column .glyphicons {
	padding-left: 32px;
}

div.template-side-menu-container div.left-column img.logo {
	width:35px; 
	height:35px;
	margin: 0px 7px;
}

div#template-menu-container {
	font-family: Arial;
	font-size: 15px;
}	

div#template-menu-container a {
    display:block;
    color:#FFF;
    text-decoration:none;
    padding: 10px 0px 10px 16px;
    height: 35px;
}

div#template-menu-container a:active, div#template-menu-container a:visited {
	text-decoration:none;
}

div#template-menu-container a:hover, div#template-menu-container a.active {
	background-color: #007aff;
}

div#template-menu-container a i.glyphicons:before {
	color: #fff;
	font: 15px/1em 'Glyphicons Regular';
}

#toggle-sidebar-visibilty-btn {
	display: block;
	text-align: right;
	margin-top: 30px;
}

#toggle-sidebar-visibilty-btn i.glyphicons:before {
	color: #fff;
}

.template-side-menu-container .template-side-menu-content {
	margin: 15px 15px 15px 15px;
}

#template-menu-container a:nth-child(2), 
#template-menu-container a:nth-child(4),
#template-menu-container a:nth-child(7),
#template-menu-container a:nth-child(9),
#template-menu-container a:nth-child(11),
#template-menu-container a:nth-child(15){
	margin-top: 10px;
}