body {
	 color: #333;
	 font-family: Verdana, Geneva, sans-serif;
	 font-size: 11px;
	 overflow: hidden;
	 margin: 0;
	 padding: 0;
}

th, td, p, div, label, span, h1, h2, h3, a {
	 font-family: Verdana, Geneva, sans-serif;
	 color: #333;
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
	 display: inline-block;
	 padding: 4px;
	 font-size: 13px;
	 line-height: 18px;
	 color: #0A0A0A;
}

.name-text {
	 font-family: verdana;
	 font-size: 14px;
	 color: #666;
	 font-weight: 700;
	 padding: 6px 6px 6px 0;
}

.forgot-password-text {
	font-size:11px;
	color:#346aa7;
	text-decoration:none;
}

/*! CSS Used from: http://localhost:8080/posterita/css/v13.css?25062021011723 */
sup {
    color:red;
}
 .login-logo img{
    max-height:45px!important;
    max-width:145px!important;
}
.domain-textfield-container input[type="text"], .username-textfield-container input[type="text"], .password-textfield-container input[type="password"] {
    border: 1px solid #1d1d1d;
    border-radius: 3px !important;
    height: 40px;
}
 .glyphicons.white:before{
    color:white!important;
}
 .padding-left-15{
    padding-left:15px;
}
 .seperator-grey{
    border-top:1px solid #d0d0d0;
    width:100%;
}
 .seperator-36{
    padding:18px 0;
}
 .seperator-16{
    padding:8px 0;
}
 div.row label{
    color:#5B5B5B;
    font-family:Arial;
    font-size:10pt;
    padding-top:8px;
    font-weight:normal!important;
}

body.container > div.row {
    margin-left: 0px;
    margin-right: 0px;
}

div.alert {
	font-size: large;
}

