/* css for terminal info & change terminal dialogs */

#terminal-details-container {
	cursor: pointer;
}

#terminal-details-container:hover {
	background-color:#3b546f;
}

#terminal-details-dialog-table {
	
}

#terminal-details-dialog-table tr label, #change-terminal-dialog-table tr label{
	width:100px;
	padding: 0px;
	margin: 0px;
}

#terminal-details-dialog-table td, #change-terminal-dialog-table td {
	font-size:20px;
	padding:4px 4px 4px 0px;
}

 #change-terminal-dialog-table {
 	width: 100%;
 }