/** sprite: button-sprite-portal; sprite-image: url('../../images/button-sprite-portal.png'); sprite-layout: vertical */
/*buttons*/

.right_contents a.assignLead{
	background-image:url('../../images/portal/report/assign-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.closeLead{
	background-image:url('../../images/portal/report/close-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.comments{
	background-image:url('../../images/portal/report/comments.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.claimLead{
	background-image:url('../../images/portal/report/claim-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.reOpenLead{
	background-image:url('../../images/portal/report/reopen-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.openLead{
	background-image:url('../../images/portal/report/reopen-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}

.right_contents a.rejectLead{
	background-image:url('../../images/portal/report/reject-lead.png'); /** sprite-ref: button-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
}