/*buttons*/

.right_contents a.assignLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -0px;
	background-repeat:no-repeat;
}

.right_contents a.closeLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -96px;
	background-repeat:no-repeat;
}

.right_contents a.comments{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -192px;
	background-repeat:no-repeat;
}

.right_contents a.claimLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -288px;
	background-repeat:no-repeat;
}

.right_contents a.reOpenLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -96px;
	background-repeat:no-repeat;
}

.right_contents a.openLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -96px;
	background-repeat:no-repeat;
}

.right_contents a.rejectLead{
  background-image: url('../../images/button-sprite-portal.png');
  background-position: left -384px;
	background-repeat:no-repeat;
}
