/** sprite: content-sprite-portal; sprite-image: url('../../images/content-sprite-portal.png'); sprite-layout: vertical */
.header-text{	
	margin: 0 0 0 20px;
	padding-top: 10px;
	
}
.text-bold{
	margin-left:20px;
	font-size: 14px;
	font-weight: bold;
	text-align: justify;
	line-height: 25px;	
}
.normal-text{	
	font-size: 14px;	
	text-align: justify;	
	line-height: 25px;
	width: 650px;
}
/* .become-partner-image{
	background-image: url("../images3/become-partner-image.png");	
	background-repeat: no-repeat;
	height: 196px;
	width: 304px;	
} */
.right-side{
	float: left;
	margin-left: 5px;
}
.text-normal-ol{
	margin-left:0px;
	font-size: 14px;	
	text-align: justify;	
	line-height: 25px;
}
.page-information-new{
	float:left;
	width:717px;
	/*padding:42px 4px 0 8px;*/
	padding:3px 4px 0 2px;
}
#object-content-container-new{
	background-color: #FFFFFF;
	height: 630px;
	width: 717px;
}
.page-information-inner-new {	
	background-image: url("../../images/content-bg.png");/** sprite-ref: content-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	width: 717px;
	height:630px;
}
.page-position{
	padding-left: 25px;
	padding-top: 35px;	
}
.common{
	width: 635px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
}
.common-bullet{
	width: 635px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
}
.intro{
	font-weight: bold;
	margin-top: 0px;
}
.common li{
	margin-left: -21px;
	margin-top: 5px;
}
.common-bullet li{
	margin-left: -27px;
	margin-top: 5px;
}
.common ul{
	margin-top:-5px;	
}
.common-bullet ul{
	margin-top:-5px;	
}
.common h5{
	margin-bottom: -7px;
}
.heightbg{
	height: 552px;
	margin-top: 9px;
	overflow-y:auto;
	width: 681px;	
}
.infoAction{
	width: 650px;
	border: none;	
	font-size: 14px;
	text-align: justify;
	font-family:Verdana, Geneva, sans-serif;
}
.month{
	width: 70px;
	color: #ffffff;
	background-color: #666666;	
	border-right: medium solid;
	border-right-color: #cccccc;
	padding-left: 5px;
	border-width: 1px;
	height: 40px;
	font-weight: bold;
}
.campaign{
	width: 150px;
	color: #ffffff;
	background-color: #666666;	
	border-right: medium solid;
	border-right-color: #cccccc;
	padding-left: 5px;
	border-width: 1px;
	height: 40px;
	font-weight: bold;
}
.description{
	width: 300px;
	color: #ffffff;
	background-color: #666666;	
	padding-left: 5px;
	height: 40px;
	font-weight: bold;
}
.odd-row td{
	background-color: #eeeeee;
	padding: 5px;	
	height: 80px;
}
.border{
	border-right: medium solid;
	border-right-color: #cccccc;
	border-width: 1px;	
}
.even-row td{	
	padding: 5px;	
	height: 80px;
}

.partner-agreement{
	width: 650px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
}

.partner-agreement li{
	margin-left: -21px;
	margin-top: 5px;
}
.partner-agreement ol{
	font-weight: bold;
}
.partner-agreement h4{
	text-align: center;
	text-decoration: underline;
}

.partner-agreement u{
	font-weight: bold;
}

.partner-agreement li span{
	font-weight: normal;
}
.list1 {
    counter-reset: list1;
    margin-left: -39px;
}
.list1 li {
  list-style-type: none;
  font-weight: bold;
}
.list1 li::before {
  counter-increment: list1;
  content: "1." counter(list1) " ";
}
.list2 {
  counter-reset: list2;
  margin-left: -39px;
}
.list2 li {
  list-style-type: none;
  font-weight: bold;
}
.list2 li::before {
  counter-increment: list2;
  content: "2." counter(list2) " ";
}
.list3 {
  counter-reset: list3;
  margin-left: -39px;
}
.list3 li {
  list-style-type: none;
  font-weight: bold;
}
.list3 li::before {
  counter-increment: list3;
  content: "3." counter(list3) " ";
}
  
.list4 {
  counter-reset: list4;
  margin-left: -39px;
}
.list4 li {
  list-style-type: none;
  font-weight: bold;
}
.list4 li::before {
  counter-increment: list4;
  content: "4." counter(list4) " ";
}
.list5 {
  counter-reset: list5;
  margin-left: -39px;
}
.list5 li {
  list-style-type: none;
  font-weight: bold;
}
.list5 li::before {
  counter-increment: list5;
  content: "5." counter(list5) " ";
}
.list6 {
  counter-reset: list6;
  margin-left: -39px;
}
.list6 li {
  list-style-type: none;
  font-weight: bold;
}
.list6 li::before {
  counter-increment: list6;
  content: "6." counter(list6) " ";
}
  
.list7 {
  counter-reset: list7;
  margin-left: -39px;
}
.list7 li {
  list-style-type: none;
  font-weight: bold;
}
.list7 li::before {
  counter-increment: list7;
  content: "7." counter(list7) " ";
}
.list8 {
  counter-reset: list8;
  margin-left: -39px;
}
.list8 li {
  list-style-type: none;
  font-weight: bold;
}
.list8 li::before {
  counter-increment: list8;
  content: "8." counter(list8) " ";
}
.list9 {
counter-reset: list9;
margin-left: -39px;
}
.list9 li {
  list-style-type: none;
  font-weight: bold;
}
.list9 li::before {
  counter-increment: list9;
  content: "9." counter(list9) " ";
}
.list12 {
counter-reset: list12;
margin-left: -39px;
}
.list12 li {
  list-style-type: none;
  font-weight: bold;
}
.list12 li::before {
  counter-increment: list12;
  content: "12." counter(list12) " ";
}

.list12-3 {
margin-left: -39px;
}
.list12-3 li {
  list-style-type: none;
  font-weight: bold;
}
.list12-3 li::before {
  counter-increment: list12-3;
  content: "12.3 ";
}

.list12-4 {
margin-left: -39px;
}
.list12-4 li {
  list-style-type: none;
  font-weight: bold;
}
.list12-4 li::before {
  counter-increment: list12-4;
  content: "12.4 ";
}
.list12-5 {
margin-left: -39px;
}
.list12-5 li {
  list-style-type: none;
  font-weight: bold;
}
.list12-5 li::before {
  counter-increment: list12-5;
  content: "12.5 ";
}

.list14 {
counter-reset: list14;
margin-left: -39px;
}
.list14 li {
  list-style-type: none;
  font-weight: bold;
}
.list14 li::before {
  counter-increment: list14;
  content: "14." counter(list14) " ";
}

.margin{
margin-left: 7px;
}
  
 .partner-agreement h4{
 margin-top: -5px;
 margin-bottom: -5px; 
 }
 
 .partner-agreement div p{
 margin-top: -7px;
 }
 
 .marketing{
 	width: 635px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
	margin-top: -17px; 
 }
 
.marketing li {
 	margin-left: -25px;
 }
 .home{
 	width: 635px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
	margin-top: -17px; 
 }
 .home li {
 	margin-left: -24px;
 }
 .home-below{
 	width: 650px;
	border: 0px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;	
	text-align: justify;
	line-height: 25px;
	margin-top: -17px; 
 }
 
 .marketing a {
 	text-decoration: none;
 	color: #32649B;
 }
 
 .right-side div{
 	background-image: url("../../images/portal/image.png");	/** sprite-ref: content-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	height: 145px;
	width: 227px;
	margin-left: 5px;
 }
 
 .left-side{
 	width: 388px;
 	vertical-align: top;
 }
 
 .alpha{
 	list-style-type: upper-alpha;
 }
 .normal{
 font-weight: normal;
 }
 
  .common a {
 	text-decoration: none;
 	color: #32649B;
 }

 .video-container{
 	float: left;
 	margin: 5px;
 	position:relative;
 }
 
 .video-container iframe {
 	width:200px;
 	height:200px;
 	position:relative;
 	z-index:0;
 }
 
 .video-popup{
 	background-image:url('../../images/portal/image-blank.png');/** sprite-ref: content-sprite-portal; sprite-margin-bottom: 10px*/
 	width:200px;
 	height:200px;
 	position:absolute;
 	z-index:1;
 	top:0px;
 }
 
 .contact-details p{
 	line-height: 18px;
 }