
/*CSS for navigation sub menu*/
/*Lead Policy*/
.portal_smenu_open_rejected_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -0px;
}

.portal_smenu_manage_resellers{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -75px;
}

.portal_smenu_posterita_lead_policy{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -150px;
}

.portal_smenu_closed_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -225px;
}

.portal_smenu_prequalified_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -300px;
}

.portal_smenu_new_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -300px;
}

.portal_smenu_register_lead{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -375px;
}

.portal_smenu_my_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -450px;
}

.portal_smenu_my_won_leads{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -225px;
}
/*Plan of Action*/
.portal_smenu_plan_of_action{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -525px;
}

/*Program Description*/
.portal_smenu_lead_generation_and_sales_assistance{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -600px;
}

.portal_smenu_effective_communications{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -675px;
}

.portal_smenu_tech_and_sales_support_training{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -750px;
}

.portal_smenu_posterita_partner_program_requirements{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -825px;
}

/*Partner Agreement*/
.portal_smenu_posterita_partner_agreement{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -900px;
}

/*My Profile*/
.portal_smenu_my_profile{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -975px;
}

/*Sales Materials*/
.portal_smenu_sales_powerpoint{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1050px;
}

.portal_smenu_demo_scripts{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1125px;
}

.portal_smenu_videos{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1200px;
}

.portal_smenu_pricelist{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1275px;
}

.portal_smenu_white_paper{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1350px;
}

.portal_smenu_hardware{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1425px;
}

.portal_smenu_payment_processor{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1500px;
}

/*Marketing Materials*/
.portal_smenu_competitive_analysis{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1575px;
}

.portal_smenu_market_info{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1650px;
}

.portal_smenu_testimonials{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -0px;
}

.portal_smenu_product_description{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1725px;
}

.portal_smenu_graphics{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1800px;
}

.portal_smenu_promotional_templates{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1875px;
}

/*Support*/
.portal_smenu_product_updates{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -1950px;
}

.portal_smenu_training{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -2025px;
}

.portal_smenu_faq{
  background-image: url('../../images/menu-sprite-portal.png');
  background-position: left -2100px;
}
/*CSS for navigation parent menu*/
.portal_pmenu_my_account{
  background-image: url('../../images/pmenu-sprite-portal.png');
  background-position: left -0px;
}

.portal_pmenu_marketing_tools{
  background-image: url('../../images/pmenu-sprite-portal.png');
  background-position: left -96px;
}

.portal_pmenu_support{
  background-image: url('../../images/pmenu-sprite-portal.png');
  background-position: left -192px;
}
