/** sprite: menu-sprite-portal; sprite-image: url('../../images/menu-sprite-portal.png'); sprite-layout: vertical */
/** sprite: pmenu-sprite-portal; sprite-image: url('../../images/pmenu-sprite-portal.png'); sprite-layout: vertical */

/*CSS for navigation sub menu*/
/*Lead Policy*/
.portal_smenu_open_rejected_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/open-rejected-lead.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/	
}

.portal_smenu_manage_resellers{
	background-image:url(../../images/portal/menu/my-account/lead-policy/manage-partners.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_posterita_lead_policy{
	background-image:url(../../images/portal/menu/my-account/lead-policy/posterita-lead-policy.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_closed_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/closed-leads.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_prequalified_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/prequalified-leads.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_new_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/prequalified-leads.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_register_lead{
	background-image:url(../../images/portal/menu/my-account/lead-policy/register-lead.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_my_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/my-leads.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_my_won_leads{
	background-image:url(../../images/portal/menu/my-account/lead-policy/my-won-leads.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}
/*Plan of Action*/
.portal_smenu_plan_of_action{
	background-image:url(../../images/portal/menu/my-account/plan-of-action/plan-of-action.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*Program Description*/
.portal_smenu_lead_generation_and_sales_assistance{
	background-image:url(../../images/portal/menu/my-account/program-description/lead-generation-sales-assistance.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_effective_communications{
	background-image:url(../../images/portal/menu/my-account/program-description/effective-communication.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_tech_and_sales_support_training{
	background-image:url(../../images/portal/menu/my-account/program-description/tech-sales-support.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_posterita_partner_program_requirements{
	background-image:url(../../images/portal/menu/my-account/program-description/posterita-partner-program-requirement.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*Partner Agreement*/
.portal_smenu_posterita_partner_agreement{
	background-image:url(../../images/portal/menu/my-account/partner-agreement/posterita-partner-agreement.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*My Profile*/
.portal_smenu_my_profile{
	background-image:url(../../images/portal/menu/my-account/my-profile/my-profile.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*Sales Materials*/
.portal_smenu_sales_powerpoint{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/sales-powerpoint.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_demo_scripts{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/demo-scripts.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_videos{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/videos.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_pricelist{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/price-list.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_white_paper{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/white-paper.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_hardware{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/hardware.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_payment_processor{
	background-image:url(../../images/portal/menu/marketing-tools/sales-materials/payment-processors.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*Marketing Materials*/
.portal_smenu_competitive_analysis{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/competitive-analysis.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_market_info{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/market-info.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_testimonials{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/testimonials.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_product_description{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/product-description.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_graphics{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/graphics.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_promotional_templates{
	background-image:url(../../images/portal/menu/marketing-tools/marketing-materials/promotional-templates.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

/*Support*/
.portal_smenu_product_updates{
	background-image:url(../../images/portal/menu/support/support/product-updates.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_training{
	background-image:url(../../images/portal/menu/support/support/training.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_smenu_faq{
	background-image:url(../../images/portal/menu/support/support/faqs.png);/** sprite-ref: menu-sprite-portal; sprite-margin-bottom: 10px*/
}
/*CSS for navigation parent menu*/
.portal_pmenu_my_account{
	background-image:url(../../images/portal/parent-menu/my-account.png);/** sprite-ref: pmenu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_pmenu_marketing_tools{
	background-image:url(../../images/portal/parent-menu/marketing-tools.png);/** sprite-ref: pmenu-sprite-portal; sprite-margin-bottom: 10px*/
}

.portal_pmenu_support{
	background-image:url(../../images/portal/parent-menu/support.png);/** sprite-ref: pmenu-sprite-portal; sprite-margin-bottom: 10px*/
}