/** sprite: popup-sprite-portal; sprite-image: url('../../images/popup-sprite-portal.png'); sprite-layout: vertical */
/*portal css*/
.inner{
	float: left;
	width: 375px;
}
.top-text{
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin:18px 0 0 17px;
	width:357px;
	height: 40px;
}
.reseller{
	margin-left: 17px;
	margin-top: 55px;	
	width: 345px;
}
.reseller-text{
	float: left;
	width: 100px;
	text-align: center;	
}
.reseller-select{
	float: left;
	width: 195px;
	height: 50px;
}
.reseller-select select{
	height: 25px;
	width: 150px;
}
.lead-icon{
	float:left;
	background-image:url(../../images/portal/assign-lead-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:31px;
	height:32px;	
}
.comment-icon{
	float:left;
	background-image:url(../../images/portal/comments-popup-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:29px;
	height:34px;	
}
.comment-bg{
	background-image:url(../../images/portal/receipt-bg.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width: 390px;
	height: 619px;
	float: left;
	margin-top: 7px;
	margin-left: 10px;	
}
.submit-comment{
	background-image:url(../../images/portal/submit-button.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat: no-repeat;
	height: 45px;
	width:88px;
	margin-left: 20px;	
}
.buttonright-comment{
	float: right;
	margin-right: 20px;
	margin-top: -64px;
}
.smallbuttontext-comment {
	color: #333333;
	display: table-cell;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 74px;
	margin-left: 26px;
	margin-top: -36px;
}
.comment-title{
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 14px;
	text-align: center;
	text-transform: uppercase;	
}
.comments-panel{
	height: 440px;
	width: 380px;
	overflow-y:auto;
	margin-left: 5px;
	margin-top: 2px;	
	overflow-x:hidden; 
}
.comment-textarea{
	width: 368px;
	margin-left: 9px;
	margin-top: 2px;	
}
.left{
	float: left;
	width: 195px;
	color: #366DAC;
	font-weight: bold;
}
.message{
	float: left;
	margin-top: -40px;
	width: 380px;
}
.comment{	
	margin-top: 4px;
	margin-bottom: 4px;
}
.comments-panel .odd{
	background-color: #EBEAEA;
}
.comments-panel .even{
	background-color: #ffffff;
}
.comments-panel .header .right{
	background: none;
	float: right;
	width: 140px;
}
.close-lead{
	float:left;
	background-image:url(../../images/portal/close-lead-popup-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:29px;
	height:28px;
}
.text-area-panel{
	float: left;
	width: 375px;	
	height: 135px;
	margin-top: 5px;
}
.text-area{
	height: 110px;
	width: 235px;
}
.lead-reason{
	float: left;
	margin-top: 5px;
	text-align: center;
	width: 100px;	
}
.pop_head{
	text-transform: uppercase;
}
.reopen-lead, .open-lead{
	float:left;
	background-image:url(../../images/portal/reopen-lead-popup-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:39px;
	height:32px;
}
.claim-lead{
	float:left;
	background-image:url(../../images/portal/claim-lead-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:27px;
	height:32px;
}
.reject-lead{
	float:left;
	background-image:url(../../images/portal/reject-lead-popup-icon.png);/** sprite-ref: popup-sprite-portal; sprite-margin-bottom: 10px*/
	background-repeat:no-repeat;
	width:27px;
	height:32px;
}