body{
	      	margin:auto;
	      	width: 100%;
	      	height: 100%;
	      	overflow: auto;
	      }
	      
	      .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
			  -moz-border-bottom-colors: none;
			  -moz-border-left-colors: none;
			  -moz-border-right-colors: none;
			  -moz-border-top-colors: none;
			  background-color: #FFFFFF !important;
			  border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
			  border-image: none;
			  border-style: solid;
			  border-width: 1px;
			  color: #007AFF;
			  cursor: default;
			}
			
			.nav-tabs > li.active > a > span {
			  background-color: #FFFFFF !important;
			  color: #007AFF;
			}
			
			.nav-tabs > li > a {
			  background-color: #D2D2D2 !important ;
			  border-color: #363535;
			  color: #5B5B5B !important;
			  height: 32px;
			  text-align: center;
			  width: 80px;
			  border-radius:4px 4px 0px 0px;
			  margin-right:2px;
			}
			
			.nav > li > a:hover,
			.nav > li > a:focus {
			  text-decoration: none;
			  background-color: #eee;
			}
			
			#bs-example-navbar-collapse-1{
			border-bottom: 1px solid !important;
			border-bottom-color: #363535 !important;
			}
			
			.button-border-bp button{
				border:1px solid #BDBEC2;
			}
			
			#signature-btnsave{
           	 border:1px solid #8E8E93;
			  display: inline-block;
			  margin-bottom: 0;
			  font-weight: normal;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: middle;
			  cursor: pointer;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			  background-image: none;
			                padding: 1px 5px;
			  font-size: 12px;
			  line-height: 1.5;
			  box-shadow:none !important;
			       color: #363535;
			  background-color: #ffd0cc;
			  border-color: #bdbec2;
			  border-radius:6px;
			  width: 15%; 
			  background: -moz-linear-gradient(#08a600, #0b9604);
			  background: -o-linear-gradient(#08a600, #0b9604);
			  background: -webkit-linear-gradient(#08a600, #0b9604);
		      background: linear-gradient(#08a600, #0b9604);
		      content: "\E004";
           }
           
            #signature-btnclear{
			  border:1px solid #8E8E93;
			  display: inline-block;
			  margin-bottom: 0;
			  font-weight: normal;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: middle;
			  cursor: pointer;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			  background-image: none;
			                padding: 1px 5px;
			  font-size: 12px;
			  line-height: 1.5;
			  box-shadow:none !important;
			       color: #363535;
			  background-color: #ffd0cc;
			  border-color: #bdbec2;
			  border-radius:6px;
			  width: 15%;          
            }