html{
	height: auto !important;
	}

.datatable-record-dialog .row label {
    display: block;
    float: left;
    width: 100px;
}

.datatable-record-dialog .row {
    clear: both;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}

body {
    /*padding: 6px;*/
}

.section, .section-view, .section-view-backoffice {
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    width: 100%;
    float: left;
}

/** VIEW CSS **/
.section-view {
	border-bottom: 1px solid transparent;
}

.section-view-backoffice {
	border-bottom: 1px solid transparent;
    border-top: 1px solid #4d4d4d;
    padding: 4.313em 0;
}

.section-view-backoffice .view-header h1, .section-view-backoffice .view-header p {
	color: #007aff;
	text-align: center;
}

.section-view-backoffice .view-header p {
	color: #1a1a1a;
}

.section-view-backoffice .view-header h1 {
	font-size: 34px;
	margin-bottom: 0px;
}

.section-view-backoffice .view-header p {
	font-family: Roboto-light, Verdana, Arial;
	font-size: 24px;
}

.table-container {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.table-container > div, .table-container > p {
	display: table-cell;
	vertical-align: top;
}

.details-container > div.table-container > p {
	float: initial;
	width: auto;
	padding-bottom: 10px;
	word-break: break-word;
}

.details-container > div.table-container > p.width-110 {
	width: 110px;
}

.details-container > div.table-container > p.width-85 {
	width: 85px;
}

.details-container > div.table-container > p.width-65 {
	width: 65px;
}

.details-container > div.table-container > p.width-125 {
	width: 125px;
}

.details-container > div.table-container > p.width-150 {
	width: 150px;
}


.view-details, #view-additional-details, div.section-inner.table-container {
	padding: 0px 50px;
	/* margin-top: 2.313em; */
}

.view-details > div {
	display: block;
	float: left;
}

.view-details > div + div {
	padding-right: 2.313em;
	padding-left: 2.313em;
}

.image-container, .picture-frame{
	width: 150px;
	height: 150px;
	border: 1px solid #1d1d1d;
	border-radius: 5px;
}

.image{
	height: 85%;
	margin-bottom: 4px;
	position: relative;
}

.view-image {
	height: 100%;
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.image-container div.add-details-of-cust {
	text-align: center;
}

.table-container .image-container {
	border: none;
}

.image-container .glyphicons {
	left: 37%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.image-container .glyphicons:before {
	font: 80px/1em 'Glyphicons Regular'
}

.table-container .details-container {
	padding-left: 25px;
}

.view-details > div > div.image-container > div.image{
	height: 85%;
	position: relative;
}

.view-details > div > div.image-container > div.add-details-of-cust {
	text-align: center;
}

.add-subfooter-details {
	text-align: left;
	padding-top: 15px;
}

.add-subfooter-details p {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.add-subfooter-details p + p {
	font-weight: normal;
}

.add-subfooter-details:after {
	clear: both;
}
.view-details > div > div.image-container .glyphicons {
	left: 37%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.view-details > div > div.image-container .glyphicons:before {
	font: 80px/1em 'Glyphicons Regular'
}

.details-container > p, .details-container > div.special-details > p {
	font-size: 18px !important;
    font-weight: 600;
    margin-bottom: 5px;
}

.details-container > p, .details-container > div.special-details > div p {
	font-size: 14px;
}

.details-container > div {
	clear: both;
}

.details-container > div > p {
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	float: left;
	width: 125px;
}

.details-container > div.special-details > p {
	width: auto;
	
}

.details-container > div > p + p {
	width: auto;
}

.details-container > div.special-details > p, .details-container > div.special-details > div  {
	float: initial;
}

.details-container > div.special-details > p {
	margin: 3.313em 0 0;
}

.details-container > div.special-details > p {
	margin: 1.313em 0 0;
}

.details-container-seperator {
	border-left: 1px solid #1d1d1d;
	padding-bottom: 1.313em;
}

#view-stats {
	background: rgba(0, 122, 255, 0.2);
	margin: 2.313em 0 0;
    overflow: hidden;
    height: auto;
    padding: 0 50px;
}

#show-terminals-warehouses {
	margin: 0 50px;
	width: auto;
}

#show-terminals-warehouses > div.section-inner {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#show-terminals-warehouses > div.section-inner > div {
	display: table-cell;
}

#show-terminals-warehouses > div.section-inner > div {
	border-right: 1px solid #1d1d1d;
}

#view-stats > div {
	float: left;
	text-align: center;
	padding: 0 10px 1500px;
    margin-bottom: -1500px;
}

#view-stats > div > p {
	font-family: Arial, Verdana;
	font-size: 12pt;
	font-weight: 400;
	color: #1d1d1d;
	padding: 0 0 16px;
	margin: 0;
}

#view-stats > div > p.featured-heading, #view-additional-sub-details > div > p.featured-heading {
	font-family: Arial, Verdana;
	font-size: 24px;
	font-weight: 700;
	padding: 16px 0 0;
}

#view-stats > div.span6 {
	width: 16.66%;
}

#view-stats > div.span5 {
	width: 20%;
}

#view-additional-details {
    /* padding-top: 3.313em; */
}

#view-additional-details div.left-input {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 2%;
}

.inactive-span {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border-bottom: none !important;
}


#view-additional-details div.left-input, #view-additional-details div.right-input {
	width: 49%;
}

#view-additional-details .table-display, .full-table-display {
	border-radius: 5px;
	/* border: 1px solid #1d1d1d; */
	position: relative;
	background: #eee;
}

#view-additional-details .table-display p,  .full-table-display p, #show-terminals-warehouses p {
	/* padding-top: 10px; */
	font-size: 14px;
	padding: 5px 0;
}

#view-additional-details .table-display > div,  .full-table-display > div, #show-terminals-warehouses p {
	padding: 0 2.313em;
	border-bottom: 1px solid #1d1d1d;
}

#show-terminals-warehouses p:last-child {
	border-bottom: none;
}

#sales-history-report .full-table-display > div {
	overflow: hidden;
}

#view-additional-details .table-display > div.table-heading, .full-table-display > div.table-heading, #show-terminals-warehouses p.table-heading  {
	background: #aaa;
	/* text-align: center; */
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: 600;
}

#view-additional-details .table-display > div.table-heading p, .full-table-display > div.table-heading p, #show-terminals-warehouses p.table-heading {
	font-size: 14px;
	padding: 10px 0;
}

.full-table-display > div.table-heading p {
	text-align: left;
}

#view-additional-details .table-display > div:after {
	clear: both;
	content: "";
	display: block;
}

#view-additional-details .table-display > div > p, .full-table-display > div > p {
	float:left;
}

#view-additional-details .table-display > div > p + p, .full-table-display > div > p + p {
	float: right;
}

#view-additional-details .table-display > div.table-heading > p, .full-table-display > div.table-heading > p {
	float: initial;
}

.special-notes, .special-notes-add-on {
	border-radius: 5px;
	background: #f9f5d1;
	margin-bottom: 10px;
	padding: 1.313em 2.313em;
}

.special-notes-add-on {
	position: relative;
	overflow: hidden;
}

#view-additional-details .special-notes > p {
	font-size: 16px;
	font-weight: 600;
	color: #000;	 
}

#view-additional-details .special-notes > p + p {
	font-size: 14px;	
	font-weight: 400;
}

#sales-history-report > div {
	/* margin-top: 2.313em; */
}

#sales-history-sort-by {
	width: 150px;
	margin: 10px;;
}

#sales-history-report > .full-table-display > div > label.align-inline {
	float: left;   
	padding-right: 10px;
    padding-top: 15px;
}

#sales-history-report > .full-table-display > div.form-group{
	margin-bottom: 0px !important;
}

#sales-history-report > .full-table-display > div > div.left-input {
	padding: 10px 15px 0 0;
    width: auto;
}

.blue-button, .blue-button:hover {
	background: #007aff;
	border-color: #007aff;
	color: #fff;
}

#sales-history_filter {
	display: none;
}

.glyphicons.checkedOption {
	padding-left: 28px;
	padding-top: 2px;
}

.glyphicons.checkedOption:before {
	font: 20px/1em 'Glyphicons Regular';
}

.inactive-span p {
    color: #fff !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    letter-spacing: -2px;
}

.center-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-select {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 4px 5px 2px !important;
}

.table-container > p + p
{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
	hyphens: auto;
}
/** **/
.bottom-feedback {
    bottom: 10px;
    position: fixed;
    left: 0;
    z-index: 10000;
}
.bottom-feedback button {
	text-decoration: uppercase;
}

button.feedback {
	background-color: rgba(240, 230, 140, 0.5);
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 15px 20px;
    text-align: left;
    white-space: normal;
    width: 250px;
}

button.feedback:hover {
	background-color: rgba(240, 230, 140, 1);
}

.view-product-add-details-table {
    /* border: 1px solid #1d1d1d; */
    border-radius: 5px;
    background: #eee;
}

.view-product-add-details-table > p {
    border-bottom: 1px solid #1d1d1d;
    margin: 0;
    padding: 5px 10px;
    font-weight: 600;
    color: #000;
    font-family: Verdana,Arial;
    background: #aaa;
    border-radius: 5px 5px 0 0;
}

.view-product-add-details-table > p + p {
    font-size: 14px;
    font-weight: 400;
    background: inherit;
    border-radius: 0px;
}

.view-product-add-details-table > .table-container p {
	border-bottom: 1px solid #1d1d1d;
	padding: 5px 10px;
	font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: Verdana,Arial;
}

.view-product-add-details-table > .table-container:first-child > p   {
    font-size: 13px;
    font-weight: 600;
}
.view-product-add-details-table > .table-container:first-child {
    background-color: #aaa;
    border-radius: 5px 5px 0 0;
}

.view-product-add-details-table > p:last-child {
    border-bottom: 1px solid transparent;
}

.view-product-add-details-table > .table-container > p + p {
	border-left: 1px solid #1d1d1d;
}

.view-product-add-details-table > .table-container:last-child > p {
	border-bottom: 1px solid transparent;
}

.view-table-heading-subsection {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-family: Verdana,Arial;
    margin-bottom: 10px;
}

#show-inventory-details > .table-container {
	table-layout: auto;
}

#show-inventory-details > .table-container > p + p {
	text-align: right;
}

#show-more-inventories, #show-less-inventories {
	text-decoration: underline;
	color: #007aff;
	font-size: 13px !important;
	cursor: pointer;
}

.view-parent-menu
{
	font-weight: bold;
	font-size: 18px !important;
}

.view-category-menu
{
	font-weight: bold;
	font-size: 16px !important;
	padding: 0 0 0 20px !important;
}

.view-sub-menu
{
	padding: 0 0 0 40px !important;
}

/** REPORT CSS **/

.section-inner-report {
	margin: 25px 50px 0;
}

.view-report {
	overflow: hidden;
	padding-top: 15px;
	border-radius: 5px;
	border: 1px solid #1d1d1d;
}

.view-report > div div.form-group{
	width: auto;
}

.view-report > div:after {
	clear: both;
}

.blue-button-report, .blue-button-report:hover, .blue-button-report:focus {
	background: #007aff !important;
	border-color: #007aff;
	color: #fff;
	padding: 3px 12px;
}

.green-button-report, .green-button-report:hover, .green-button-report:focus {
	background: #08A600 !important;
	border-color: #08A600;
	color: #fff;
	padding: 3px 12px;
}

.grey-button-report, .grey-button-report:hover, .grey-button-report:focus {
	background: #d0d0d0 !important;
	border-color: #d0d0d0;
	color: #000;
	padding: 3px 12px;
}

.view-report > div {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 15px;
}

/*
.view-report > div > div , .more-filters-area-extended div div{
	display: table-cell;
	padding: 0 20px;
}
*/

.view-report div.form-group {
    display: table-cell;
    padding: 0 20px;
}

.more-filters-area-extended > div {
    display: table !important;
    table-layout: fixed;
    width: 100%;
	padding-bottom: 15px;
}

.table-wrapper {
	position: relative;
	overflow-x: scroll;
	height: 100%;
}

#report {
	border: 1px solid #ddd;
	border-radius: 5px;
}

#report td {
	white-space: nowrap;
}

#report td + td {
	border-left: 1px solid #ddd;
}

.show-notification {
	width: 100%;
	border: 1px solid #1d1d1d;
	border-radius: 5px 5px 0 0;
}

.report-notification-header {
	background: #D0D0D0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #1d1d1d;
	margin-bottom: 40px;
    padding: 12px 16px 4px;
}

.report-notification-area {
	text-align: center; 
	margin-bottom: 40px;
}
/** **/

fieldset.field {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.field {
    font-size: 14px !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 0px !important;
}

.breadcrumb {
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.section-inner-left {
    width: 25%;
    padding-left: 50px;
    padding-right: 0px;
    float: left;
}

.section-inner-left h1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
}

.section-inner-left p {
    margin-bottom: 15px;
    font-weight: 400;
}

.section-inner-right {
    width: 75%;
    margin-top: 16px;
    float: right;
}

label {
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

input, select {
    height: 28px !important;
    padding: 4px 2px 2px !important;
}

.buttons {
    padding: 10px 28px;
    text-align: right;
}

.btn-primary {
    color: #fff;
    /* background-color: #479CCF; 
    border: 1px solid #2F82B4;*/
    background-color: #08a600 !important;    
    border: 1px solid #08a600 !important;
    box-shadow: 0 3px 5px 2px #fff !important;
}

.btn-primary:hover, .btn-primary:focus {
    /* background-color: #3491C8;
    border-color: #2A74A0; */
    background-color: #08a600;
    border-color: #08a600;
    color: #fff;
}

.header-main {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    /*float: left;*/
    width: 100%;
    /* position: fixed; */
    z-index: 200;
    background: none repeat scroll 0 0 #fff;
    /*top: 0px;*/
    height: 50px;
}

.left-input {
    width: 52%;
    padding: 0 20px;
    float: left;
    clear: both;
}

.middle-input {
    width: 99%;
    padding: 0 20px;
    float: left;
}

.right-input {
    width: 45%;
    float: left;
}

.mini-input {
	width: 35%;
}

.medium-input {
	width: 50%;
	
}

tbody {
    font-size: 12px;
}

#example > tbody > tr:HOVER {
    background-color: #f5f5f5;
}

#example_length label, .dataTables_info {
    color: #707070 !important;
    padding: 10px;
}

#example_filter label {
    padding: 10px 15px 10px 10px;
}

.checkbox-container {
	height: 22px;
	display:table-cell
}

.checkbox-container input[type=checkbox], .checkbox-container label {
	vertical-align: middle;
	margin-top: 0px;
}

table {
    font-size: 12px;
}

.row1 {
    background-color: #f5f5f5;
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-left: -5px !important;
    margin-right: 0px !important;
}

#example {
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
}

.pagination {
    margin-top: 0px !important;
}

.header-report {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    float: left;
}

#detail textarea {
    height: 60px !important;
}

.note {
    color: #888;
    font-weight: 400;
    text-transform: none;
}

.report-button-top-right {
    float: right;
    margin-right: 5px;
}

.form-button-top-right {
    float: right;
    padding: 10px 30px;
}

.section-overview {
    margin-top: 48px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    width: 100%;
    float: left;
}

/** VIEW CSS **/

.section-overview-view {
	border-bottom: 1px solid transparent;
}

/** **/

tr.row_selected td {
    background-color: #ebf2f9 !important;
}

/*
input[id=hasModifier-checkbox],
[id=isMandatory-checkbox],
[id=isExclusive-checkbox] {
    height: 0px !important;
}
*/

#modifiers-container, #pairing-container , #product-tax-container, #bom-container{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 95%;
    float: left;
}

#pairing-container, #bom-container {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    margin-bottom: 210px;
    margin-left: 20px;
    width: 95%;
}

#pairing-autocompleter, #ingredient-autocompleter {
	width: 400px;
}

#modifiers-table th, #modifiers-table td , #product-tax-table th, #product-tax-table td {
    padding: 5px;
    background-color: #ddd;
}

#modifiers-table td, #sub-taxes-table td, #product-tax-table th, #product-tax-table td, #item-mapping-table td {
	vertical-align: top;
}

#pairing-table th, #pairing-table td, #bom-table th, #bom-table td {
    padding: 5px;
}

#pairing-table td, #bom-table td {
	vertical-align: top;
}

input[id=assignPriceList-checkbox],
	[id=assignCreditManagement-checkbox],
	[id=assignAdvance-checkbox],
	[id=email-receipt],
	[id=email-promotion]
{
	/*height: 0px !important;*/
}

#credit-management-container, #advanced-container {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #E3E3E3;
	border-radius : 4px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 95%;
	float: left;
}

tr.row_selected td{
	background-color: #ebf2f9 !important;
}

.multiselect {
    width:77em;
    height:22em;
    border:1px solid #E3E3E3;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#000;
}

#others-container{
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #E3E3E3;
	border-radius : 4px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 95%;
	float: left;
}

#store-access-container{
	background: none repeat scroll 0 0 #FAFAFA;
	border-radius : 4px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 95%;
	float: left;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 24.8em !important;
}

tr.group-store td {
    background-color: #ccc !important;
}

tr.group-tax-category td {
    background-color: #ddd !important;
}

#sub-taxes-table tr td:first-child{
	width:250px;
}

#sub-taxes-table tr td:nth-child(2){
	width:100px;
}

#sub-taxes-table tr td input{
	width:100%;
}

#item-mapping-table tr td input{
	width: 100%;
}


#sub-taxes-table th, #sub-taxes-table td {
	padding: 5px;
}

#item-mapping-table th, #item-mapping-table td {
	padding: 5px;
}

input[id=hasSubTax-checkbox]
{
}

#sub-taxes-container, #item-mapping-container{
	border: 1px solid #E3E3E3;
	border-radius : 4px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 95%;
	float: left;
}

#sub-taxes-container thead {
	border-bottom: 1px solid #E6E6E6;
}

#sub-taxes-container th {
	border-right: 1px solid #E6E6E6;
}

#item-mapping-container thead {
	border-bottom: 1px solid #E6E6E6;
}

#item-mapping-container th {
	border-right: 1px solid #E6E6E6;
	/* background: #e5e5e5; */
}
.tax-name
{
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.tax-rate
{
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

#payment-processor-container{
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #E3E3E3;
	border-radius : 4px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 95%;
	float: left;
}

.backoffice-alert{
    font-size: 14px;
    padding:15px 15px 15px 50px;
}

.backoffice-alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.backoffice-alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.backoffice-alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.breadcrumb .glyphicons {
	padding-left: 0px;	
}

.breadcrumb .glyphicons:before {
	position: relative;
	vertical-align: super; 
}

.dataTables_wrapper .dataTables_length {
	padding-left: 10px;
}

.dataTables_wrapper .dataTables_filter {
}
 
.accordion-header {
    padding:10px 10px 10px 50px;
    font-size: 18px;
    font-weight: 400; 
    color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	margin-top: 0px;
	cursor: pointer;
	text-decoration: underline;
}  

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/*   
.required::-webkit-input-placeholder {
   color: red;
   opacity: 0.5;
   filter: alpha(opacity=50); 
   text-transform: uppercase;
   font-size: 10px;
}

.required:-moz-placeholder { Firefox 18-
   color: red;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.required::-moz-placeholder {  Firefox 19+
   color: red;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.required:-ms-input-placeholder {  
   color: red;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

label span, .sub-container th span {
	color: red;
} */

.form-control:focus{
	border-color: #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.required {
	border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.glyphicons-tweek:before{
    font-size: 18px;
	color: #8e8e93;
	cursor: pointer;
	top: 3px;
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
	cursor: pointer;
}

.strength-meter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-style: none !important;
    border-color: transparent !important;
    border-width: 0px !important;
}

.section-inner-right div div .checkbox-container{
	padding-left: 40px;
}

#product-tax-table.testgrid {
	width: 100%;
}

#backoffice-export-btn {
	background-color: #d0d0d0 !important;
}

frame-image{
	border: medium none;
	height: auto;
	margin-top: 10px;
	max-height: 120px;
	max-width: 120px;
	width: auto;
}

#view .section-inner-left {
	padding: 0px 20px;	
}

#view label.glyphicons{
	padding-left:30px;
	line-height:20px;
	margin-bottom:10px;
}

#view label {
	color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    padding-left: 0px;
}

#view label.glyphicons:before {
	font-family: 'Glyphicons Regular';
	padding-right: 5px;
}

.view-group div div{
	padding: 10px 0px;
}

.view-group:last-child .right-input {
	text-align: right;
}

#categories {
	padding: 0;
	margin: 0;
	width: 300px;
	float: left;
}

#tabs #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9,#tab10,#tab11{
	/* width: 70%; */
	width: 696px;   /*bug fixed PB-403 width:696px;*/
	float: left;
	display: table;
}

#tabs{
	width: 100%;
	border-right: none;
}

#categories li {
	font-family: Verdana, Arial;
	font-size: 16px;
	list-style: none;
	line-height : 36px;
	background-color: #eee;
	cursor: pointer; 
}

#categories li:hover, #categories li.active {
	background-color: #ebebeb;
}

#left-section-categories{
	width: 25%;
}

#fields{
	width: 75%;
	margin-top: 16px;
	float: right;
}

.arrow-icons {
	margin-left: -20px;
}

.left-input-text{
	float: left;
	padding: 0 20px;
	width: 100%;
	clear: both;
}

.left-input-header{
	float: left;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid #aaa;	
}

#payment-rule-table .left-input-header label {
	font-weight: 700 !important;
}
#tabs{
	float: left;
	border-top : 1px solid #ddd;
}

#tabs .header-title{
	font-size: 18px;
}

#tabs #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9,#tab10,#tab11{
	padding: 0 !important;
	border-left: 1px solid #ddd;
}

#tabs .seperator{
	border-bottom: 1px solid #ddd;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

#tabs .header-info{	
	background-color: #eee;
	border-radius: 6px;
	float: left;
	font-size: 12px;
	margin: 10px;
	padding: 10px;
}

#tabs .header-info{
	word-wrap : break-word;
}

#modifiers-container > table{
	background-color: #fff;
	
}

#modifiers-table th{
	background-color: #bbb;
	border-right: 1px solid #fff;	
}

#modifiers-table-tbody > tr{
	border-bottom: 1px solid #aaa !important;
}

#modifiers-table-tbody td{
	border-right: 1px solid #fff !important;
}

#modifiers #add-modifier-button{
	background-color: rgba(0,122,255,0.7) !important;
	color: #fff;
}

#sales-price-grid, #serial-nos-container, #purchase-price-grid{
	padding: 0 20px;
}

#multiple-tax-rate-container tbody td{
	border: 1px solid #e0e0e0;
	padding: 10px;
}

#multiple-tax-rate-container thead td{
	border: 1px solid #e0e0e0;
	padding: 10px;
}


#item-mapping-table-tbody td{
	border: 1px solid #e0e0e0;
	padding: 10px;
}

#item-mapping-table-tbody label{
	font-weight: normal;
}

.header-info p{
	color: #000;
	margin-left: 30px;	
}

#prices-container label{
	display: block;
}

#prices-container {
	width:100%;
	float: left;
}
#store-container {
	width:100%;
	float: left;
}
#store-container label{
	display: block;
}

#department-categories-container label{
	display: block;
}

.displayblock {
	display: block !important;	
}
#warehouse-container {
	width:100%;
	float: left;
}

#warehouse-container label{
	display: block;
}
#modifier-container{
	width:100%;
	float: left;
}
#modifier-container label{
	display: block;
}

.inventory-table{
	padding: 0 20px;
	overflow-y: auto;
	height: 490px; 
}
#pricelist-container{
	width:100%;
	float: left;
}
#pricelist-container label {
	display: block;
}
#roles-container{
	width:100%;
	float: left;
}
#roles-container label{
	display: block;
}
#event-notifier-container{
	width:100%;
	float: left;
}
#event-notifier-container label{
	display: block;
}

#company-details p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 130px;
}

.header-store{
	width: 56%;  
    padding: 0 20px;
    float: left;
    clear: both
}
#pricelist-sales-purchase{
	width:100%;
	float: left;
}

#menu-container .left-input{
	width: 100%;
}

#modifier-group-container{
	height: 290px;
	overflow-y: auto;
}

#multiple-tax-rate-container thead {
	background: #e5e5e5 none repeat scroll 0 0;
	font-weight: 700;
}

#display-tax-name{
	background: #fff;
	border: 0 none;
	
}

#display-tax-name input{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) white !important;
}

.role-category-menu
{
	font-weight: bold;
	font-size: 16px !important;
	padding: 0 0 0 40px;	
}

.role-category-menu input 
{
	vertical-align:middle; 
	margin:0px; 
}

.role-sub-menu 
{
	padding: 0 0 0 68px;
	margin-bottom: 10px !important;
}

.role-sub-menu label
{
	font-weight:normal;
	font-size:14px;
}

/*ZERO DATA CSS */
#no-data div{
	text-align: center;	
	padding-bottom:15px; 
}

#no-data button, #no-data button:hover, #no-data button:focus{
	padding: 15px 50px;
	background: none repeat scroll 0 0 #007aff !important;
    border-color: #007aff;
    color: #fff;
}

.no-data-icon {
	height:180px; 
	padding:40px 0;
}

.no-data-icon .glyphicons:before {
	font: 100px/1em "Glyphicons Regular";
}

.no-data-icon .glyphicons {
	padding-left: 100px !important;
}

.no-data-icon-container {
	display:inline-block;
	margin: 15px
}

#additional-emails-plus .glyphicons:BEFORE {
	font: 14px/1em "Glyphicons Regular";
}

#additional-emails-minus .glyphicons:BEFORE {
	font: 14px/1em "Glyphicons Regular";
}

#additional-emails-minus, #additional-emails-plus{
	cursor: pointer;
}

#add-item-mapping-button{
	background-color: #007aff !important;
	border-color:  #007aff !important;
	color: #fff;
}

/* report framework css */
.report-field-error-cue {
	border-color : #f2dede;
	background-color: #ebccd1;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* Loyalty Program Page */
div.loyalty-rules table th, div.loyalty-rules table td {
	
	padding: 5px;
	white-space: nowrap;
}

div.loyalty-rules button {
	
	padding: 5px;
	
}

div.loyalty-rules input, div.loyalty-rules select {
	
	padding: 5px;
	
}

/* Custom labels: the container */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /*font-size: 17px;*/		    
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    
    float: left;
  	margin-right: 20px;
  	padding-top: 5px;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkcontainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
    
    border-style: solid;
  	border-width: 2px;
  	border-color: gray;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    /*background-color: #2196F3;*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkcontainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.checkcontainer .radiobtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
  
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkcontainer input:focus ~ .radiobtn{
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
  /* background-color: #2196F3; */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkcontainer .radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3d3d3d;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .view-report div.form-group {
    display: block;
  }
}
