html
{
	overflow: auto;
}

body
{
	overflow: visible;
}

html, body
{
	height: 100%;
	width: 100%;
}

p
{
 	margin: 0px;
}

.backoffice-template-container
{
	min-height: 100%;
}

.backoffice-template-container:after
{
	clear: both;
}

.backoffice-template-container > div
{
	min-height: 100%;
}

.backoffice-template-container > div:first-child
{
	float: left;
}

.backoffice-template-left-sidebar
{
	width: 200px;
	background-color: #3d3d3d;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
}

.backofice-template-company-details, .backoffice-template-breadcrumb
{
	border-bottom: 1px solid #aaa;
	height: 50px;
	position: fixed;
	top: 0;
}

.backofice-template-company-details
{
	width: 200px;
	background-color: #3d3d3d;
	z-index: 55;
}

.backofice-template-company-details #company-details
{
	font-size:13px;
	line-height: 15px;
}

.backoffice-template-breadcrumb
{
	background-color: #fff;
	z-index: 55;
}

.backoffice-template-breadcrumb, .backoffice-template-message-container
{
	/* left: 0;
	right: 0; */
}

.backoffice-template-main-content
{
	margin-left: 200px;
}

.backoffice-template-message-container
{
	position: fixed;
	top: 50px;
	text-align: center;
	z-index: 50;
}

.backofice-template-company-details > div
{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0;
}

.backofice-template-company-details img
{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: 0px 6px;
}

.backofice-template-menu-container
{
	/* margin-top: 50px; */
}

.backofice-template-menu-container ul
{
	font-size: 15px;
	list-style: none;
	padding-left: 0;
	margin: 10px 0;
}

.backofice-template-menu-container li
{
	padding: 6px 15px;
	cursor: pointer;
	position: relative;
}

.backofice-template-menu-container li:hover, .backofice-template-menu-container li.active
{
	background-color: #007aff;
}

.backofice-template-menu-container li:hover .hover-menu
{
	display: block;
}

.backofice-template-menu-container a, .backofice-template-menu-container a:hover, .backofice-template-menu-container a:focus
{
	color: #fff;
	text-decoration: none
}

.backofice-template-menu-container i.glyphicons:before
{
	color: #fff;
	font: 15px/1em 'Glyphicons Regular';
	margin-top: 1px;
	position: initial;
}

.backofice-template-menu-container i.glyphicons
{
	vertical-align: text-top;
	padding-left: 0px;
	position: initial;
	padding-right: 8px;
}

.backoffice-template-breadcrumb > div
{
    height: inherit;
    display: table;
}

.backoffice-template-breadcrumb > div > div
{
	display: table-cell;
    vertical-align: middle;
}

.backoffice-template-breadcrumb > div .left-sided
{
	text-align: left;
}


.backoffice-template-breadcrumb > div .right-sided
{
	text-align: right;
}

.hide-sidebar-icon-container
{
	padding: 5px 10px 50px;
	text-align: right;
}

.hide-sidebar-icon-container i.glyphicons:before
{
	color: #fff;
	font: 24px/1em 'Glyphicons Regular';
}

.hide-sidebar-icon-container i.glyphicons
{
	cursor: pointer;
}

.hover-menu {
    background-color: #1a1a1a;
    border: 2px solid #ccc;
    border-radius: 5px;
    left: 40px;
    padding: 5px 6px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    display: none;
    z-index: 100;
}

#backoffice-template-breadcrumb-container .left-sided .master, #backoffice-template-breadcrumb-container .left-sided .dashboard
{
	padding-left: 10px;
	font-size: 22px;
}

#backoffice-template-breadcrumb-container .right-sided .detail, #backoffice-template-breadcrumb-container .right-sided .view
{
	margin-right: 5px;
}

.tooltip-company-details
{
    display: none !important;
    background-color: #eee;
    border:	2px solid #aaa;
    border-radius: 5px;
    color: #1a1a1a;
    white-space: nowrap;
    position: absolute;
    padding: 5px 10px;
}

.backofice-template-company-details:hover .tooltip-company-details
{
	display: block !important;
	z-index: 75;
}

.main-body-container
{
	z-index: 25px;
	margin-top: 50px;
	position: relative;
	/* position: absolute;
	left: 200px;
	right: 0px; */
}

#master
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.company-popup-info:before {
    border-bottom: 15px solid #ccc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    left: 20px;
    position: absolute;
    top: -15px;
}

.company-popup-info {
    background-color: #ccc;
    border-radius: 5px;
    color: #1a1a1a;
    left: 25px;
    padding: 10px 15px;
    position: absolute;
    top: 40px;
    width: 250px;
}

.company-popup-info > div
{
	margin: 5px 0;
}

.company-popup-info-header
{
	margin-bottom: 15px !important;
}

.company-popup-info-clock
{
	margin-bottom: 15px !important;
}

.company-popup-info-details
{
	margin-bottom: 15px !important;
}

.company-popup-info-action-buttons
{
	text-align: center;
}

.company-popup-info-header div
{
	display: inline-block;
}

.company-popup-info-header div + div
{
	float: right; 
}

.company-popup-info-header .glyphicons:before
{
	font: 20px/1em 'Glyphicons Regular';
	vertical-align: sub;
	padding-right :10px;
}

.company-popup-info-header .glyphicons {
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
    /* padding-left: 30px; */
}

.company-popup-info-detail
{
	display: table;
    width: 100%;
}

.company-popup-info-detail > p
{
	display: table-cell;
	table-layout: fixed;
	width: 75px;
}

.company-popup-info-detail > p + p
{
	width: auto;
}

#backofice-template-company-details .company-popup-info
{
	display: none;
}

#backofice-template-company-details:hover .company-popup-info
{
	display: block;
}

.view-action-buttons {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0px;
    position: absolute;
    right: 5px;
    top: 49px;
}

.view-action-buttons > ul {
    list-style: none outside none;
    text-align: left;
    padding-left: 0px;
    margin-bottom: 0px;
}

.view-action-buttons i.glyphicons
{
	padding: 0 10px;
}

.view-action-buttons i.glyphicons:before
{
	font: 15px/1em 'Glyphicons Regular';
	top: -10px;
}

.view-action-buttons li {
    padding: 5px 10px;
}

.view-action-buttons li:hover {
    background-color: #BCDEFF;
}

.view-action-buttons a, .view-action-buttons a:hover, .view-action-buttons a:focus
{
	text-decoration: underline;
}

.backoffice-btn-view-actions i
{
	vertical-align: top; 
	font-size: 18px; 
	padding-left: 4px;
}

#company-details button.close
{
	padding-top: 6px;
}


#backoffice-template-left-sidebar{
	position: fixed;
}