
.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.ms-choice {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #444;
    cursor: pointer;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}
.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.ms-choice > span {
    display: block;
    left: 0;
    overflow: hidden;
    padding-left: 8px;
    position: absolute;
    right: 20px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}
.ms-choice > span.placeholder {
    color: #999;
}
.ms-choice > div {
    background: rgba(0, 0, 0, 0) url("../images/multiple-select.png") no-repeat scroll left top;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.ms-choice > div.open {
    background: rgba(0, 0, 0, 0) url("../images/multiple-select.png") no-repeat scroll right top;
}
.ms-drop {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #000;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.ms-drop.bottom {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    top: 100%;
}
.ms-drop.top {
    bottom: 100%;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}
.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}
.ms-search input {
    background: url("../images/multiple-select.png") no-repeat scroll 100% -22px, rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , white 85%, #eeeeee 99%) repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 0;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 1em;
    height: auto !important;
    margin: 0;
    min-height: 24px;
    outline: 0 none;
    padding: 0 20px 0 5px;
    width: 100%;
}
.ms-search, .ms-search input {
    box-sizing: border-box;
}
.ms-drop ul {
    margin: 0;
    overflow: auto;
    padding: 5px 8px;
}
.ms-drop ul > li {
    background-image: none;
    display: list-item;
    list-style: outside none none;
    position: static;
}
.ms-drop ul > li .disabled {
    opacity: 0.35;
}
.ms-drop ul > li.multiple {
    display: block;
    float: left;
}
.ms-drop ul > li.group {
    clear: both;
}
.ms-drop ul > li.multiple label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.ms-drop ul > li label {
    display: block;
    font-weight: normal;
    white-space: nowrap;
}
.ms-drop ul > li label.optgroup {
    font-weight: bold;
}
.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}
.ms-drop .ms-no-results {
    display: none;
}
