#main-container {
    height: 100%;
}

div.row-container, div.column-container {
	display: table;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	position: relative;
}

div.row-container>div {
	display: table-row;
	margin: 0;
	padding: 0;
}

div.row-container>div.row:before, div.row-container>div.row:after {
	content: none;
}

div.column-container>div, div.row-container>div.row>div {
	display: table-cell;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}

/* purchase */
.purchase {			
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;				
}

.purchase .cart-line-table, .purchase .cart-total-table {
	width: 100%;
	border-collapse: collapse;
}

.purchase .cart-line-table {
	font-size: 14px;
	border:solid 1px;	
}

.purchase .cart-line-table th {
	color: #FFFFFF;
	background: #666666;
	height: 30px;
	border-color: #FFF;
	border-right: solid 1px;
	padding:4px 10px
}

.purchase .cart-line-table td {
	border:solid 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #666;
	padding:4px 10px;
	vertical-align: top;
}

.purchase .alternate-row {
	background-color:#EBEBEB;
}

.purchase .cart-total-table {	
}

.purchase input[type=text], .purchase select {
	border:solid 1px #666;
}

.purchase .supplier-table {
	position: absolute;
    top: 0px;
}

.purchase .purchase-details-table {
	position: absolute;
    right: 0px;
    top: 0px;;
}

.purchase .supplier-table td, .purchase .purchase-details-table td, .purchase .cart-total-table td {
	padding: 4px 0px;
}


.purchase-details-table .dropdown-menu {
	left:-45px !important;
}

.purchase .bold {
	font-size: 16px;
    font-weight: bold;
}

.purchase .cart-container {
	position: absolute;
    left: 20px;
    right: 20px;
    bottom: 188px;
    top: 225px;
    overflow: auto;
}

.purchase .cart-lines {
	position: absolute;
    bottom: 0;
    top: 35px;
    left: 0;
    right: 0;
    overflow: auto;
}

.purchase td.box-no {
	border: solid 1px;
    font-weight: bold;	
}

.purchase .remove-line-button {
	font-size: 20px;
	padding: 4px 6px;
}

.purchase .promise-date-button, .delivery-date-button {
	font-size: 20px;
 			border-color: #666;
}

/* utils */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#modal, #modal-add-product-to-pricelist, #modal-receive-items {
	position: absolute;
    background-color: rgba(0, 0, 0, 0.19);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;			
}

#spinner {
	font-size: 24px;
 			position: absolute;
 			top: 50%;
}

.header-icons {
	float: left;
 			font-size: 20px;
 			padding-right: 9px;
 			padding-top: 5px;
 			color: #007AFF;
}

.purchase .highlighted {
  background-color: #bbb8b8e3 !important;
}

.add-column, .remove-column{
	top: -4px;
	position: absolute;
	margin-left: 2px;
}

.purchase .dropdown-menu.ng-isolate-scope {
	max-height: 90%;
	overflow: auto;
}

.purchase .receive-items-manually .dropdown-menu.ng-isolate-scope {	
	max-height: 500px;
    overflow: auto;
}

.purchase .highlightPercentageProfitMargin {
  background-color: yellow !important;
}
	
			
			
			